In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

# import sklearn
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.feature_extraction.text import TfidfVectorizer  # TF-IDF
from sklearn.preprocessing import scale
from sklearn.decomposition import TruncatedSVD
from sklearn.decomposition import NMF
from sklearn.metrics.pairwise import cosine_similarity

import nltk
from nltk.corpus import stopwords 
from nltk.stem import LancasterStemmer, PorterStemmer
from nltk.stem import WordNetLemmatizer
import spacy #for faster tokenization and lemmatization

from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

import re
import string

#import project4_functions - rewrite?

%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
#also stored in sqlite database?

## Load and explore data

In [3]:
bbcdata = pd.read_json('/Users/xinrucheng/Documents/Metis_bootcamp/week_9/project5data/2017_140k/bbccouk-recipes.json', lines = True)
#ValueError: Trailing data
#JSON file has multiple lines, lines = True, or for loop:
#with open('your.json', 'rb') as f:
#    data = f.readlines()

In [4]:
bbcdata.shape
#has more recipes than image set! 10600, only 2225 have images
#photo url doesn't work, but recipe url does

(10599, 17)

In [5]:
bbcdata.head()

,chef,chef_id,cooking_time_minutes,description,error,ingredients,instructions,instructions_detailed,photo_url,preparation_time_minutes,program,program_id,serves,time_scraped,title,total_time_minutes,url
0,James Tanner,james_tanner,10,,False,"[250g/8¾oz plain flour, plus extra for dusting...","[Preheat the oven to 200C/400F/Gas 6., For the...","[{'ingredient': 'plain flour', 'line': '250g/8...",None,30,Ready Steady Cook,b006vcgr,1,1499227761,Ten-minute pizza,40,http://bbc.co.uk/food/recipes/10minutepizza_87314
1,Mary Berry,mary_berry,0,This is my standby pasta supper as it is so de...,False,"[350g/12oz penne pasta, 2 x 80g/3oz packs Parm...",[Cook the pasta in a pan of boiling salted wat...,"[{'ingredient': 'pasta', 'line': '350g/12oz pe...",http://ichef.bbci.co.uk/food/ic/food_16x9_608/...,30,Mary Berry Cooks,p01s4q10,6,1499227763,15 minute pasta,30,http://bbc.co.uk/food/recipes/15_minute_pasta_...
2,Mari Williams,mari_williams,0,Simple 3D iced biscuits inspired by Bake Off. ...,False,"[200g/7oz unsalted soft butter, 200g/7oz caste...","[To make the basic dough, line a baking tray w...","[{'ingredient': 'butter', 'line': '200g/7oz un...",http://ichef.bbci.co.uk/food/ic/food_16x9_608/...,30,The Great British Bake Off,b013pqnm,0,1499227766,3D biscuits,30,http://bbc.co.uk/food/recipes/3d_biscuits_29555
3,Justine Pattison,justine_pattison,0,This easy turkey crown recipe is served with s...,False,[2.5kg/5lb 8oz turkey crown (fully thawed if f...,"[Preheat the oven to 220C/200C Fan/Gas 7., For...","[{'ingredient': 'turkey', 'line': '2.5kg/5lb 8...",http://ichef.bbci.co.uk/food/ic/food_16x9_608/...,30,None,None,6,1499227765,2-hour Christmas dinner,30,http://bbc.co.uk/food/recipes/2_hour_christmas...
4,Ainsley Harriott,ainsley_harriott,0,Rib-eye is one of the most flavoursome cuts of...,False,"[2.25kg/5lb rib-eye of beef, boned and rolled,...",[Place the rib-eye of beef into a large non-me...,"[{'ingredient': None, 'line': '2.25kg/5lb rib-...",None,120,Great British Food Revival,b016pbs9,8,1499227769,Mustard and thyme crusted rib-eye of beef,120,http://bbc.co.uk/food/recipes/_81487

In [6]:
bbcdata.info() #no nulls in text columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10599 entries, 0 to 10598
Data columns (total 17 columns):
chef                        10599 non-null object
chef_id                     10599 non-null object
cooking_time_minutes        10599 non-null int64
description                 10599 non-null object
error                       10599 non-null bool
ingredients                 10599 non-null object
instructions                10599 non-null object
instructions_detailed       10599 non-null object
photo_url                   2225 non-null object
preparation_time_minutes    10599 non-null int64
program                     9626 non-null object
program_id                  9626 non-null object
serves                      10599 non-null int64
time_scraped                10599 non-null int64
title                       10599 non-null object
total_time_minutes          10599 non-null int64
url                         10599 non-null object
dtypes: bool(1), int64(5), object(11)
memory usage: 1.3+ MB

In [7]:
#drop columns, only keep title, description, ingredients, instructions, instructions_detailed (has ingredients) and url for now

In [8]:
bbcdata.iloc[1]['instructions_detailed'] #looks like ingredients? saved as list of dict

[{'ingredient': 'pasta', 'line': '350g/12oz penne pasta'},
 {'ingredient': 'ham',
  'line': '2 x 80g/3oz packs Parma ham, snipped into small pieces'},
 {'ingredient': 'chestnut mushrooms',
  'line': '250g/9oz small brown chestnut mushrooms, halved or quartered'},
 {'ingredient': 'crème fraîche', 'line': '200g/7oz full-fat crème fraîche'},
 {'ingredient': 'Parmesan', 'line': '100g/3½oz Parmesan, grated'},
 {'ingredient': 'parsley', 'line': '2 tbsp chopped parsley'},
 {'ingredient': 'pepper', 'line': 'salt and pepper, to taste'},
 {'ingredient': 'salad', 'line': 'green salad'},
 {'ingredient': 'bread', 'line': 'crunchy bread'}]

In [9]:
bbcdata.iloc[1]['ingredients'] #easier to clean than the above, use this column

['350g/12oz penne pasta',
 '2 x 80g/3oz packs Parma ham, snipped into small pieces',
 '250g/9oz small brown chestnut mushrooms, halved or quartered',
 '200g/7oz full-fat crème fraîche',
 '100g/3½oz Parmesan, grated',
 '2 tbsp chopped parsley',
 'salt and pepper, to taste',
 'green salad',
 'crunchy bread']

In [10]:
bbcdata.iloc[1]['instructions']

['Cook the pasta in a pan of boiling salted water according to the packet instructions. Drain and set aside',
 'Heat a frying pan until hot. Add the pieces of Parma ham and fry until crisp, remove half of the ham onto a plate and set aside. Add the mushrooms to the pan and fry for two minutes. Add the crème fraîche and bring up to the boil. Add the pasta, Parmesan and parsley and toss together over the heat. Season well with salt and pepper.',
 'Serve with a green salad and crunchy bread.']

## Get topics 
### Vectorize recipe titles

In [11]:
titles = bbcdata['title']
type(titles)

pandas.core.series.Series

In [12]:
#remove digits
def regex_nodigits(s):
    '''use regex to clean string: 
    get rid of numbers, punctuations and capitalized letters''' 
    s = re.sub(r'[\d]','',str(s).lower())#convert to lower case, replace digits with empty str
    s = re.sub(r'[^a-z]',' ',str(s))#replace puctuations with space
    return s

In [13]:
cleaned_t=titles.apply(regex_nodigits)
cleaned_t.head()

0                              ten minute pizza
1                                  minute pasta
2                                   d biscuits
3                         hour christmas dinner
4    mustard and thyme crusted rib eye of beef
Name: title, dtype: object

#### Count Vectorizer

In [14]:
#countVectorizer 
#Converts a collection of text documents to a matrix of token counts
#input is expected to be the sequence strings or bytes items are expected to be analyzed directly.

In [15]:
#start with standard nltk stopwords
stopwords_nltk = stopwords.words('english')

In [16]:
corpus = cleaned_t
ct_vectorizer = CountVectorizer(stop_words=stopwords_nltk)

titles_ct = ct_vectorizer.fit_transform(corpus)
print(ct_vectorizer.get_feature_names())

['aberdeen', 'abundant', 'acacia', 'ackee', 'adaptable', 'ade', 'adhraki', 'adobo', 'adraki', 'aduki', 'affogato', 'african', 'aged', 'aglio', 'agnello', 'ahead', 'aioli', 'ais', 'aji', 'ajillo', 'ajitsuke', 'ajo', 'ajwain', 'al', 'alaska', 'albanian', 'albert', 'albondigas', 'alcoholic', 'ale', 'alert', 'alfredo', 'alla', 'alle', 'alloro', 'allspice', 'almond', 'almondine', 'almonds', 'almondy', 'aloo', 'alpine', 'alsatian', 'alternative', 'amann', 'amaretti', 'amaretto', 'amarillo', 'amatriciana', 'amazing', 'ambassadeur', 'ambassador', 'amber', 'american', 'amoul', 'anatra', 'ancho', 'anchovade', 'anchovies', 'anchovy', 'ancienne', 'andalucian', 'angel', 'angela', 'anglais', 'anglaise', 'anglesey', 'anguilla', 'anise', 'aniseed', 'annika', 'anolini', 'antony', 'anya', 'aperitivo', 'apple', 'apples', 'apricot', 'apricots', 'arabian', 'aragon', 'arancine', 'arancini', 'arbequina', 'arbroath', 'arctic', 'arlettes', 'armagnac', 'arnaise', 'arnold', 'aromatic', 'arrabbiata', 'arrabiata', 'arrabiatta', 'arroz', 'arselle', 'artichoke', 'artichokes', 'asaparagus', 'asian', 'asparagus', 'aster', 'atar', 'au', 'aubergine', 'aubergines', 'aussie', 'authentic', 'autumn', 'auvergne', 'aux', 'avgolemono', 'avial', 'avocado', 'avocados', 'ayam', 'aztec', 'baba', 'babas', 'babka', 'baby', 'baccal', 'back', 'bacon', 'bag', 'bagel', 'bagels', 'bagna', 'bagnat', 'baguette', 'baguettes', 'bake', 'baked', 'bakes', 'bakewell', 'baklava', 'balinese', 'ball', 'balls', 'balm', 'balsamic', 'balti', 'baltic', 'bamboo', 'banana', 'bananas', 'bandera', 'bang', 'bangers', 'bangladeshi', 'banh', 'banoffee', 'bao', 'bar', 'bara', 'barbary', 'barbecue', 'barbecued', 'barbied', 'barcoletta', 'barigoule', 'bark', 'barley', 'barmbrack', 'barnsley', 'barquettes', 'barramundi', 'barrel', 'bars', 'base', 'bashed', 'basic', 'basil', 'basket', 'baskets', 'basmati', 'basque', 'bass', 'bastilla', 'batons', 'battenberg', 'batter', 'battered', 'bauble', 'baubles', 'bavarian', 'bavette', 'bay', 'bayonne', 'bbq', 'beachside', 'bean', 'beans', 'beansprout', 'beansprouts', 'beany', 'bearnaise', 'beccafico', 'bed', 'beef', 'beefburger', 'beehive', 'beer', 'beet', 'beetroot', 'beetroots', 'beets', 'begendi', 'beggars', 'beignets', 'belgian', 'believe', 'bellini', 'belly', 'belts', 'ben', 'benedict', 'bengal', 'bengali', 'bennett', 'bergamot', 'berkswell', 'berries', 'berry', 'besan', 'bessara', 'best', 'beurre', 'bhaji', 'bhajia', 'bhajis', 'bhindi', 'bhuna', 'bi', 'bianco', 'biber', 'bierocks', 'big', 'bigarade', 'bigos', 'biker', 'bikers', 'bill', 'bing', 'bircher', 'birthday', 'biryani', 'biscotti', 'biscuit', 'biscuits', 'bishop', 'bisque', 'bissau', 'bite', 'bites', 'bitter', 'bitterballen', 'black', 'blackbean', 'blackberries', 'blackberry', 'blackcurrant', 'blackcurrants', 'blackened', 'blackeye', 'blackwater', 'blade', 'blanc', 'blancmange', 'blancs', 'blanket', 'blankets', 'blanquette', 'bleu', 'blini', 'blinis', 'blondies', 'blood', 'bloody', 'bloomer', 'blow', 'blue', 'blueberries', 'blueberry', 'blush', 'blushed', 'boar', 'board', 'boat', 'boats', 'bobotie', 'boeuf', 'boiled', 'bois', 'bok', 'bokkeum', 'bolinhos', 'bologna', 'bolognaise', 'bolognese', 'bomb', 'bombay', 'bombs', 'bonbons', 'bone', 'bonfire', 'boozy', 'borage', 'bordelaise', 'boreks', 'borlotti', 'borsch', 'borscht', 'boston', 'boti', 'bottarga', 'boudran', 'bouillabaisse', 'boulang', 'boulangere', 'bourbon', 'bourguignon', 'bourride', 'bowl', 'bowls', 'bows', 'box', 'boxing', 'boxty', 'boys', 'br', 'braciole', 'braised', 'bramble', 'bramley', 'bran', 'branches', 'brandade', 'brandied', 'brandy', 'branzino', 'brassicas', 'bratwurst', 'bravas', 'brazil', 'brazils', 'bread', 'breadcrumb', 'breadcrumbed', 'breadcrumbs', 'breaded', 'breads', 'breadsticks', 'breakfast', 'bream', 'breast', 'breasts', 'bredie', 'bresaola', 'brest', 'bretonne', 'brick', 'bridie', 'brie', 'brik', 'brill', 'brined', 'brioche', 'brioches', 'brisbane', 'brisket', 'brith', 'british', 'brittle', 'brixton', 'broad', 'broccoli', 'brochette', 'brodo', 'broth', 'brothy', 'brown', 'brownie', 'brownies', 'browns', 'brunch', 'bruno', 'bruschetta', 'bruschettas', 'brushed', 'brussels', 'bubble', 'buccaneer', 'bucco', 'bucket', 'buckwheat', 'buco', 'buddha', 'buerre', 'buffalo', 'bulgar', 'bulgogi', 'bulgur', 'buljol', 'bun', 'bundles', 'bundt', 'bunny', 'buns', 'bunski', 'bunting', 'burger', 'burgers', 'burn', 'burnt', 'burrata', 'burrida', 'burrito', 'bursts', 'busara', 'butter', 'butterbean', 'butterbeans', 'buttercream', 'buttered', 'butterflied', 'butterfly', 'butteries', 'buttermilk', 'butternut', 'butters', 'butterscotch', 'buttery', 'butties', 'button', 'butty', 'cabbage', 'cabbge', 'cacciatora', 'cacciatore', 'cacio', 'caerphilly', 'caesar', 'cafriela', 'caipirosca', 'cajun', 'cake', 'cakes', 'calabrese', 'calamari', 'calda', 'caldeirada', 'caldo', 'calf', 'californian', 'callaloo', 'calvados', 'calves', 'calypso', 'calzone', 'cambozola', 'camembert', 'canadian', 'canap', 'canapes', 'cancalaise', 'candied', 'candy', 'cane', 'cannellini', 'cannelloni', 'cannon', 'canterbury', 'cantonese', 'cao', 'cape', 'caper', 'capers', 'caponata', 'cappellacci', 'capperi', 'cappuccino', 'caprese', 'capricorn', 'captain', 'caramel', 'caramelised', 'caramelized', 'caramels', 'caraway', 'carbonara', 'carbonnade', 'cardamom', 'cardamon', 'caribbean', 'carlina', 'carlo', 'carne', 'carol', 'carpaccio', 'carpet', 'carrot', 'carrots', 'carrozza', 'case', 'cashel', 'cashew', 'cashews', 'cassava', 'casserole', 'cassis', 'cassoulet', 'catalan', 'catalonian', 'cauda', 'cauliflower', 'cavalo', 'cavatelli', 'caviar', 'cavolo', 'cawl', 'cayenne', 'celariac', 'celebration', 'celeriac', 'celery', 'celtic', 'centred', 'cep', 'ceps', 'ceviche', 'chaap', 'chaat', 'chai', 'cham', 'chamel', 'champ', 'champagne', 'chana', 'chantenay', 'chanterelle', 'chanterelles', 'chantilly', 'chapati', 'chapatis', 'chapel', 'chappatis', 'char', 'charcoal', 'charcuti', 'chard', 'chardonnay', 'charentais', 'chargrilled', 'charlotte', 'charlottes', 'charred', 'chartreuse', 'chashu', 'chasseur', 'chat', 'chateaubriand', 'chaussons', 'chavignol', 'che', 'cheat', 'cheats', 'cheaty', 'cheddar', 'cheek', 'cheeks', 'cheese', 'cheeseburger', 'cheeseburgers', 'cheesecake', 'cheesecakes', 'cheeses', 'cheesesteak', 'cheesy', 'chef', 'chelsea', 'chemmeen', 'chen', 'chermoula', 'cherries', 'cherry', 'chervil', 'cheshire', 'chestnut', 'chestnuts', 'chettinad', 'chewy', 'chia', 'chicken', 'chickens', 'chickpea', 'chickpeas', 'chicory', 'chiffon', 'childhood', 'chili', 'chilled', 'chilli', 'chillies', 'chimichanga', 'chimichurri', 'chimneys', 'chinese', 'ching', 'chingri', 'chip', 'chipolatas', 'chipotle', 'chips', 'chiu', 'chive', 'chives', 'chlodnik', 'chocolat', 'chocolate', 'chocolates', 'choi', 'cholent', 'chop', 'chopped', 'chops', 'chorizo', 'choron', 'choucroute', 'choux', 'chow', 'chowder', 'choy', 'chris', 'christian', 'christmas', 'christophine', 'chump', 'chunks', 'chunky', 'chupe', 'churn', 'churros', 'chutney', 'ciabatta', 'ciambellone', 'cider', 'cinder', 'cinnamon', 'cipolle', 'citron', 'citrus', 'clafoutis', 'clair', 'clairs', 'clam', 'clams', 'clap', 'clapshot', 'classic', 'claws', 'clear', 'cleaves', 'clement', 'clementine', 'clementines', 'clements', 'clock', 'clootie', 'clotted', 'cloud', 'clove', 'cloves', 'club', 'coarse', 'coated', 'cob', 'cobbled', 'cobbler', 'cobnut', 'cobnuts', 'cock', 'cockle', 'cockles', 'cocktail', 'coco', 'cocoa', 'coconut', 'cocotte', 'cod', 'coddled', 'codfish', 'coffee', 'coins', 'cointreau', 'cola', 'colada', 'colatura', 'colcannon', 'cold', 'coleslaw', 'coley', 'collar', 'colonel', 'colossal', 'comforting', 'comp', 'compost', 'compote', 'con', 'concasse', 'cond', 'confit', 'consomm', 'contaldo', 'continental', 'cook', 'cooked', 'cooker', 'cookie', 'cookies', 'cooler', 'coorg', 'coq', 'coquilles', 'cordial', 'cordon', 'coriander', 'corn', 'cornbread', 'corned', 'cornish', 'cornmeal', 'coronation', 'cos', 'cote', 'cotswold', 'cotta', 'cottage', 'cou', 'coulibiac', 'coulis', 'country', 'courgette', 'courgettes', 'courgetti', 'couronne', 'couscous', 'cow', 'coxes', 'cr', 'crab', 'crabcakes', 'crabs', 'cracked', 'crackers', 'crackle', 'crackling', 'cracklings', 'cranachan', 'cranberries', 'cranberry', 'crayfish', 'cream', 'creamed', 'creams', 'creamy', 'creation', 'crema', 'cremat', 'cremosa', 'creole', 'cress', 'crisp', 'crispbread', 'crisps', 'crispy', 'cro', 'crocodile', 'croissant', 'croissants', 'croque', 'croquembouche', 'croquetas', 'croquette', 'croquettes', 'cross', 'crostini', 'crottin', 'croustade', 'croustades', 'croustillant', 'croute', 'croutes', 'crouton', 'croutons', 'crowd', 'crown', 'crudite', 'crudites', 'crudo', 'crumb', 'crumbed', 'crumble', 'crumbled', 'crumbs', 'crumpet', 'crumpets', 'crunch', 'crunched', 'crunchies', 'crunchy', 'crush', 'crushed', 'crust', 'crusted', 'crusty', 'crystallised', 'csa', 'cuba', 'cuban', 'cucumber', 'cucumbers', 'cullen', 'cumberland', 'cumin', 'cup', 'cupboard', 'cupcakes', 'cups', 'curd', 'cured', 'curly', 'currant', 'currants', 'curranty', 'curried', 'currimbhoy', 'curry', 'custard', 'customised', 'cut', 'cutless', 'cutlet', 'cutlets', 'cuttlefish', 'cypriot', 'da', 'daab', 'dacquoise', 'dad', 'daikon', 'daiquiri', 'dal', 'damper', 'dampfnudel', 'damson', 'dandelion', 'dangs', 'danish', 'danishes', 'dappy', 'dark', 'darnes', 'dashi', 'date', 'dates', 'daube', 'dauphinoise', 'daurade', 'day', 'de', 'decker', 'deconstructed', 'deep', 'deer', 'definitive', 'delhi', 'delia', 'delice', 'delicious', 'delight', 'deluxe', 'dengaku', 'dentdale', 'dermot', 'derry', 'design', 'designer', 'dessert', 'devil', 'devilish', 'devilled', 'devils', 'devon', 'devonshire', 'dhal', 'dhansak', 'di', 'diamond', 'diamonds', 'diane', 'diced', 'dick', 'digger', 'diggers', 'dijon', 'dill', 'dillisk', 'dim', 'ding', 'dinner', 'dip', 'dipped', 'dipper', 'dippers', 'dipping', 'dips', 'dirty', 'disco', 'dish', 'diy', 'dobos', 'dolcelatte', 'dolmades', 'doner', 'dong', 'donuts', 'doorstep', 'dopiaza', 'doris', 'dory', 'dosa', 'double', 'dough', 'doughballs', 'doughnut', 'doughnuts', 'douglas', 'dovedale', 'dover', 'dowdy', 'dragon', 'dragoncella', 'drambuie', 'dream', 'dreamlike', 'dress', 'dressed', 'dressing', 'dried', 'drink', 'dripping', 'drizzle', 'drizzled', 'drizzly', 'drop', 'dropped', 'drowned', 'drumstick', 'drumsticks', 'drunken', 'dry', 'duchess', 'duchesse', 'duck', 'duckling', 'duff', 'duja', 'dukkah', 'dulce', 'dulse', 'dum', 'dumpling', 'dumplings', 'dundee', 'duo', 'dust', 'dusted', 'dwarf', 'ear', 'earl', 'ears', 'east', 'easter', 'eastern', 'easy', 'eccles', 'ed', 'edamame', 'eeda', 'eel', 'eels', 'egg', 'eggnog', 'eggs', 'eggy', 'egyptian', 'eight', 'el', 'elderberry', 'elderflower', 'elizabeth', 'elizabethan', 'emergency', 'emilion', 'emmental', 'empanada', 'empanadas', 'emulsion', 'en', 'enchiladas', 'encrusted', 'end', 'endive', 'energy', 'england', 'english', 'enoki', 'entremets', 'es', 'escabeche', 'escalope', 'escalopes', 'escargot', 'escarole', 'escovitch', 'espresso', 'essence', 'essex', 'estonian', 'eton', 'european', 'evans', 'eve', 'ever', 'everlasting', 'everyday', 'ewes', 'exceptional', 'exotic', 'express', 'expressed', 'extra', 'extraordinary', 'extravagant', 'eye', 'eyed', 'fa', 'fabulous', 'faced', 'faggot', 'faggots', 'fagioli', 'fail', 'fairy', 'fajita', 'fajitas', 'falafel', 'falafels', 'family', 'fancies', 'faraizi', 'farci', 'farfalle', 'farinata', 'farl', 'farls', 'farmhouse', 'farthing', 'faschierter', 'fashioned', 'fast', 'fat', 'fatless', 'fattoush', 'favourite', 'fazool', 'feast', 'feather', 'feathered', 'fed', 'feed', 'feet', 'fegato', 'feijoada', 'fennel', 'fenugreek', 'feria', 'fermented', 'fesenjoon', 'fest', 'festive', 'feta', 'fettuccine', 'feu', 'feuillete', 'fideu', 'fidget', 'field', 'fiery', 'fig', 'figgy', 'figs', 'filets', 'filled', 'fillet', 'filleto', 'fillets', 'filling', 'fillings', 'filly', 'filo', 'fin', 'financiers', 'find', 'fine', 'finely', 'finger', 'fingers', 'finished', 'finnish', 'finocchio', 'fior', 'fir', 'firecracker', 'fired', 'fish', 'fishcake', 'fishcakes', 'fisherman', 'fita', 'five', 'fix', 'fizz', 'fizzy', 'flageolet', 'flaked', 'flamb', 'flamed', 'flamenco', 'flan', 'flank', 'flaounes', 'flapjacks', 'flash', 'flat', 'flatbread', 'flatbreads', 'flatleaf', 'flattened', 'flavoured', 'flavours', 'flecked', 'fleur', 'flexible', 'float', 'floating', 'floral', 'florentine', 'florentines', 'florets', 'floss', 'flottante', 'flottantes', 'flour', 'flourless', 'flower', 'flowerpot', 'flowers', 'fluffy', 'flyers', 'foam', 'focaccia', 'foccacia', 'foil', 'fondant', 'fondants', 'fondue', 'fontina', 'foo', 'food', 'fool', 'foolproof', 'football', 'fore', 'forest', 'forestiere', 'form', 'forno', 'fortune', 'forty', 'foster', 'fougasse', 'four', 'fours', 'fowl', 'fra', 'fragrant', 'fraiche', 'frais', 'fraisier', 'fran', 'francais', 'frangipane', 'frango', 'freddo', 'free', 'freekeh', 'freewheeling', 'freeze', 'fregola', 'french', 'freschi', 'fresco', 'fresh', 'freshly', 'frestelse', 'fricass', 'fricasse', 'friday', 'fridge', 'fried', 'fries', 'frikadeller', 'fris', 'frites', 'frittata', 'frittatas', 'fritter', 'fritters', 'fritti', 'fritto', 'fromage', 'frond', 'frosted', 'frosting', 'froth', 'frozen', 'fruit', 'fruits', 'fruity', 'frutti', 'fry', 'frying', 'fu', 'fudge', 'fudgy', 'full', 'fum', 'funfetti', 'funghi', 'funky', 'fusilli', 'gado', 'gai', 'gala', 'galaktoboureko', 'galbi', 'galette', 'galettes', 'galician', 'galinha', 'gallega', 'gallina', 'gallo', 'gamberones', 'game', 'gamekeeper', 'gammon', 'ganache', 'ganoush', 'garage', 'garam', 'garden', 'garibaldi', 'garlic', 'garlicky', 'garnish', 'gateau', 'gazpacho', 'geisha', 'gelati', 'gelato', 'gem', 'general', 'genoa', 'genoise', 'genovese', 'gentleman', 'george', 'georgian', 'germain', 'german', 'getaway', 'gg', 'ghasemi', 'gherkin', 'ghoogra', 'ghost', 'ghotala', 'gianduia', 'giant', 'gift', 'gigantes', 'gilt', 'gilthead', 'gin', 'ginger', 'gingerbread', 'gingernut', 'girl', 'girolle', 'girolles', 'gl', 'glac', 'glam', 'glamming', 'glamorgan', 'glass', 'glaze', 'glazed', 'glitter', 'globe', 'glory', 'gloucester', 'gloucestershire', 'gluten', 'gnocchi', 'gnudi', 'goan', 'goat', 'goats', 'gobhi', 'gobi', 'godfather', 'goji', 'gold', 'golden', 'golek', 'gong', 'good', 'goodwood', 'gooey', 'goose', 'gooseberries', 'gooseberry', 'goosnargh', 'goreng', 'gorgonzola', 'gosht', 'goug', 'goujons', 'goulash', 'gourmet', 'graffiti', 'grain', 'grains', 'gran', 'grand', 'grandma', 'granger', 'granita', 'granny', 'grano', 'granola', 'granseola', 'grant', 'grape', 'grapefruit', 'grapes', 'grappa', 'grated', 'gratin', 'gratinated', 'gratins', 'gravad', 'gravadlax', 'gravalax', 'gravlax', 'gravy', 'great', 'greek', 'green', 'greengage', 'greengrocers', 'greens', 'gremolata', 'grenoble', 'grenobloise', 'gressingham', 'grey', 'gribiche', 'griddle', 'griddled', 'griglia', 'grill', 'grilled', 'griottine', 'grissini', 'grits', 'ground', 'grouse', 'gruy', 'gruyere', 'guacamole', 'guard', 'guava', 'guavas', 'gui', 'guilt', 'guinea', 'guinness', 'gujarati', 'gulab', 'gulasch', 'gulyas', 'gumbo', 'gunpowder', 'gurnard', 'gymkhana', 'gyoza', 'gypsy', 'ha', 'haddock', 'haggerty', 'haggis', 'hairy', 'haitian', 'hake', 'half', 'halibut', 'halloumi', 'halloween', 'halwa', 'ham', 'hand', 'handkerchief', 'hanger', 'hanncha', 'hanout', 'hara', 'hard', 'hardcore', 'haricot', 'harissa', 'harvest', 'harvey', 'hash', 'hasselback', 'hat', 'hawaiian', 'hay', 'hazelnut', 'hazelnuts', 'hazlenut', 'head', 'health', 'healthy', 'heart', 'hearts', 'hearty', 'heather', 'hedgehog', 'heel', 'heirloom', 'hemp', 'hen', 'henna', 'herb', 'herbed', 'herbelicious', 'herbs', 'herby', 'herd', 'hereford', 'herefordshire', 'heritage', 'herring', 'herrings', 'hidden', 'hide', 'highland', 'hispaniola', 'hispi', 'hive', 'hock', 'hocks', 'hogget', 'hoi', 'hoisin', 'hoki', 'hole', 'holes', 'hollandaise', 'hollywood', 'holstein', 'holy', 'home', 'homecoming', 'homemade', 'homestyle', 'homity', 'homme', 'honey', 'honeycomb', 'honeyed', 'honor', 'hopkinson', 'horns', 'horseback', 'horseradish', 'hot', 'hotdogs', 'hotpot', 'hounds', 'hour', 'house', 'huevos', 'hugh', 'hummus', 'hungarian', 'hunkar', 'husks', 'hyderabadi', 'ib', 'iberico', 'ice', 'iced', 'icelandic', 'ices', 'icing', 'iles', 'indian', 'individual', 'indo', 'indonesian', 'indulgence', 'indulgent', 'infused', 'inglese', 'ink', 'insalata', 'inspired', 'instant', 'intense', 'involtini', 'inzimino', 'iranian', 'irene', 'irish', 'isaan', 'ishtew', 'ishtu', 'island', 'islands', 'isle', 'israeli', 'issan', 'ital', 'italian', 'italiana', 'jack', 'jacket', 'jackets', 'jacob', 'jacques', 'jaffa', 'jaggery', 'jalape', 'jalapeno', 'jalfrezi', 'jalousie', 'jam', 'jamaican', 'jambalaya', 'james', 'jammy', 'jamon', 'jamun', 'jansson', 'january', 'japanese', 'jardiniere', 'jarlsberg', 'jasmine', 'jean', 'jellies', 'jelly', 'jenny', 'jerk', 'jersey', 'jerseys', 'jerusalem', 'jewel', 'jewelled', 'jhal', 'jhol', 'jian', 'joe', 'john', 'joint', 'jollof', 'jorge', 'josh', 'jowl', 'jug', 'juice', 'juices', 'julie', 'julienne', 'jumble', 'jumbo', 'jump', 'jungle', 'juniper', 'jus', 'ka', 'kabob', 'kachori', 'kachumber', 'kadaifi', 'kadhai', 'kadhi', 'kaffir', 'kai', 'kalamata', 'kale', 'kali', 'kanell', 'kapitan', 'kara', 'karara', 'karhai', 'kartoffelbrot', 'kasha', 'kashmiri', 'katsu', 'katy', 'kavaab', 'kebab', 'kebabs', 'kedgeree', 'kefta', 'kelp', 'kent', 'kentish', 'kerala', 'keralan', 'keralian', 'kernel', 'kerridge', 'ketchup', 'key', 'kha', 'khao', 'kharu', 'kheema', 'kheer', 'ki', 'kibbe', 'kichri', 'kick', 'kid', 'kidney', 'kidneys', 'kids', 'kiev', 'kievs', 'kimchi', 'kind', 'kinds', 'king', 'kipper', 'kippers', 'kisses', 'kitchen', 'kiteria', 'kites', 'kiwi', 'klippfisk', 'knickerbocker', 'knocking', 'knots', 'knuckle', 'kofta', 'koftas', 'kofte', 'kohlrabi', 'koji', 'koli', 'korean', 'korma', 'kosi', 'kouign', 'koulibiac', 'kozani', 'kransekake', 'krob', 'kroppkakor', 'kugelhopf', 'kulfi', 'kumquat', 'kumquats', 'la', 'labneh', 'lace', 'lacy', 'ladder', 'lady', 'lait', 'laksa', 'lamb', 'lambs', 'lancashire', 'landaise', 'langosi', 'langoustine', 'langoustines', 'languages', 'langues', 'lankan', 'lapsang', 'larb', 'lardo', 'lardons', 'lardy', 'large', 'lasagna', 'lasagne', 'lassi', 'last', 'late', 'latkes', 'latte', 'lattice', 'latvian', 'lau', 'lava', 'lavender', 'laverbread', 'lax', 'layer', 'layered', 'layers', 'lazy', 'lazybones', 'le', 'leaf', 'lean', 'leather', 'leaves', 'lebanese', 'lee', 'leek', 'leekie', 'leeks', 'leftover', 'leg', 'legs', 'legume', 'leicester', 'lemak', 'lemon', 'lemonade', 'lemongrass', 'lemons', 'lemony', 'lentil', 'lentils', 'lepur', 'les', 'less', 'lettuce', 'leves', 'levi', 'libre', 'licorice', 'lid', 'light', 'lighter', 'lightly', 'lime', 'limed', 'limes', 'limoncello', 'lincolnshire', 'ling', 'lingonberries', 'linguine', 'linguini', 'linseed', 'linzertorte', 'lion', 'liqueur', 'liquor', 'liquorice', 'little', 'liver', 'livers', 'lo', 'loaf', 'loaves', 'lobscouse', 'lobster', 'log', 'logs', 'loin', 'lokshen', 'lollies', 'lollipop', 'lollipops', 'lomo', 'london', 'londonderry', 'long', 'longhorn', 'lorraine', 'lotus', 'loubet', 'louisiana', 'lovage', 'love', 'lovers', 'low', 'lucia', 'lucy', 'luilakbollen', 'lunchbox', 'lune', 'luscious', 'lush', 'luxe', 'luxury', 'lychee', 'lychees', 'lyonnaise', 'mac', 'macadamia', 'macanese', 'macaroni', 'macarons', 'macaroon', 'macaroons', 'macchi', 'macchiato', 'mace', 'macerated', 'machchi', 'macher', 'mackerel', 'madagascan', 'madame', 'made', 'madeira', 'madeleines', 'maderia', 'madras', 'magic', 'mai', 'mainstay', 'maize', 'make', 'maki', 'mala', 'malai', 'malay', 'malaysian', 'maldivian', 'mallard', 'malone', 'malt', 'maltaise', 'malted', 'malvern', 'maman', 'mammole', 'mamon', 'mamoosa', 'man', 'manchego', 'manchester', 'mandarin', 'mandioca', 'mandorle', 'maneesh', 'mangalorean', 'mange', 'mangetout', 'mango', 'mangsho', 'maple', 'marble', 'marbled', 'margarita', 'margherita', 'marie', 'marinade', 'marinara', 'marinated', 'm

#### TF-IDF
TF-IDF = (Term Frequency) * (Inverse Document Frequency)

(how often word occurs in this doc) * inverse of (how often this word occurs in all documents)

In [17]:
tf_vectorizer = TfidfVectorizer(stop_words=stopwords_nltk)
titles_tfidf = tf_vectorizer.fit_transform(corpus)

print(tf_vectorizer.get_feature_names()) #resulting tokens very similar to above

['aberdeen', 'abundant', 'acacia', 'ackee', 'adaptable', 'ade', 'adhraki', 'adobo', 'adraki', 'aduki', 'affogato', 'african', 'aged', 'aglio', 'agnello', 'ahead', 'aioli', 'ais', 'aji', 'ajillo', 'ajitsuke', 'ajo', 'ajwain', 'al', 'alaska', 'albanian', 'albert', 'albondigas', 'alcoholic', 'ale', 'alert', 'alfredo', 'alla', 'alle', 'alloro', 'allspice', 'almond', 'almondine', 'almonds', 'almondy', 'aloo', 'alpine', 'alsatian', 'alternative', 'amann', 'amaretti', 'amaretto', 'amarillo', 'amatriciana', 'amazing', 'ambassadeur', 'ambassador', 'amber', 'american', 'amoul', 'anatra', 'ancho', 'anchovade', 'anchovies', 'anchovy', 'ancienne', 'andalucian', 'angel', 'angela', 'anglais', 'anglaise', 'anglesey', 'anguilla', 'anise', 'aniseed', 'annika', 'anolini', 'antony', 'anya', 'aperitivo', 'apple', 'apples', 'apricot', 'apricots', 'arabian', 'aragon', 'arancine', 'arancini', 'arbequina', 'arbroath', 'arctic', 'arlettes', 'armagnac', 'arnaise', 'arnold', 'aromatic', 'arrabbiata', 'arrabiata', 'arrabiatta', 'arroz', 'arselle', 'artichoke', 'artichokes', 'asaparagus', 'asian', 'asparagus', 'aster', 'atar', 'au', 'aubergine', 'aubergines', 'aussie', 'authentic', 'autumn', 'auvergne', 'aux', 'avgolemono', 'avial', 'avocado', 'avocados', 'ayam', 'aztec', 'baba', 'babas', 'babka', 'baby', 'baccal', 'back', 'bacon', 'bag', 'bagel', 'bagels', 'bagna', 'bagnat', 'baguette', 'baguettes', 'bake', 'baked', 'bakes', 'bakewell', 'baklava', 'balinese', 'ball', 'balls', 'balm', 'balsamic', 'balti', 'baltic', 'bamboo', 'banana', 'bananas', 'bandera', 'bang', 'bangers', 'bangladeshi', 'banh', 'banoffee', 'bao', 'bar', 'bara', 'barbary', 'barbecue', 'barbecued', 'barbied', 'barcoletta', 'barigoule', 'bark', 'barley', 'barmbrack', 'barnsley', 'barquettes', 'barramundi', 'barrel', 'bars', 'base', 'bashed', 'basic', 'basil', 'basket', 'baskets', 'basmati', 'basque', 'bass', 'bastilla', 'batons', 'battenberg', 'batter', 'battered', 'bauble', 'baubles', 'bavarian', 'bavette', 'bay', 'bayonne', 'bbq', 'beachside', 'bean', 'beans', 'beansprout', 'beansprouts', 'beany', 'bearnaise', 'beccafico', 'bed', 'beef', 'beefburger', 'beehive', 'beer', 'beet', 'beetroot', 'beetroots', 'beets', 'begendi', 'beggars', 'beignets', 'belgian', 'believe', 'bellini', 'belly', 'belts', 'ben', 'benedict', 'bengal', 'bengali', 'bennett', 'bergamot', 'berkswell', 'berries', 'berry', 'besan', 'bessara', 'best', 'beurre', 'bhaji', 'bhajia', 'bhajis', 'bhindi', 'bhuna', 'bi', 'bianco', 'biber', 'bierocks', 'big', 'bigarade', 'bigos', 'biker', 'bikers', 'bill', 'bing', 'bircher', 'birthday', 'biryani', 'biscotti', 'biscuit', 'biscuits', 'bishop', 'bisque', 'bissau', 'bite', 'bites', 'bitter', 'bitterballen', 'black', 'blackbean', 'blackberries', 'blackberry', 'blackcurrant', 'blackcurrants', 'blackened', 'blackeye', 'blackwater', 'blade', 'blanc', 'blancmange', 'blancs', 'blanket', 'blankets', 'blanquette', 'bleu', 'blini', 'blinis', 'blondies', 'blood', 'bloody', 'bloomer', 'blow', 'blue', 'blueberries', 'blueberry', 'blush', 'blushed', 'boar', 'board', 'boat', 'boats', 'bobotie', 'boeuf', 'boiled', 'bois', 'bok', 'bokkeum', 'bolinhos', 'bologna', 'bolognaise', 'bolognese', 'bomb', 'bombay', 'bombs', 'bonbons', 'bone', 'bonfire', 'boozy', 'borage', 'bordelaise', 'boreks', 'borlotti', 'borsch', 'borscht', 'boston', 'boti', 'bottarga', 'boudran', 'bouillabaisse', 'boulang', 'boulangere', 'bourbon', 'bourguignon', 'bourride', 'bowl', 'bowls', 'bows', 'box', 'boxing', 'boxty', 'boys', 'br', 'braciole', 'braised', 'bramble', 'bramley', 'bran', 'branches', 'brandade', 'brandied', 'brandy', 'branzino', 'brassicas', 'bratwurst', 'bravas', 'brazil', 'brazils', 'bread', 'breadcrumb', 'breadcrumbed', 'breadcrumbs', 'breaded', 'breads', 'breadsticks', 'breakfast', 'bream', 'breast', 'breasts', 'bredie', 'bresaola', 'brest', 'bretonne', 'brick', 'bridie', 'brie', 'brik', 'brill', 'brined', 'brioche', 'brioches', 'brisbane', 'brisket', 'brith', 'british', 'brittle', 'brixton', 'broad', 'broccoli', 'brochette', 'brodo', 'broth', 'brothy', 'brown', 'brownie', 'brownies', 'browns', 'brunch', 'bruno', 'bruschetta', 'bruschettas', 'brushed', 'brussels', 'bubble', 'buccaneer', 'bucco', 'bucket', 'buckwheat', 'buco', 'buddha', 'buerre', 'buffalo', 'bulgar', 'bulgogi', 'bulgur', 'buljol', 'bun', 'bundles', 'bundt', 'bunny', 'buns', 'bunski', 'bunting', 'burger', 'burgers', 'burn', 'burnt', 'burrata', 'burrida', 'burrito', 'bursts', 'busara', 'butter', 'butterbean', 'butterbeans', 'buttercream', 'buttered', 'butterflied', 'butterfly', 'butteries', 'buttermilk', 'butternut', 'butters', 'butterscotch', 'buttery', 'butties', 'button', 'butty', 'cabbage', 'cabbge', 'cacciatora', 'cacciatore', 'cacio', 'caerphilly', 'caesar', 'cafriela', 'caipirosca', 'cajun', 'cake', 'cakes', 'calabrese', 'calamari', 'calda', 'caldeirada', 'caldo', 'calf', 'californian', 'callaloo', 'calvados', 'calves', 'calypso', 'calzone', 'cambozola', 'camembert', 'canadian', 'canap', 'canapes', 'cancalaise', 'candied', 'candy', 'cane', 'cannellini', 'cannelloni', 'cannon', 'canterbury', 'cantonese', 'cao', 'cape', 'caper', 'capers', 'caponata', 'cappellacci', 'capperi', 'cappuccino', 'caprese', 'capricorn', 'captain', 'caramel', 'caramelised', 'caramelized', 'caramels', 'caraway', 'carbonara', 'carbonnade', 'cardamom', 'cardamon', 'caribbean', 'carlina', 'carlo', 'carne', 'carol', 'carpaccio', 'carpet', 'carrot', 'carrots', 'carrozza', 'case', 'cashel', 'cashew', 'cashews', 'cassava', 'casserole', 'cassis', 'cassoulet', 'catalan', 'catalonian', 'cauda', 'cauliflower', 'cavalo', 'cavatelli', 'caviar', 'cavolo', 'cawl', 'cayenne', 'celariac', 'celebration', 'celeriac', 'celery', 'celtic', 'centred', 'cep', 'ceps', 'ceviche', 'chaap', 'chaat', 'chai', 'cham', 'chamel', 'champ', 'champagne', 'chana', 'chantenay', 'chanterelle', 'chanterelles', 'chantilly', 'chapati', 'chapatis', 'chapel', 'chappatis', 'char', 'charcoal', 'charcuti', 'chard', 'chardonnay', 'charentais', 'chargrilled', 'charlotte', 'charlottes', 'charred', 'chartreuse', 'chashu', 'chasseur', 'chat', 'chateaubriand', 'chaussons', 'chavignol', 'che', 'cheat', 'cheats', 'cheaty', 'cheddar', 'cheek', 'cheeks', 'cheese', 'cheeseburger', 'cheeseburgers', 'cheesecake', 'cheesecakes', 'cheeses', 'cheesesteak', 'cheesy', 'chef', 'chelsea', 'chemmeen', 'chen', 'chermoula', 'cherries', 'cherry', 'chervil', 'cheshire', 'chestnut', 'chestnuts', 'chettinad', 'chewy', 'chia', 'chicken', 'chickens', 'chickpea', 'chickpeas', 'chicory', 'chiffon', 'childhood', 'chili', 'chilled', 'chilli', 'chillies', 'chimichanga', 'chimichurri', 'chimneys', 'chinese', 'ching', 'chingri', 'chip', 'chipolatas', 'chipotle', 'chips', 'chiu', 'chive', 'chives', 'chlodnik', 'chocolat', 'chocolate', 'chocolates', 'choi', 'cholent', 'chop', 'chopped', 'chops', 'chorizo', 'choron', 'choucroute', 'choux', 'chow', 'chowder', 'choy', 'chris', 'christian', 'christmas', 'christophine', 'chump', 'chunks', 'chunky', 'chupe', 'churn', 'churros', 'chutney', 'ciabatta', 'ciambellone', 'cider', 'cinder', 'cinnamon', 'cipolle', 'citron', 'citrus', 'clafoutis', 'clair', 'clairs', 'clam', 'clams', 'clap', 'clapshot', 'classic', 'claws', 'clear', 'cleaves', 'clement', 'clementine', 'clementines', 'clements', 'clock', 'clootie', 'clotted', 'cloud', 'clove', 'cloves', 'club', 'coarse', 'coated', 'cob', 'cobbled', 'cobbler', 'cobnut', 'cobnuts', 'cock', 'cockle', 'cockles', 'cocktail', 'coco', 'cocoa', 'coconut', 'cocotte', 'cod', 'coddled', 'codfish', 'coffee', 'coins', 'cointreau', 'cola', 'colada', 'colatura', 'colcannon', 'cold', 'coleslaw', 'coley', 'collar', 'colonel', 'colossal', 'comforting', 'comp', 'compost', 'compote', 'con', 'concasse', 'cond', 'confit', 'consomm', 'contaldo', 'continental', 'cook', 'cooked', 'cooker', 'cookie', 'cookies', 'cooler', 'coorg', 'coq', 'coquilles', 'cordial', 'cordon', 'coriander', 'corn', 'cornbread', 'corned', 'cornish', 'cornmeal', 'coronation', 'cos', 'cote', 'cotswold', 'cotta', 'cottage', 'cou', 'coulibiac', 'coulis', 'country', 'courgette', 'courgettes', 'courgetti', 'couronne', 'couscous', 'cow', 'coxes', 'cr', 'crab', 'crabcakes', 'crabs', 'cracked', 'crackers', 'crackle', 'crackling', 'cracklings', 'cranachan', 'cranberries', 'cranberry', 'crayfish', 'cream', 'creamed', 'creams', 'creamy', 'creation', 'crema', 'cremat', 'cremosa', 'creole', 'cress', 'crisp', 'crispbread', 'crisps', 'crispy', 'cro', 'crocodile', 'croissant', 'croissants', 'croque', 'croquembouche', 'croquetas', 'croquette', 'croquettes', 'cross', 'crostini', 'crottin', 'croustade', 'croustades', 'croustillant', 'croute', 'croutes', 'crouton', 'croutons', 'crowd', 'crown', 'crudite', 'crudites', 'crudo', 'crumb', 'crumbed', 'crumble', 'crumbled', 'crumbs', 'crumpet', 'crumpets', 'crunch', 'crunched', 'crunchies', 'crunchy', 'crush', 'crushed', 'crust', 'crusted', 'crusty', 'crystallised', 'csa', 'cuba', 'cuban', 'cucumber', 'cucumbers', 'cullen', 'cumberland', 'cumin', 'cup', 'cupboard', 'cupcakes', 'cups', 'curd', 'cured', 'curly', 'currant', 'currants', 'curranty', 'curried', 'currimbhoy', 'curry', 'custard', 'customised', 'cut', 'cutless', 'cutlet', 'cutlets', 'cuttlefish', 'cypriot', 'da', 'daab', 'dacquoise', 'dad', 'daikon', 'daiquiri', 'dal', 'damper', 'dampfnudel', 'damson', 'dandelion', 'dangs', 'danish', 'danishes', 'dappy', 'dark', 'darnes', 'dashi', 'date', 'dates', 'daube', 'dauphinoise', 'daurade', 'day', 'de', 'decker', 'deconstructed', 'deep', 'deer', 'definitive', 'delhi', 'delia', 'delice', 'delicious', 'delight', 'deluxe', 'dengaku', 'dentdale', 'dermot', 'derry', 'design', 'designer', 'dessert', 'devil', 'devilish', 'devilled', 'devils', 'devon', 'devonshire', 'dhal', 'dhansak', 'di', 'diamond', 'diamonds', 'diane', 'diced', 'dick', 'digger', 'diggers', 'dijon', 'dill', 'dillisk', 'dim', 'ding', 'dinner', 'dip', 'dipped', 'dipper', 'dippers', 'dipping', 'dips', 'dirty', 'disco', 'dish', 'diy', 'dobos', 'dolcelatte', 'dolmades', 'doner', 'dong', 'donuts', 'doorstep', 'dopiaza', 'doris', 'dory', 'dosa', 'double', 'dough', 'doughballs', 'doughnut', 'doughnuts', 'douglas', 'dovedale', 'dover', 'dowdy', 'dragon', 'dragoncella', 'drambuie', 'dream', 'dreamlike', 'dress', 'dressed', 'dressing', 'dried', 'drink', 'dripping', 'drizzle', 'drizzled', 'drizzly', 'drop', 'dropped', 'drowned', 'drumstick', 'drumsticks', 'drunken', 'dry', 'duchess', 'duchesse', 'duck', 'duckling', 'duff', 'duja', 'dukkah', 'dulce', 'dulse', 'dum', 'dumpling', 'dumplings', 'dundee', 'duo', 'dust', 'dusted', 'dwarf', 'ear', 'earl', 'ears', 'east', 'easter', 'eastern', 'easy', 'eccles', 'ed', 'edamame', 'eeda', 'eel', 'eels', 'egg', 'eggnog', 'eggs', 'eggy', 'egyptian', 'eight', 'el', 'elderberry', 'elderflower', 'elizabeth', 'elizabethan', 'emergency', 'emilion', 'emmental', 'empanada', 'empanadas', 'emulsion', 'en', 'enchiladas', 'encrusted', 'end', 'endive', 'energy', 'england', 'english', 'enoki', 'entremets', 'es', 'escabeche', 'escalope', 'escalopes', 'escargot', 'escarole', 'escovitch', 'espresso', 'essence', 'essex', 'estonian', 'eton', 'european', 'evans', 'eve', 'ever', 'everlasting', 'everyday', 'ewes', 'exceptional', 'exotic', 'express', 'expressed', 'extra', 'extraordinary', 'extravagant', 'eye', 'eyed', 'fa', 'fabulous', 'faced', 'faggot', 'faggots', 'fagioli', 'fail', 'fairy', 'fajita', 'fajitas', 'falafel', 'falafels', 'family', 'fancies', 'faraizi', 'farci', 'farfalle', 'farinata', 'farl', 'farls', 'farmhouse', 'farthing', 'faschierter', 'fashioned', 'fast', 'fat', 'fatless', 'fattoush', 'favourite', 'fazool', 'feast', 'feather', 'feathered', 'fed', 'feed', 'feet', 'fegato', 'feijoada', 'fennel', 'fenugreek', 'feria', 'fermented', 'fesenjoon', 'fest', 'festive', 'feta', 'fettuccine', 'feu', 'feuillete', 'fideu', 'fidget', 'field', 'fiery', 'fig', 'figgy', 'figs', 'filets', 'filled', 'fillet', 'filleto', 'fillets', 'filling', 'fillings', 'filly', 'filo', 'fin', 'financiers', 'find', 'fine', 'finely', 'finger', 'fingers', 'finished', 'finnish', 'finocchio', 'fior', 'fir', 'firecracker', 'fired', 'fish', 'fishcake', 'fishcakes', 'fisherman', 'fita', 'five', 'fix', 'fizz', 'fizzy', 'flageolet', 'flaked', 'flamb', 'flamed', 'flamenco', 'flan', 'flank', 'flaounes', 'flapjacks', 'flash', 'flat', 'flatbread', 'flatbreads', 'flatleaf', 'flattened', 'flavoured', 'flavours', 'flecked', 'fleur', 'flexible', 'float', 'floating', 'floral', 'florentine', 'florentines', 'florets', 'floss', 'flottante', 'flottantes', 'flour', 'flourless', 'flower', 'flowerpot', 'flowers', 'fluffy', 'flyers', 'foam', 'focaccia', 'foccacia', 'foil', 'fondant', 'fondants', 'fondue', 'fontina', 'foo', 'food', 'fool', 'foolproof', 'football', 'fore', 'forest', 'forestiere', 'form', 'forno', 'fortune', 'forty', 'foster', 'fougasse', 'four', 'fours', 'fowl', 'fra', 'fragrant', 'fraiche', 'frais', 'fraisier', 'fran', 'francais', 'frangipane', 'frango', 'freddo', 'free', 'freekeh', 'freewheeling', 'freeze', 'fregola', 'french', 'freschi', 'fresco', 'fresh', 'freshly', 'frestelse', 'fricass', 'fricasse', 'friday', 'fridge', 'fried', 'fries', 'frikadeller', 'fris', 'frites', 'frittata', 'frittatas', 'fritter', 'fritters', 'fritti', 'fritto', 'fromage', 'frond', 'frosted', 'frosting', 'froth', 'frozen', 'fruit', 'fruits', 'fruity', 'frutti', 'fry', 'frying', 'fu', 'fudge', 'fudgy', 'full', 'fum', 'funfetti', 'funghi', 'funky', 'fusilli', 'gado', 'gai', 'gala', 'galaktoboureko', 'galbi', 'galette', 'galettes', 'galician', 'galinha', 'gallega', 'gallina', 'gallo', 'gamberones', 'game', 'gamekeeper', 'gammon', 'ganache', 'ganoush', 'garage', 'garam', 'garden', 'garibaldi', 'garlic', 'garlicky', 'garnish', 'gateau', 'gazpacho', 'geisha', 'gelati', 'gelato', 'gem', 'general', 'genoa', 'genoise', 'genovese', 'gentleman', 'george', 'georgian', 'germain', 'german', 'getaway', 'gg', 'ghasemi', 'gherkin', 'ghoogra', 'ghost', 'ghotala', 'gianduia', 'giant', 'gift', 'gigantes', 'gilt', 'gilthead', 'gin', 'ginger', 'gingerbread', 'gingernut', 'girl', 'girolle', 'girolles', 'gl', 'glac', 'glam', 'glamming', 'glamorgan', 'glass', 'glaze', 'glazed', 'glitter', 'globe', 'glory', 'gloucester', 'gloucestershire', 'gluten', 'gnocchi', 'gnudi', 'goan', 'goat', 'goats', 'gobhi', 'gobi', 'godfather', 'goji', 'gold', 'golden', 'golek', 'gong', 'good', 'goodwood', 'gooey', 'goose', 'gooseberries', 'gooseberry', 'goosnargh', 'goreng', 'gorgonzola', 'gosht', 'goug', 'goujons', 'goulash', 'gourmet', 'graffiti', 'grain', 'grains', 'gran', 'grand', 'grandma', 'granger', 'granita', 'granny', 'grano', 'granola', 'granseola', 'grant', 'grape', 'grapefruit', 'grapes', 'grappa', 'grated', 'gratin', 'gratinated', 'gratins', 'gravad', 'gravadlax', 'gravalax', 'gravlax', 'gravy', 'great', 'greek', 'green', 'greengage', 'greengrocers', 'greens', 'gremolata', 'grenoble', 'grenobloise', 'gressingham', 'grey', 'gribiche', 'griddle', 'griddled', 'griglia', 'grill', 'grilled', 'griottine', 'grissini', 'grits', 'ground', 'grouse', 'gruy', 'gruyere', 'guacamole', 'guard', 'guava', 'guavas', 'gui', 'guilt', 'guinea', 'guinness', 'gujarati', 'gulab', 'gulasch', 'gulyas', 'gumbo', 'gunpowder', 'gurnard', 'gymkhana', 'gyoza', 'gypsy', 'ha', 'haddock', 'haggerty', 'haggis', 'hairy', 'haitian', 'hake', 'half', 'halibut', 'halloumi', 'halloween', 'halwa', 'ham', 'hand', 'handkerchief', 'hanger', 'hanncha', 'hanout', 'hara', 'hard', 'hardcore', 'haricot', 'harissa', 'harvest', 'harvey', 'hash', 'hasselback', 'hat', 'hawaiian', 'hay', 'hazelnut', 'hazelnuts', 'hazlenut', 'head', 'health', 'healthy', 'heart', 'hearts', 'hearty', 'heather', 'hedgehog', 'heel', 'heirloom', 'hemp', 'hen', 'henna', 'herb', 'herbed', 'herbelicious', 'herbs', 'herby', 'herd', 'hereford', 'herefordshire', 'heritage', 'herring', 'herrings', 'hidden', 'hide', 'highland', 'hispaniola', 'hispi', 'hive', 'hock', 'hocks', 'hogget', 'hoi', 'hoisin', 'hoki', 'hole', 'holes', 'hollandaise', 'hollywood', 'holstein', 'holy', 'home', 'homecoming', 'homemade', 'homestyle', 'homity', 'homme', 'honey', 'honeycomb', 'honeyed', 'honor', 'hopkinson', 'horns', 'horseback', 'horseradish', 'hot', 'hotdogs', 'hotpot', 'hounds', 'hour', 'house', 'huevos', 'hugh', 'hummus', 'hungarian', 'hunkar', 'husks', 'hyderabadi', 'ib', 'iberico', 'ice', 'iced', 'icelandic', 'ices', 'icing', 'iles', 'indian', 'individual', 'indo', 'indonesian', 'indulgence', 'indulgent', 'infused', 'inglese', 'ink', 'insalata', 'inspired', 'instant', 'intense', 'involtini', 'inzimino', 'iranian', 'irene', 'irish', 'isaan', 'ishtew', 'ishtu', 'island', 'islands', 'isle', 'israeli', 'issan', 'ital', 'italian', 'italiana', 'jack', 'jacket', 'jackets', 'jacob', 'jacques', 'jaffa', 'jaggery', 'jalape', 'jalapeno', 'jalfrezi', 'jalousie', 'jam', 'jamaican', 'jambalaya', 'james', 'jammy', 'jamon', 'jamun', 'jansson', 'january', 'japanese', 'jardiniere', 'jarlsberg', 'jasmine', 'jean', 'jellies', 'jelly', 'jenny', 'jerk', 'jersey', 'jerseys', 'jerusalem', 'jewel', 'jewelled', 'jhal', 'jhol', 'jian', 'joe', 'john', 'joint', 'jollof', 'jorge', 'josh', 'jowl', 'jug', 'juice', 'juices', 'julie', 'julienne', 'jumble', 'jumbo', 'jump', 'jungle', 'juniper', 'jus', 'ka', 'kabob', 'kachori', 'kachumber', 'kadaifi', 'kadhai', 'kadhi', 'kaffir', 'kai', 'kalamata', 'kale', 'kali', 'kanell', 'kapitan', 'kara', 'karara', 'karhai', 'kartoffelbrot', 'kasha', 'kashmiri', 'katsu', 'katy', 'kavaab', 'kebab', 'kebabs', 'kedgeree', 'kefta', 'kelp', 'kent', 'kentish', 'kerala', 'keralan', 'keralian', 'kernel', 'kerridge', 'ketchup', 'key', 'kha', 'khao', 'kharu', 'kheema', 'kheer', 'ki', 'kibbe', 'kichri', 'kick', 'kid', 'kidney', 'kidneys', 'kids', 'kiev', 'kievs', 'kimchi', 'kind', 'kinds', 'king', 'kipper', 'kippers', 'kisses', 'kitchen', 'kiteria', 'kites', 'kiwi', 'klippfisk', 'knickerbocker', 'knocking', 'knots', 'knuckle', 'kofta', 'koftas', 'kofte', 'kohlrabi', 'koji', 'koli', 'korean', 'korma', 'kosi', 'kouign', 'koulibiac', 'kozani', 'kransekake', 'krob', 'kroppkakor', 'kugelhopf', 'kulfi', 'kumquat', 'kumquats', 'la', 'labneh', 'lace', 'lacy', 'ladder', 'lady', 'lait', 'laksa', 'lamb', 'lambs', 'lancashire', 'landaise', 'langosi', 'langoustine', 'langoustines', 'languages', 'langues', 'lankan', 'lapsang', 'larb', 'lardo', 'lardons', 'lardy', 'large', 'lasagna', 'lasagne', 'lassi', 'last', 'late', 'latkes', 'latte', 'lattice', 'latvian', 'lau', 'lava', 'lavender', 'laverbread', 'lax', 'layer', 'layered', 'layers', 'lazy', 'lazybones', 'le', 'leaf', 'lean', 'leather', 'leaves', 'lebanese', 'lee', 'leek', 'leekie', 'leeks', 'leftover', 'leg', 'legs', 'legume', 'leicester', 'lemak', 'lemon', 'lemonade', 'lemongrass', 'lemons', 'lemony', 'lentil', 'lentils', 'lepur', 'les', 'less', 'lettuce', 'leves', 'levi', 'libre', 'licorice', 'lid', 'light', 'lighter', 'lightly', 'lime', 'limed', 'limes', 'limoncello', 'lincolnshire', 'ling', 'lingonberries', 'linguine', 'linguini', 'linseed', 'linzertorte', 'lion', 'liqueur', 'liquor', 'liquorice', 'little', 'liver', 'livers', 'lo', 'loaf', 'loaves', 'lobscouse', 'lobster', 'log', 'logs', 'loin', 'lokshen', 'lollies', 'lollipop', 'lollipops', 'lomo', 'london', 'londonderry', 'long', 'longhorn', 'lorraine', 'lotus', 'loubet', 'louisiana', 'lovage', 'love', 'lovers', 'low', 'lucia', 'lucy', 'luilakbollen', 'lunchbox', 'lune', 'luscious', 'lush', 'luxe', 'luxury', 'lychee', 'lychees', 'lyonnaise', 'mac', 'macadamia', 'macanese', 'macaroni', 'macarons', 'macaroon', 'macaroons', 'macchi', 'macchiato', 'mace', 'macerated', 'machchi', 'macher', 'mackerel', 'madagascan', 'madame', 'made', 'madeira', 'madeleines', 'maderia', 'madras', 'magic', 'mai', 'mainstay', 'maize', 'make', 'maki', 'mala', 'malai', 'malay', 'malaysian', 'maldivian', 'mallard', 'malone', 'malt', 'maltaise', 'malted', 'malvern', 'maman', 'mammole', 'mamon', 'mamoosa', 'man', 'manchego', 'manchester', 'mandarin', 'mandioca', 'mandorle', 'maneesh', 'mangalorean', 'mange', 'mangetout', 'mango', 'mangsho', 'maple', 'marble', 'marbled', 'margarita', 'margherita', 'marie', 'marinade', 'marinara', 'marinated', 'm

#### LSA on CtVec titles

In [18]:
lsa_10 = TruncatedSVD(10)  #Dimensionality reduction using truncated SVD (aka LSA).
#10 topics
t_lsa_10 = lsa_10.fit_transform(titles_ct)
lsa_10.explained_variance_ratio_.sum()
#explained variance ratio too low? .sum() only 12%
#only 46% for 100 topics! need to clean further to get higher variance ration with a reasonable number of topics?

0.11877882891003717

In [19]:
#from proj4 and topic modelling/LSA/NMF lecture
def display_topics(model, feature_names, no_top_words, topic_names=None):
    for ix, topic in enumerate(model.components_):
        if not topic_names or not topic_names[ix]:
            print("\nTopic ", ix)
        else:
            print("\nTopic: '",topic_names[ix],"'")
        print(", ".join([feature_names[i]
                        for i in topic.argsort()[:-no_top_words - 1:-1]]))

In [20]:
display_topics(lsa_10, ct_vectorizer.get_feature_names(), 10)

Topic  0
sauce, salad, chicken, fried, roasted, tomato, potato, cheese, chilli, roast

Topic  1
sauce, chocolate, cream, wine, pork, fried, pudding, ice, cake, roast

Topic  2
chicken, roast, fried, rice, curry, stuffed, stir, pie, garlic, potatoes

Topic  3
chocolate, chicken, cream, salad, cake, ice, pudding, orange, white, mousse

Topic  4
cream, chocolate, roasted, potato, lamb, cheese, cake, sweet, pudding, soup

Topic  5
fried, pan, chocolate, deep, egg, cream, stir, rice, chilli, salmon

Topic  6
cheese, potato, goats, tomato, soup, sweet, cream, blue, onion, baked

Topic  7
cheese, tomato, lamb, roasted, chocolate, goats, potatoes, stuffed, garlic, tomatoes

Topic  8
chocolate, potato, soup, sweet, chilli, red, beef, lamb, tomato, onion

Topic  9
pork, cheese, roasted, apple, chocolate, goats, belly, fried, salad, cabbage

In [21]:
#topics all over the place, and most have chocolate!

#try TF-IDF, NMF, *LDA and spacy?

#### LSA on titles vectorized by TF-IDF

In [22]:
lsa_10 = TruncatedSVD(10)  #10 topics
t_tf_lsa_10 = lsa_10.fit_transform(titles_tfidf)
lsa_10.explained_variance_ratio_

array([0.0046158 , 0.00769671, 0.00703018, 0.00662758, 0.00643933,
       0.00570901, 0.00548669, 0.00539797, 0.00516311, 0.00497743])

In [23]:
display_topics(lsa_10, tf_vectorizer.get_feature_names(), 10)

Topic  0
salad, chicken, sauce, fried, tomato, potato, roasted, chilli, cheese, soup

Topic  1
chocolate, sauce, cake, cream, pudding, orange, ice, mousse, white, raspberry

Topic  2
chicken, roast, lemon, pie, curry, sauce, rice, fried, chocolate, stir

Topic  3
soup, potato, sweet, sauce, pork, roast, leek, pea, roasted, red

Topic  4
soup, chicken, chocolate, potato, cake, pie, salad, cheese, cream, leek

Topic  5
cheese, goats, roast, sauce, stuffed, lamb, roasted, pie, souffl, potatoes

Topic  6
tomato, sauce, soup, chicken, chocolate, salad, pasta, spinach, basil, white

Topic  7
cheese, fried, goats, chilli, souffl, rice, pan, stir, egg, blue

Topic  8
pudding, tomato, apple, bread, butter, pie, soup, toffee, cream, rice

Topic  9
lamb, chilli, roasted, garlic, chocolate, potatoes, roast, soup, cake, squash

In [24]:
#Topic 1 is dessert, still messy though - bi-grams? or use instructions instead - lemmatize

In [25]:
#5 topics?
lsa_5 = TruncatedSVD(5)  #5 topics
t_tf_lsa_5 = lsa_5.fit_transform(titles_tfidf)
lsa_5.explained_variance_ratio_
#lsa_5.explained_variance_ratio_.sum() #only 3% of variance!

array([0.00461168, 0.00769694, 0.00703141, 0.00663835, 0.00642146])

In [26]:
display_topics(lsa_5, tf_vectorizer.get_feature_names(), 10) #fewer topics, cutoff earlier, same as top 5 topics in 10 topic case

Topic  0
salad, chicken, sauce, fried, potato, tomato, roasted, chilli, cheese, soup

Topic  1
chocolate, sauce, cake, cream, pudding, orange, ice, mousse, white, raspberry

Topic  2
chicken, curry, lemon, roast, pie, chocolate, rice, stir, fried, sauce

Topic  3
soup, sauce, potato, sweet, fried, pork, roast, red, leek, roasted

Topic  4
soup, chicken, potato, chocolate, cheese, cake, cream, pudding, leek, sweet

#### CtVec+ NMF

In [27]:
nmf_10 = NMF(10) 
t_nmf_10 = nmf_10.fit_transform(titles_ct)

In [28]:
display_topics(nmf_10, ct_vectorizer.get_feature_names(), 20)

Topic  0
sauce, tomato, wine, red, apple, fillet, steak, butter, roast, pork, mushroom, poached, duck, wild, vierge, pasta, mustard, ed, toffee, potatoes

Topic  1
salad, dressing, warm, tomato, salmon, bean, herb, smoked, spinach, green, chilli, fennel, thai, grilled, noodle, rocket, cucumber, beef, style, watercress

Topic  2
chicken, roast, curry, rice, lemon, stuffed, pie, chilli, breast, thai, liver, chorizo, spiced, spicy, mushroom, garlic, honey, style, stir, potatoes

Topic  3
chocolate, cake, orange, white, mousse, pudding, raspberry, hot, cheesecake, caramel, souffl, tart, chilli, brownies, fondant, coffee, baked, bread, dark, sponge

Topic  4
roasted, pork, tomatoes, potatoes, red, pepper, apple, chilli, stuffed, lemon, cabbage, garlic, honey, belly, vegetables, sea, slow, onion, squash, duck

Topic  5
fried, pan, egg, deep, stir, rice, chilli, salmon, sea, bass, mushrooms, beef, tomato, spicy, onion, salsa, broccoli, wild, noodles, courgette

Topic  6
cheese, goats, tomato, blue, onion, baked, spinach, souffl, stuffed, ham, beetroot, cauliflower, tart, wrapped, chutney, toast, mushrooms, salsa, parma, bacon

Topic  7
potato, sweet, soup, red, sour, mash, beef, onion, spinach, pie, leek, rosti, smoked, spicy, egg, bacon, poached, salmon, cakes, wedges

Topic  8
cream, ice, pudding, vanilla, lemon, strawberry, cake, apple, tart, fruit, spiced, salmon, clotted, ginger, sponge, rhubarb, orange, pistachio, smoked, honey

Topic  9
lamb, roast, potatoes, garlic, spiced, rosemary, crusted, herb, shoulder, beans, slow, mint, grilled, braised, rack, chilli, chops, stuffed, saut, red

For this dataset, NMF topics seem to make more sense (somewhat divided) than LSA ones (chocolate in every topic). 
Can still improve before vectorization and dim reduction though

CtVec + NMF: 
* Topic 0 steak, pasta, roast
* Topic 1 salad, vegetables
* Topic 2 curry, rice
* Topic 3 desserts, chocolate, coffee (darker colour?)
* Topic 4 roast
* Topic 5 pan-fried, eggs and fish
* Topic 6 cheese, baked
* Topic 7 potatoe, soup
* Topic 8 desserts, ice cream, tart, cake (lighter colours)
* Topic 9 lamb roast

#### TFIDF+ NMF

In [29]:
nmf_10 = NMF(10) 
t_tf_nmf_10 = nmf_10.fit_transform(titles_tfidf)

In [30]:
display_topics(nmf_10, tf_vectorizer.get_feature_names(), 20)

Topic  0
salad, dressing, warm, salmon, bean, smoked, herb, spinach, tomato, noodle, bacon, cucumber, fennel, mango, green, thai, rocket, orange, mackerel, style

Topic  1
chocolate, cake, cream, orange, mousse, white, ice, raspberry, tart, cheesecake, souffl, hot, lemon, caramel, strawberry, vanilla, brownies, fruit, coffee, hazelnut

Topic  2
chicken, curry, lemon, pie, thai, roast, liver, rice, chorizo, mushroom, stuffed, casserole, style, breast, skewers, korma, coconut, jerk, spicy, noodles

Topic  3
sauce, tomato, pasta, wine, mushroom, basil, meatballs, red, poached, steak, pancakes, vierge, cherry, apple, fillet, creamy, wild, fish, cream, bass

Topic  4
soup, pea, spinach, leek, noodle, cream, mushroom, vegetable, broccoli, squash, butternut, mint, cro, creamy, tons, stilton, poached, lentil, parsnip, sweetcorn

Topic  5
fried, pan, chilli, stir, egg, salmon, rice, deep, beef, fry, smoked, broccoli, sea, noodles, prawns, poached, bass, mushrooms, spicy, squid

Topic  6
potato, sweet, pie, sour, mash, leek, rosti, curry, spicy, wedges, beef, cakes, gratin, fish, mashed, chips, onion, sausage, stew, cake

Topic  7
cheese, goats, souffl, blue, onion, baked, cauliflower, stuffed, spinach, ham, beetroot, tart, toast, mushrooms, wrapped, pizza, parma, bacon, walnut, macaroni

Topic  8
pudding, rice, bread, butter, apple, toffee, sponge, sticky, christmas, cream, coconut, black, steamed, custard, vanilla, ginger, caramelised, ice, yorkshire, pineapple

Topic  9
roasted, lamb, roast, pork, potatoes, garlic, stuffed, spiced, red, lemon, tomatoes, rosemary, honey, pepper, saut, slow, ed, cabbage, braised, shoulder

For TFIDF and NMF, topics 1 and 8 are desserts, Topic 4 is a bit strange (salmon and meringue)

* Topic 0 salad
* Topic 1 dessert, chocolate
* Topic 2 curry
* Topics 3 soup, vegetarian
* Topic 4 dessert? (except for sole and salmon)
* Topic 5 pan-fried, eggs and fish, noodles
* Topic 6 roast - pork, lamb, steak, duck
* Topic 7 cheese, roasted, baked, pizza
* Topic 8 dessert, rice pudding, toffee, sponge cake (non-chocolate)
* Topic 9 potatoes, meat pies and stews

In [31]:
#try LDA later?
#better cleaning and lemmatization?
#or can use these for recommendations already?

In [32]:
#how to group topics for filtering? cluster?

### Vectorize recipe instructions

Now it seems it would make more sense to lemmatize 'instructions' column and use those for topics (include both ingredients and cooking process, which can imply on the course of meal (boil, pan-fried less likely to be desserts than bake);

instructions give the most information, contains ingredients, and can imply the course of meal

In [33]:
#use tfidf + NMF (most clearly divided)
instructions = bbcdata['instructions']
instructions.head()

0    [Preheat the oven to 200C/400F/Gas 6., For the...
1    [Cook the pasta in a pan of boiling salted wat...
2    [To make the basic dough, line a baking tray w...
3    [Preheat the oven to 220C/200C Fan/Gas 7., For...
4    [Place the rib-eye of beef into a large non-me...
Name: instructions, dtype: object

#### Clean text with regex

In [34]:
#clean text with regex, ftn defined above
# def regex_nodigits(s):
#     '''use regex to clean string: 
#     get rid of numbers, punctuations and capitalized letters''' 
#     s = re.sub(r'[\d]','',str(s).lower())#convert to lower case, replace digits with empty str
#     s = re.sub(r'[\W]','',str(s))#replace puctuations with empty str
#     return s

In [35]:
cld_ins=instructions.apply(regex_nodigits)
cld_ins.head()

0      preheat the oven to c f gas      for the piz...
1      cook the pasta in a pan of boiling salted wa...
2      to make the basic dough  line a baking tray ...
3      preheat the oven to c c fan gas      for the...
4      place the rib eye of beef into a large non m...
Name: instructions, dtype: object

In [36]:
cld_ins[0]

'  preheat the oven to c f gas      for the pizza base  place the flour  oil  water and salt into a food processor and blend together until a dough is formed  tip out onto a floured work surface and knead  shape into a round base about cm in wide     place into a frying pan over a high heat and brown the base  then using a mini blowtorch  crisp the top of the pizza   alternatively you can do this under the grill      for the topping  spread tomato pur e over the top of the base     fry the mushrooms in a dry frying pan then scatter over the tomato pur e  arrange the prosciutto and cheese on top     crack an egg into the middle  then place into the oven for five minutes to finish cooking     serve on a large plate  and slice into wedges to serve   '

#### TF-IDF + NMF

In [37]:
corpus = cld_ins
tf_vectorizer = TfidfVectorizer(stop_words=stopwords_nltk)
instr_tfidf = tf_vectorizer.fit_transform(corpus)

print(tf_vectorizer.get_feature_names()) 

#too many repetitions, need stemming and lemmatization!

['aa', 'abaking', 'abandon', 'abd', 'ability', 'able', 'aboutcm', 'absolute', 'absolutely', 'absorb', 'absorbed', 'absorbency', 'absorbent', 'absorbing', 'absorbs', 'absorption', 'abundant', 'aburaage', 'accelerate', 'acceptable', 'accessible', 'accidentally', 'accommodate', 'accompainment', 'accompanied', 'accompaniment', 'accompaniments', 'accompany', 'accord', 'according', 'accordingly', 'accorning', 'account', 'accross', 'accumulate', 'accumulated', 'accumulates', 'accurate', 'accurately', 'acetate', 'achieve', 'achieved', 'achieves', 'acid', 'acidic', 'acidity', 'acidulated', 'ackee', 'acm', 'acorn', 'acorns', 'acquire', 'acrid', 'across', 'act', 'acting', 'action', 'activate', 'activated', 'active', 'activity', 'actual', 'actually', 'ad', 'add', 'adddrop', 'added', 'adding', 'addition', 'additional', 'additions', 'adds', 'addtablespoons', 'addtbsp', 'addthe', 'adhere', 'adheres', 'adhering', 'adhesive', 'aditional', 'adjacent', 'adjoining', 'adjust', 'adjusting', 'adjustments', 'admittedly', 'adobo', 'adorn', 'aduki', 'adult', 'adults', 'advance', 'advisable', 'advocaat', 'aer', 'aerate', 'aerated', 'aesthetic', 'aesthetically', 'affect', 'afford', 'afraid', 'afterwards', 'agar', 'agave', 'age', 'aged', 'agents', 'aggressively', 'agitate', 'agitating', 'agretti', 'agur', 'ahead', 'aid', 'aim', 'aiming', 'aioli', 'air', 'airily', 'airing', 'airtight', 'airy', 'aj', 'ajar', 'aji', 'ajo', 'ajowan', 'ajwain', 'al', 'alarmed', 'alaska', 'albondigas', 'albumen', 'albumina', 'alcohol', 'alcoholic', 'ale', 'alegar', 'alexander', 'alfalfa', 'algin', 'alginate', 'alight', 'alla', 'allow', 'allowed', 'allowing', 'allows', 'allspice', 'almond', 'almonds', 'almost', 'alone', 'along', 'alongside', 'aloo', 'aloow', 'aloud', 'alphabet', 'already', 'alsatian', 'also', 'alter', 'alternate', 'alternately', 'alternating', 'alternative', 'alternatively', 'although', 'altogether', 'alumimium', 'aluminium', 'aluminum', 'always', 'amalgamate', 'amalgamated', 'amaranth', 'amaretti', 'amaretto', 'amarillo', 'amber', 'amchur', 'amel', 'american', 'among', 'amongst', 'amoretti', 'amoul', 'amount', 'amounts', 'ample', 'anaemic', 'ancho', 'anchoiade', 'anchovade', 'anchovies', 'anchovy', 'angel', 'angeli', 'angelica', 'anglais', 'anglaise', 'angle', 'angled', 'angles', 'anglesey', 'angling', 'angostura', 'animal', 'anise', 'aniseed', 'anolini', 'another', 'ans', 'anti', 'antipasti', 'antlers', 'anty', 'anything', 'anyway', 'anywhere', 'apart', 'apex', 'apostles', 'appear', 'appearance', 'appeared', 'appearing', 'appears', 'appetising', 'appetites', 'appetizing', 'apple', 'apples', 'applicable', 'applied', 'applies', 'apply', 'applying', 'apprimately', 'approach', 'approaches', 'approaching', 'appropriate', 'appropriately', 'approx', 'approximate', 'approximately', 'apricot', 'apricots', 'aprons', 'aquavit', 'arancina', 'arancine', 'arancini', 'arborio', 'arbroath', 'arch', 'arched', 'arches', 'architectural', 'arctic', 'area', 'areas', 'argan', 'arm', 'armagnac', 'arms', 'arnaise', 'aroma', 'aromas', 'aromatic', 'aromatics', 'arome', 'around', 'arrabbiata', 'arrabiata', 'arrange', 'arranged', 'arrangement', 'arrangements', 'arranging', 'arrive', 'arrowroot', 'arroz', 'artichoke', 'artichokes', 'asafoetida', 'ash', 'ashen', 'ashes', 'asian', 'asid', 'aside', 'ask', 'askew', 'asparagus', 'assemble', 'assembled', 'assembling', 'assembly', 'assess', 'asset', 'assist', 'assisted', 'assorted', 'assortment', 'assuming', 'aster', 'astor', 'astringent', 'atar', 'atmosphere', 'atomiser', 'atop', 'atsina', 'attach', 'attached', 'attaching', 'attachment', 'attack', 'attempt', 'attempting', 'attention', 'attractive', 'attractively', 'au', 'aubergine', 'aubergines', 'auspicious', 'austere', 'australian', 'auternes', 'authentic', 'auto', 'autumn', 'available', 'average', 'avocado', 'avocadoes', 'avocados', 'avoid', 'avoiding', 'avour', 'avruga', 'aware', 'away', 'baba', 'babas', 'babking', 'baby', 'back', 'backbone', 'background', 'backing', 'backs', 'backward', 'backwards', 'bacon', 'bacteria', 'bad', 'bag', 'bagel', 'bagels', 'baggy', 'bagna', 'bags', 'baguette', 'baguettes', 'baharat', 'bain', 'bak', 'bake', 'baked', 'bakee', 'bakes', 'bakestone', 'bakeware', 'bakewell', 'bakign', 'baking', 'baklava', 'baklavas', 'balance', 'balanced', 'balck', 'ball', 'baller', 'balloon', 'ballotine', 'balls', 'balm', 'balsamic', 'balti', 'bamboo', 'bambrack', 'banana', 'bananas', 'band', 'bands', 'bang', 'bangers', 'banging', 'bangladeshi', 'bangs', 'banh', 'banish', 'banneton', 'banoffee', 'bantam', 'bao', 'bap', 'bar', 'bara', 'barbados', 'barbecue', 'barbecued', 'barbecues', 'barbecuing', 'barbeque', 'barberries', 'barbie', 'bard', 'bare', 'barely', 'barest', 'bark', 'barley', 'barmbrack', 'barnacles', 'barnsley', 'barquette', 'barquillo', 'barquillos', 'barramundi', 'barrel', 'barrels', 'bars', 'bas', 'base', 'based', 'bases', 'bash', 'bashed', 'bashing', 'basic', 'basically', 'basil', 'basin', 'basins', 'basis', 'basket', 'baskets', 'basmati', 'basque', 'bass', 'baste', 'basted', 'basting', 'bat', 'batch', 'batches', 'bath', 'baton', 'batons', 'batter', 'battered', 'batters', 'battlements', 'bauble', 'baubles', 'baulk', 'bavarois', 'bavette', 'bay', 'bayleaf', 'bayleaves', 'bbq', 'bbring', 'beacomes', 'beads', 'beak', 'beaks', 'bean', 'beancurd', 'beans', 'beansprouts', 'beany', 'bear', 'beard', 'beards', 'bearing', 'bearnaise', 'beast', 'beat', 'beaten', 'beater', 'beaters', 'beating', 'beauteous', 'beauties', 'beautiful', 'beautifully', 'beauty', 'bechamel', 'bechemel', 'become', 'becomes', 'becoming', 'bed', 'bee', 'beef', 'beefsteaks', 'beefy', 'beehive', 'beer', 'beers', 'bees', 'beet', 'beetroot', 'beetroots', 'beets', 'beforehand', 'beggars', 'begin', 'beginning', 'begins', 'begun', 'behave', 'behind', 'beige', 'beignet', 'beignets', 'bell', 'bellies', 'belly', 'ben', 'bench', 'bend', 'bending', 'bendy', 'beneath', 'benedict', 'beneficial', 'bent', 'bergamot', 'berries', 'berry', 'besan', 'beside', 'bessara', 'best', 'better', 'betwee', 'beurre', 'beware', 'bewreen', 'beyond', 'bhaji', 'bhajis', 'biber', 'bicarb', 'bicarbonate', 'bichamel', 'bicycle', 'bierocks', 'big', 'bigarade', 'bigger', 'biggest', 'bikers', 'billowy', 'bin', 'bind', 'binding', 'binds', 'birch', 'bird', 'birds', 'biro', 'birthday', 'biryani', 'biscotti', 'biscuit', 'biscuits', 'bisque', 'bit', 'bite', 'bites', 'bitesized', 'bits', 'bitten', 'bitter', 'bitterness', 'bitters', 'bitto', 'black', 'blackbeans', 'blackberries', 'blackberry', 'blackbird', 'blackcurrant', 'blackcurrants', 'blacked', 'blacken', 'blackened', 'blackening', 'blackstrap', 'blade', 'bladed', 'blades', 'blanc', 'blanch', 'blanched', 'blanching', 'blancmange', 'blancs', 'blanket', 'blankets', 'blanquette', 'blast', 'blasts', 'bleed', 'blemished', 'blemishes', 'blend', 'blended', 'blender', 'blending', 'blends', 'bleu', 'blind', 'blini', 'blinis', 'blip', 'blister', 'blistered', 'blisters', 'blitz', 'blitzing', 'blob', 'blobs', 'block', 'blocks', 'blonde', 'blondies', 'blood', 'bloodline', 'bloody', 'bloomer', 'blossom', 'blot', 'blow', 'blown', 'blowtorch', 'blue', 'blueberries', 'blueberry', 'blunt', 'blush', 'blushed', 'blusher', 'boar', 'board', 'boarder', 'boards', 'boat', 'boater', 'boats', 'bob', 'bobble', 'bodies', 'body', 'boeuf', 'boil', 'boiled', 'boiler', 'boiling', 'boils', 'bois', 'bok', 'bold', 'boletus', 'bolognese', 'bombay', 'bon', 'bonbons', 'bone', 'boned', 'boneless', 'bones', 'boning', 'bonito', 'bonnet', 'bons', 'bony', 'book', 'boost', 'booze', 'boozy', 'borage', 'bordelaise', 'border', 'borders', 'boreks', 'borlotti', 'boston', 'bot', 'bother', 'bottarga', 'bottle', 'bottled', 'bottles', 'bottom', 'bottomed', 'bottomless', 'bottoms', 'boudoir', 'boudran', 'bought', 'bouillabaisse', 'bouillion', 'bouillon', 'boulang', 'boule', 'bounce', 'bounces', 'bouncy', 'bound', 'boundaries', 'bouquet', 'bouquets', 'bourbon', 'bourbons', 'bourguignon', 'bourride', 'bow', 'bowl', 'bowlful', 'bowls', 'bown', 'bows', 'box', 'boxes', 'boxing', 'boxties', 'boxty', 'br', 'braciole', 'brad', 'braeburn', 'braid', 'braided', 'braiding', 'braids', 'brains', 'braise', 'braised', 'braising', 'bramble', 'brambles', 'bramley', 'bran', 'branch', 'branches', 'brandade', 'brandied', 'brands', 'brandy', 'brava', 'bravas', 'brazil', 'brazils', 'bread', 'breadcrumb', 'breadcrumbed', 'breadcrumbs', 'breaded', 'breadfruit', 'breads', 'breadstick', 'breadsticks', 'break', 'breakages', 'breakdown', 'breakfast', 'breaking', 'breaks', 'bream', 'breast', 'breastbone', 'breastbones', 'breasts', 'breath', 'bresaola', 'brew', 'brick', 'bricks', 'bridge', 'brie', 'brief', 'briefly', 'bright', 'brighter', 'brightly', 'brik', 'brill', 'brilliant', 'brim', 'brine', 'brined', 'bring', 'bringing', 'brings', 'brining', 'brioche', 'brioches', 'brisk', 'brisket', 'briskly', 'brith', 'british', 'brittle', 'broad', 'broadbeans', 'broccoli', 'brocolli', 'broken', 'bronze', 'bronzed', 'broom', 'broth', 'brought', 'brow', 'brown', 'browned', 'brownie', 'brownies', 'browning', 'brownish', 'browns', 'browny', 'bruise', 'bruised', 'bruises', 'bruising', 'brul', 'brulee', 'brulees', 'brulie', 'bruschetta', 'bruschettas', 'brush', 'brushed', 'brushing', 'brussels', 'brutal', 'brute', 'bubble', 'bubbled', 'bubbles', 'bubbling', 'bubbly', 'bucatini', 'buccaneer', 'buchi', 'bucket', 'buckles', 'buckwheat', 'bud', 'buds', 'buerre', 'buffalo', 'buffet', 'bugs', 'build', 'building', 'built', 'bulb', 'bulbous', 'bulbs', 'bulgar', 'bulge', 'bulghur', 'bulging', 'bulgur', 'buljol', 'bulked', 'bull', 'bumps', 'bumpy', 'bun', 'bunch', 'bunched', 'bunches', 'bundle', 'bundles', 'bundt', 'bunnies', 'buns', 'bunting', 'buratta', 'burger', 'burgers', 'burgundy', 'burn', 'burned', 'burner', 'burners', 'burning', 'burnished', 'burns', 'burnt', 'burrata', 'burrida', 'burrito', 'burritos', 'burst', 'bursting', 'bursts', 'bury', 'burying', 'business', 'butcher', 'butchers', 'buter', 'butter', 'butterbean', 'butterbeans', 'buttercream', 'buttercreams', 'buttercup', 'buttered', 'butterflied', 'butterfly', 'butterflying', 'butterhead', 'buttering', 'buttermilk', 'butternut', 'butters', 'butterscotch', 'buttery', 'butties', 'button', 'buttons', 'butty', 'buy', 'buzz', 'byzantine', 'cabbage', 'cabbages', 'cabernet', 'cacao', 'cachumba', 'cachumber', 'cacio', 'caerfully', 'caerphilly', 'caesar', 'caf', 'caff', 'cage', 'cajun', 'cake', 'cakes', 'cakey', 'calamari', 'calasparra', 'calavados', 'calculate', 'calculated', 'calculating', 'calendula', 'calf', 'call', 'callaloo', 'called', 'calmed', 'calvados', 'calvero', 'calves', 'calypso', 'calzone', 'calzones', 'camembert', 'camomile', 'camouflage', 'camp', 'campden', 'canap', 'candied', 'candle', 'candles', 'candy', 'cane', 'canelle', 'canister', 'canned', 'cannellini', 'cannelloni', 'canning', 'cannot', 'canoes', 'canola', 'cans', 'cantonese', 'cantuccini', 'cap', 'capacious', 'capacity', 'cape', 'caper', 'caperberries', 'caperberry', 'capers', 'caponata', 'cappellacci', 'cappuccino', 'cappucino', 'caps', 'capsicum', 'capturing', 'caradmom', 'caramalise', 'caramalised', 'caramel', 'caramelisation', 'caramelise', 'caramelised', 'caramelises', 'caramelising', 'caramelize', 'caramelized', 'caramels', 'carameslised', 'caraway', 'carbonara', 'carbonated', 'carcass', 'carcasses', 'carcinogenic', 'card', 'cardamom', 'cardamoms', 'cardamon', 'cardamons', 'cardboard', 'cards', 'care', 'careful', 'carefully', 'carefuly', 'carlo', 'carmelise', 'carmelised', 'carne', 'carom', 'carpaccio', 'carpet', 'carrier', 'carries', 'carrot', 'carrots', 'carry', 'carrying', 'cars', 'cartilage', 'cartilaginous', 'carton', 'cartons', 'cartouche', 'cartridges', 'carve', 'carved', 'carving', 'cascade', 'case', 'cases', 'cashel', 'cashew', 'cashews', 'casing', 'casings', 'cassava', 'casserole', 'cassia', 'cassis', 'cassoulet', 'cast', 'caster', 'castor', 'catch', 'catches', 'catching', 'cats', 'caught', 'caul', 'cauliflower', 'cauliflowers', 'cauls', 'cause', 'caused', 'causes', 'caution', 'cautious', 'cautiously', 'cava', 'cavalo', 'cavatelli', 'cavello', 'cavelo', 'caviar', 'cavities', 'cavity', 'cavolo', 'cawl', 'cayenne', 'caynenne', 'cazuela', 'ceam', 'celariac', 'celeriac', 'celery', 'cellophane', 'celtic', 'cement', 'cent', 'center', 'centimetre', 'centimetres', 'central', 'centrally', 'centre', 'centres', 'cep', 'ceps', 'ceramic', 'cereal', 'certain', 'certainly', 'ceviche', 'cf', 'ch', 'chaat', 'chaffing', 'chafing', 'chair', 'chairs', 'chalkiness', 'chalky', 'cham', 'chamel', 'champ', 'champagne', 'chana', 'chance', 'change', 'changed', 'changes', 'changing', 'channel', 'chantenay', 'chanterelle', 'chanterelles', 'chantilly', 'chantillys', 'chapati', 'chapatis', 'chapatti', 'chapattis', 'chappatis', 'char', 'character', 'charcoal', 'chard', 'chardonnay', 'chards', 'charge', 'chargers', 'chargrill', 'chargrilled', 'charlotte', 'charlottes', 'charm', 'charred', 'charring', 'chars', 'chartreuse', 'chasseur', 'chat', 'chateaubriand', 'chausson', 'chaussons', 'che', 'cheat', 'cheats', 'check', 'checked', 'checker', 'checking', 'cheddar', 'cheek', 'cheeks', 'cheeky', 'cheerful', 'cheese', 'cheeseburger', 'cheesecake', 'cheesecakes', 'cheesecloth', 'cheeseis', 'cheeses', 'cheesy', 'chef', 'cheffy', 'chefs', 'chelsea', 'chequerboard', 'chequered', 'chermoula', 'cherries', 'cherry', 'chervil', 'cheshire', 'chestnut', 'chestnuts', 'chew', 'chewed', 'chewing', 'chewy', 'chia', 'chick', 'chicken', 'chickens', 'chickpea', 'chickpeas', 'chicks', 'chickweed', 'chicories', 'chicory', 'chiffon', 'child', 'children', 'chili', 'chilies', 'chill', 'chilled', 'chilles', 'chilli', 'chillies', 'chilling', 'chills', 'chimichurri', 'chimicurri', 'chimney', 'chimneys', 'china', 'chine', 'chinese', 'chinkiang', 'chinois', 'chip', 'chipattis', 'chipolata', 'chipolatas', 'chipotle', 'chipped', 'chippings', 'chips', 'chiu', 'chive', 'chives', 'chlorophyll', 'cho', 'choc', 'chocolat', 'chocolate', 'chocolates', 'chocolatey', 'chocolatiness', 'choi', 'choice', 'choke', 'chokes', 'choking', 'choose', 'choosing', 'chop', 'chopped', 'chopper', 'chopping', 'chops', 'chopstick', 'chopsticks', 'choriceros', 'chorizo', 'chorizos', 'choron', 'chosen', 'choucroute', 'choux', 'chow', 'chowder', 'choy', 'christmas', 'christophine', 'chuck', 'chucked', 'chuff', 'chump', 'chunk', 'chunkily', 'chunks', 'chunky', 'churn', 'churned', 'churning', 'churro', 'churros', 'chutney', 'chutneys', 'ciabatta', 'ciabattas', 'cider', 'cidery', 'cigar', 'cigarillos', 'cigars', 'cinder', 'cinderella', 'cinnamon', 'circle', 'circles', 'circling', 'circular', 'circulate', 'circumference', 'cired', 'cirlce', 'citrate', 'citric', 'citron', 'citrus', 'clafoutis', 'claggy', 'clair', 'clairs', 'clam', 'clamp', 'clams', 'clap', 'clapshot', 'clarification', 'clarified', 'clarify', 'classic', 'clatter', 'clatteringly', 'claw', 'claws', 'clay', 'clean', 'cleaned', 'cleaner', 'cleaning', 'cleanly', 'clear', 'clearer', 'clearing', 'clearly', 'clears', 'cleaver', 'clef', 'cleft', 'clementine', 'clementines', 'clench', 'clenched', 'clenching', 'clever', 'click', 'cling', 'clingfilm', 'clinging', 'clings', 'clip', 'clips', 'clock', 'clockwise', 'clootie', 'close', 'closed', 'closely', 'closer', 'closest', 'closing', 'clot', 'cloth', 'clothes', 'clothing', 'clotted', 'cloud', 'clouds', 'cloudy', 'clove', 'clover', 'cloves', 'clown', 'club', 'clump', 'clumping', 'clumps', 'clumpy', 'cluster', 'clusters', 'cm', 'cms', 'cmx', 'cmxcm', 'cmxcmx', 'cmxmm', 'co', 'coagulate', 'coagulated', 'coal', 'coals', 'coarse', 'coarsely', 'coarser', 'coasted', 'coat', 'coated', 'coating', 'coatings', 'coats', 'coax', 'cob', 'cobbled', 'cobbler', 'cobblers', 'cobbles', 'cobbling', 'cobnut', 'cobnuts', 'cobs', 'cock', 'cockle', 'cockles', 'cocktail', 'cocktails', 'coco', 'cocoa', 'coconut', 'coconuts', 'cocotte', 'cocount', 'cod', 'coddled', 'coffee', 'cognac', 'coil', 'coiled', 'coiling', 'coin', 'coins', 'cointreau', 'coking', 'cola', 'colander', 'colatura', 'colcannon', 'cold', 'colder', 'coleslaw', 'coley', 'collagen', 'collapse', 'collapsed', 'collapsing', 'collar', 'collarette', 'collars', 'collect', 'collected', 'collecting', 'collects', 'color', 'colour', 'coloured', 'colourful', 'colouring', 'colourings', 'colourless', 'colours', 'columns', 'coluring', 'com', 'comb', 'combination', 'combine', 'combined', 'combines', 'combining', 'come', 'comes', 'comfortable', 'comfortably', 'coming', 'comma', 'command', 'commercial', 'comp', 'compact', 'compacted', 'competely', 'complement', 'complete', 'completed', 'completely', 'completeness', 'completes', 'completing', 'completly', 'complex', 'component', 'components', 'compote', 'compress', 'compressing', 'comprises', 'comt', 'con', 'concass', 'concasse', 'concave', 'conceal', 'concentrate', 'concentrated', 'concentration', 'concentric', 'concerned', 'concertina', 'cond', 'condensed', 'condenses', 'condiments', 'condition', 'cone', 'conents', 'coner', 'cones', 'confectionary', 'confident', 'confidently', 'confines', 'confit', 'conical', 'conmtinue', 'connect', 'connected', 'connecting', 'conserve', 'considerable', 'considerably', 'consideration', 'consistence', 'consistency', 'consistent', 'consistently', 'consisting', 'consomm', 'constancy', 'constant', 'constantly', 'construct', 'consume', 'contact', 'contain', 'contained', 'container', 'containers', 'containing', 'contains', 'contaminate', 'contantly', 'content', 'contents', 'continously', 'continual', 'continually', 'continue', 'continues', 'continuing', 'continune', 'continuous', 'continuously', 'contiuously', 'contours', 'contrast', 'contrasting', 'control', 'convection', 'convenient', 'conventional', 'converted', 'convincing', 'cooing', 'cook', 'cooked', 'cooker', 'cookie', 'cookies', 'cooking', 'cooks', 'cool', 'cooled', 'cooler', 'coolest', 'cooling', 'cools', 'copper', 'coq', 'cor', 'coral', 'corals', 'cord', 'cordial', 'cordon', 'core', 'cored', 'corer', 'cores', 'coriander', 'coring', 'cork', 'corks', 'corkscrew', 'corn', 'cornbread', 'corned', 'corner', 'cornered', 'corners', 'cornflake', 'cornflakes', 'cornflour', 'cornflower', 'cornichon', 'cornichons', 'cornish', 'cornmeal', 'corns', 'cornstarch', 'correct', 'correctly', 'corresponding', 'cos', 'cotija', 'cotta', 'cottage', 'cottas', 'cotton', 'cou', 'couche', 'cougette', 'could', 'coulibiac', 'coulis', 'counter', 'country', 'couple', 'coupler', 'courgesttes', 'courgette', 'courgettes', 'courgetti', 'couronne', 'course', 'court', 'cous', 'couscous', 'cover', 'coverage', 'covered', 'coveredl', 'covering', 'covers', 'cox', 'cque', 'cr', 'crab', 'crabcake', 'crabcakes', 'crabmeat', 'crabmeats', 'crabs', 'crack', 'cracked', 'cracker', 'crackers', 'cracking', 'crackle', 'crackled', 'crackling', 'cracklings', 'crackly', 'cracks', 'craft', 'crains', 'cramped', 'cranachan', 'cranachans', 'cranberries', 'cranberry', 'crank', 'crannies', 'cranny', 'crater', 'craters', 'crayfish', 'crazy', 'cream', 'creama', 'creamed', 'creamier', 'creamif', 'creamily', 'creaminess', 'creaming', 'creams', 'creamy', 'crease', 'creases', 'creasing', 'create', 'created', 'creates', 'creating', 'creatures', 'credit', 'crema', 'cremat', 'creme', 'cremona', 'cremosa', 'creole', 'crepe', 'crepes', 'crepinette', 'crescent', 'cress', 'cresses', 'crest', 'crimp', 'crimped', 'crimping', 'crimps', 'crinkle', 'crinkled', 'crinkles', 'criolla', 'crisp', 'crispbreads', 'crisped', 'crispen', 'crisper', 'crispier', 'crispies', 'crispiness', 'crisping', 'crispness', 'crisps', 'crispy', 'criss', 'crisscross', 'critical', 'cro', 'crocodile', 'croissant', 'croissants', 'croque', 'croquembouche', 'croquet', 'croqueta', 'croquetas', 'croquette', 'croquettes', 'cross', 'crossed', 'crosses', 'crosshatch', 'crossing', 'crossways', 'crosswise', 'crostini', 'croustade', 'croustades', 'croustilliant', 'croute', 'crouton', 'croutons', 'crowd', 'crowded', 'crowdie', 'crowding', 'crown', 'crowns', 'cru', 'crucial', 'cruda', 'crudely', 'crudit', 'crumb', 'crumbed', 'crumble', 'crumbled', 'crumbles', 'crumbling', 'crumbly', 'crumbs', 'crumpet'

In [38]:
nmf_10 = NMF(10) 
instr_tf_nmf_10 = nmf_10.fit_transform(instr_tfidf)

In [39]:
display_topics(nmf_10, tf_vectorizer.get_feature_names(), 20) 
#without stemming/lemmatization, topics dominated by baking instructions!

Topic  0
add, heat, minutes, cook, pan, stir, fry, simmer, rice, sauce, stock, boil, bring, garlic, onion, water, medium, oil, frying, saucepan

Topic  1
sugar, whisk, cream, mixture, chocolate, egg, place, bowl, milk, oven, pour, whites, vanilla, custard, heat, peaks, butter, fold, meringue, yolks

Topic  2
pastry, pie, tart, filling, oven, roll, brush, case, egg, edges, baking, cm, bake, beaten, surface, minutes, top, cut, tin, gas

Topic  3
place, pepper, freshly, black, ground, olive, season, salt, salad, oil, dressing, drizzle, oven, plate, pan, onto, cheese, bowl, serve, salmon

Topic  4
chicken, breast, breasts, cooked, marinade, pieces, juices, minutes, oven, thighs, skin, clear, sauce, rice, run, place, roast, side, add, roasting

Topic  5
dough, flour, surface, roll, knead, pasta, baking, floured, work, lightly, tray, yeast, bowl, mix, water, minutes, cm, together, place, oven

Topic  6
oil, deep, hot, kitchen, batter, unattended, dangerous, caution, drain, paper, slotted, golden, leave, fryer, brown, flour, fry, dip, fish, sizzles

Topic  7
pork, oven, belly, meat, apple, cabbage, pan, potatoes, sauce, place, duck, cook, roasting, minutes, skin, gas, hours, remove, heat, roast

Topic  8
lamb, oven, potatoes, meat, casserole, minutes, roasting, rosemary, pan, cover, roast, chops, dish, gas, vegetables, remove, hours, place, cook, add

Topic  9
cake, tin, icing, cool, beat, oven, cm, sugar, chocolate, line, cakes, tins, butter, bake, mixture, grease, skewer, eggs, rack, baking

* Topic 0 rice stir fry
* Topic 1 dessert - cream, chocolate, meringue
* Topic 2 dessert - pastry/pie/tart
* Topic 3 salmon, cheese and pepper? need more cleaning
* Topic 4 chicken
* Topic 5 dough, yeast, pasta
* Topic 6 battered and fried (fish sticks?)
* Topic 7 pork roast
* Topic 8 lamb roast
* Topic 9 cake

In [40]:
#more cleaning; 
#also - only use the recipes with images? purpose is to filter! (might get better topics?)

### Focus on smaller set of recipes
Only the 2225 recipes with images, to use as filter for image data

In [41]:
bbcdata.head()

,chef,chef_id,cooking_time_minutes,description,error,ingredients,instructions,instructions_detailed,photo_url,preparation_time_minutes,program,program_id,serves,time_scraped,title,total_time_minutes,url
0,James Tanner,james_tanner,10,,False,"[250g/8¾oz plain flour, plus extra for dusting...","[Preheat the oven to 200C/400F/Gas 6., For the...","[{'ingredient': 'plain flour', 'line': '250g/8...",None,30,Ready Steady Cook,b006vcgr,1,1499227761,Ten-minute pizza,40,http://bbc.co.uk/food/recipes/10minutepizza_87314
1,Mary Berry,mary_berry,0,This is my standby pasta supper as it is so de...,False,"[350g/12oz penne pasta, 2 x 80g/3oz packs Parm...",[Cook the pasta in a pan of boiling salted wat...,"[{'ingredient': 'pasta', 'line': '350g/12oz pe...",http://ichef.bbci.co.uk/food/ic/food_16x9_608/...,30,Mary Berry Cooks,p01s4q10,6,1499227763,15 minute pasta,30,http://bbc.co.uk/food/recipes/15_minute_pasta_...
2,Mari Williams,mari_williams,0,Simple 3D iced biscuits inspired by Bake Off. ...,False,"[200g/7oz unsalted soft butter, 200g/7oz caste...","[To make the basic dough, line a baking tray w...","[{'ingredient': 'butter', 'line': '200g/7oz un...",http://ichef.bbci.co.uk/food/ic/food_16x9_608/...,30,The Great British Bake Off,b013pqnm,0,1499227766,3D biscuits,30,http://bbc.co.uk/food/recipes/3d_biscuits_29555
3,Justine Pattison,justine_pattison,0,This easy turkey crown recipe is served with s...,False,[2.5kg/5lb 8oz turkey crown (fully thawed if f...,"[Preheat the oven to 220C/200C Fan/Gas 7., For...","[{'ingredient': 'turkey', 'line': '2.5kg/5lb 8...",http://ichef.bbci.co.uk/food/ic/food_16x9_608/...,30,None,None,6,1499227765,2-hour Christmas dinner,30,http://bbc.co.uk/food/recipes/2_hour_christmas...
4,Ainsley Harriott,ainsley_harriott,0,Rib-eye is one of the most flavoursome cuts of...,False,"[2.25kg/5lb rib-eye of beef, boned and rolled,...",[Place the rib-eye of beef into a large non-me...,"[{'ingredient': None, 'line': '2.25kg/5lb rib-...",None,120,Great British Food Revival,b016pbs9,8,1499227769,Mustard and thyme crusted rib-eye of beef,120,http://bbc.co.uk/food/recipes/_81487

#### drop rows where selected column is NaN

In [42]:
#drop all the rows where photo_url = None (cell is NoneType, not string 'None') - can just use dropna
#withphotos = bbcdata[bbcdata['photo_url'] == 'None']

In [43]:
#df.dropna(subset=[1]) #drop rows only if column 1 has nan**
withphotos = bbcdata.dropna(subset=['photo_url'])
withphotos.shape

(2225, 17)

#### Clean and vectorize instructions for 2k recipes with photos

In [44]:
cld_withphotos=withphotos['instructions'].apply(regex_nodigits)
cld_withphotos.head()

1       cook the pasta in a pan of boiling salted wa...
2       to make the basic dough  line a baking tray ...
3       preheat the oven to c c fan gas      for the...
7       preheat the oven to c f gas      take a very...
18      preheat the oven to c c fan gas      heat g ...
Name: instructions, dtype: object

In [45]:
nltkstopwords = stopwords.words('english')
len(nltkstopwords)

179

In [46]:
nltkstopwords.extend(['minutes','add','remove'])
len(nltkstopwords)

182

In [47]:
corpus = cld_withphotos
tf_vectorizer = TfidfVectorizer(stop_words=nltkstopwords) #using extended stopwords
tokens_tfidf = tf_vectorizer.fit_transform(corpus)

print(tf_vectorizer.get_feature_names()) #add stemmer too?

['abd', 'able', 'absolute', 'absolutely', 'absorb', 'absorbed', 'absorbency', 'absorbent', 'absorbs', 'accommodate', 'accompanied', 'accompaniment', 'according', 'accordingly', 'accumulated', 'accurately', 'acetate', 'achieve', 'achieved', 'achieves', 'acid', 'acidity', 'ackee', 'acquire', 'across', 'act', 'action', 'active', 'actual', 'actually', 'added', 'adding', 'addition', 'additional', 'additions', 'adds', 'adhere', 'adheres', 'adjust', 'adjusting', 'aduki', 'adult', 'adults', 'advance', 'advocaat', 'aerated', 'aesthetic', 'affect', 'afraid', 'agar', 'agave', 'agents', 'agitate', 'ahead', 'aim', 'aiming', 'aioli', 'air', 'airily', 'airing', 'airtight', 'airy', 'ajar', 'al', 'alarmed', 'alaska', 'albondigas', 'alcohol', 'alcoholic', 'ale', 'alight', 'alla', 'allow', 'allowed', 'allowing', 'allows', 'allspice', 'almond', 'almonds', 'almost', 'alone', 'along', 'alongside', 'already', 'also', 'alter', 'alternate', 'alternately', 'alternating', 'alternative', 'alternatively', 'although', 'aluminium', 'aluminum', 'always', 'amalgamated', 'amaretti', 'amaretto', 'amber', 'amchur', 'among', 'amongst', 'amoul', 'amount', 'amounts', 'anchovies', 'anchovy', 'angel', 'angelica', 'anglaise', 'angle', 'angles', 'animal', 'anise', 'aniseed', 'another', 'antipasti', 'anything', 'anyway', 'apart', 'apex', 'appear', 'appearance', 'appeared', 'appearing', 'appears', 'appetizing', 'apple', 'apples', 'applicable', 'apply', 'applying', 'apprimately', 'approaching', 'appropriate', 'approx', 'approximately', 'apricot', 'apricots', 'aquavit', 'arancini', 'arbroath', 'arch', 'arched', 'area', 'areas', 'argan', 'arm', 'armagnac', 'arms', 'arnaise', 'aroma', 'aromas', 'aromatic', 'aromatics', 'around', 'arrabbiata', 'arrange', 'arrangement', 'arranging', 'arrowroot', 'arroz', 'artichoke', 'artichokes', 'asafoetida', 'ash', 'aside', 'ask', 'askew', 'asparagus', 'assemble', 'assembled', 'assembling', 'assess', 'asset', 'assist', 'assisted', 'assorted', 'assortment', 'assuming', 'atar', 'atmosphere', 'attach', 'attached', 'attaching', 'attachment', 'attention', 'attractive', 'au', 'aubergine', 'aubergines', 'authentic', 'auto', 'autumn', 'available', 'average', 'avocado', 'avocadoes', 'avocados', 'avoid', 'avoiding', 'away', 'baba', 'babas', 'baby', 'back', 'backbone', 'backs', 'backwards', 'bacon', 'bacteria', 'bad', 'bag', 'bagel', 'bagels', 'bags', 'baguette', 'baguettes', 'baharat', 'bain', 'bake', 'baked', 'bakes', 'bakestone', 'baking', 'baklava', 'balance', 'ball', 'baller', 'balloon', 'balls', 'balm', 'balsamic', 'bamboo', 'banana', 'bananas', 'bands', 'bang', 'bangers', 'bangs', 'banneton', 'banoffee', 'bantam', 'bar', 'barbados', 'barbecue', 'barbecued', 'barbecues', 'barbecuing', 'barbeque', 'barberries', 'bare', 'barely', 'bark', 'barley', 'barnacles', 'barnsley', 'bars', 'base', 'based', 'bases', 'bash', 'bashed', 'bashing', 'basic', 'basil', 'basin', 'basins', 'basis', 'basket', 'basmati', 'bass', 'baste', 'basted', 'basting', 'bat', 'batch', 'batches', 'baton', 'batons', 'batter', 'battered', 'batters', 'bauble', 'baubles', 'bavarois', 'bavette', 'bay', 'bbq', 'beacomes', 'beads', 'beak', 'beaks', 'bean', 'beans', 'beansprouts', 'beany', 'bear', 'beards', 'beat', 'beaten', 'beater', 'beaters', 'beating', 'beautiful', 'beautifully', 'bechamel', 'become', 'becomes', 'becoming', 'bed', 'bee', 'beef', 'beer', 'bees', 'beetroot', 'beetroots', 'begin', 'beginning', 'begins', 'begun', 'behind', 'beige', 'belly', 'bench', 'bend', 'beneath', 'benedict', 'beneficial', 'berries', 'berry', 'beside', 'best', 'better', 'beurre', 'beware', 'beyond', 'bhaji', 'bicarbonate', 'big', 'bigger', 'biggest', 'billowy', 'bin', 'bind', 'binds', 'bird', 'birds', 'biryani', 'biscotti', 'biscuit', 'biscuits', 'bit', 'bite', 'bites', 'bits', 'bitter', 'bitterness', 'bitters', 'black', 'blackberries', 'blackberry', 'blackcurrants', 'blacked', 'blacken', 'blackened', 'blackstrap', 'blade', 'bladed', 'blades', 'blanc', 'blanch', 'blanched', 'blanching', 'blankets', 'blast', 'blasts', 'blend', 'blended', 'blender', 'blending', 'blind', 'blini', 'blinis', 'blip', 'blister', 'blistered', 'blisters', 'blitz', 'blob', 'blobs', 'block', 'blonde', 'blood', 'bloomer', 'blossom', 'blow', 'blowtorch', 'blue', 'blueberries', 'blueberry', 'blunt', 'board', 'boarder', 'boards', 'boat', 'boats', 'bobble', 'bodies', 'body', 'boil', 'boiled', 'boiling', 'boils', 'bok', 'bold', 'bolognese', 'bombay', 'bone', 'bones', 'bonnet', 'book', 'border', 'borlotti', 'bottle', 'bottled', 'bottles', 'bottom', 'bottomed', 'bottoms', 'bought', 'bouillon', 'boulang', 'bouncy', 'bound', 'bouquet', 'bourbon', 'bow', 'bowl', 'bowlful', 'bowls', 'box', 'boxes', 'br', 'brad', 'braeburn', 'braid', 'braided', 'braiding', 'braise', 'braised', 'braising', 'bramble', 'bramley', 'bran', 'branch', 'brandy', 'brava', 'brazil', 'bread', 'breadcrumb', 'breadcrumbs', 'breaded', 'breadfruit', 'breads', 'breadstick', 'breadsticks', 'break', 'breakdown', 'breakfast', 'breaking', 'breaks', 'bream', 'breast', 'breastbone', 'breasts', 'bresaola', 'brew', 'brick', 'brief', 'briefly', 'bright', 'brilliant', 'brim', 'brine', 'bring', 'bringing', 'brings', 'brioche', 'brisk', 'brisket', 'briskly', 'british', 'broad', 'broccoli', 'broken', 'broth', 'brought', 'brown', 'browned', 'brownie', 'brownies', 'browning', 'brownish', 'browns', 'bruise', 'bruised', 'bruises', 'bruising', 'brul', 'bruschetta', 'brush', 'brushed', 'brushing', 'brussels', 'bubble', 'bubbled', 'bubbles', 'bubbling', 'bubbly', 'bucatini', 'buckwheat', 'bud', 'build', 'building', 'built', 'bulb', 'bulbs', 'bulgar', 'bulge', 'bulging', 'bulgur', 'bulked', 'bumps', 'bumpy', 'bun', 'bunch', 'bundle', 'bundt', 'bunnies', 'buns', 'bunting', 'burger', 'burgers', 'burn', 'burned', 'burning', 'burnished', 'burns', 'burnt', 'burrito', 'burritos', 'burst', 'bursts', 'burying', 'business', 'butcher', 'butter', 'butterbean', 'butterbeans', 'buttercream', 'buttered', 'butterfly', 'butterflying', 'buttermilk', 'butternut', 'butters', 'butterscotch', 'buttery', 'button', 'buttons', 'buy', 'cabbage', 'cabbages', 'cabernet', 'cacao', 'cajun', 'cake', 'cakes', 'cakey', 'calamari', 'calasparra', 'calculate', 'calculating', 'calf', 'called', 'calvados', 'camomile', 'camp', 'canap', 'candied', 'candle', 'candles', 'candy', 'cane', 'canelle', 'canned', 'cannellini', 'cannelloni', 'cannot', 'canoes', 'cans', 'cap', 'capacity', 'caper', 'caperberries', 'capers', 'caponata', 'caps', 'capturing', 'caramel', 'caramelise', 'caramelised', 'caramelises', 'caramelising', 'caramelize', 'caramelized', 'caramels', 'carameslised', 'caraway', 'carcass', 'carcasses', 'carcinogenic', 'card', 'cardamom', 'care', 'careful', 'carefully', 'carmelised', 'carne', 'carrier', 'carrot', 'carrots', 'carry', 'carrying', 'cartouche', 'carve', 'carved', 'carving', 'case', 'cases', 'cashew', 'cashews', 'casserole', 'cassia', 'cassis', 'cassoulet', 'cast', 'caster', 'catch', 'catches', 'catching', 'cats', 'caught', 'cauliflower', 'cauliflowers', 'cause', 'caused', 'caution', 'cautious', 'caviar', 'cavity', 'cavolo', 'cayenne', 'cazuela', 'celeriac', 'celery', 'cellophane', 'celtic', 'cement', 'cent', 'center', 'centimetre', 'centimetres', 'central', 'centre', 'centres', 'ceramic', 'cereal', 'certain', 'certainly', 'ceviche', 'chaat', 'chaffing', 'chair', 'chamel', 'champ', 'champagne', 'chana', 'chance', 'change', 'changed', 'changes', 'changing', 'channel', 'chanterelle', 'chantilly', 'chapatis', 'chapatti', 'chapattis', 'char', 'charcoal', 'chard', 'chargrill', 'chargrilled', 'charlotte', 'charm', 'charred', 'chars', 'che', 'cheat', 'check', 'checked', 'checker', 'checking', 'cheddar', 'cheek', 'cheeks', 'cheerful', 'cheese', 'cheesecake', 'cheesecakes', 'cheeses', 'cheesy', 'chef', 'chefs', 'chermoula', 'cherries', 'cherry', 'chervil', 'chestnut', 'chestnuts', 'chewy', 'chia', 'chick', 'chicken', 'chickens', 'chickpea', 'chickpeas', 'chicks', 'chicory', 'child', 'children', 'chilies', 'chill', 'chilled', 'chilli', 'chillies', 'chilling', 'chills', 'chimichurri', 'chimicurri', 'chimney', 'china', 'chinese', 'chip', 'chipattis', 'chipolata', 'chipolatas', 'chipotle', 'chips', 'chive', 'chives', 'chocolat', 'chocolate', 'chocolates', 'chocolatey', 'choi', 'choice', 'chokes', 'choking', 'choose', 'chop', 'chopped', 'chopping', 'chops', 'chopstick', 'chopsticks', 'chorizo', 'chosen', 'choux', 'chow', 'chowder', 'choy', 'christmas', 'chuck', 'chunk', 'chunks', 'chunky', 'churn', 'churning', 'churro', 'churros', 'chutney', 'chutneys', 'ciabatta', 'cider', 'cigar', 'cigars', 'cinnamon', 'circle', 'circles', 'circular', 'circumference', 'citric', 'citron', 'citrus', 'clair', 'clairs', 'clam', 'clamp', 'clams', 'clapshot', 'clarified', 'classic', 'claw', 'claws', 'clean', 'cleaned', 'cleaner', 'cleaning', 'cleanly', 'clear', 'clearly', 'cleaver', 'clementine', 'clever', 'cling', 'clingfilm', 'clinging', 'clings', 'clip', 'clips', 'clock', 'clockwise', 'close', 'closed', 'closely', 'closer', 'closest', 'closing', 'cloth', 'clotted', 'cloud', 'clouds', 'cloudy', 'clove', 'clover', 'cloves', 'clump', 'clumping', 'clumps', 'clumpy', 'cluster', 'clusters', 'cm', 'cmx', 'cmxcm', 'co', 'coals', 'coarse', 'coarsely', 'coarser', 'coat', 'coated', 'coating', 'coats', 'coax', 'cob', 'cobbler', 'cobs', 'cock', 'cocktail', 'cocktails', 'cocoa', 'coconut', 'cod', 'coffee', 'cognac', 'coil', 'coiling', 'coin', 'coins', 'cointreau', 'cola', 'colander', 'colcannon', 'cold', 'coleslaw', 'coley', 'collapse', 'collapsed', 'collapsing', 'collar', 'collarette', 'collars', 'collect', 'collected', 'collecting', 'colour', 'coloured', 'colouring', 'colourings', 'colours', 'columns', 'coluring', 'combination', 'combine', 'combined', 'come', 'comes', 'coming', 'comp', 'compact', 'complement', 'complete', 'completed', 'completely', 'completes', 'completing', 'components', 'compote', 'compress', 'con', 'conceal', 'concentrate', 'concentric', 'concertina', 'condensed', 'condition', 'cone', 'confident', 'confit', 'conical', 'connect', 'connected', 'conserve', 'considerable', 'considerably', 'consistency', 'consomm', 'constantly', 'construct', 'contact', 'contain', 'container', 'containers', 'containing', 'content', 'contents', 'continual', 'continually', 'continue', 'continuing', 'continuously', 'contiuously', 'contrast', 'contrasting', 'convenient', 'conventional', 'convincing', 'cook', 'cooked', 'cooker', 'cookie', 'cookies', 'cooking', 'cooks', 'cool', 'cooled', 'cooler', 'coolest', 'cooling', 'cools', 'copper', 'coq', 'coral', 'cordial', 'core', 'cored', 'corer', 'cores', 'coriander', 'corkscrew', 'corn', 'cornbread', 'corned', 'corner', 'corners', 'cornflour', 'cornichons', 'cornish', 'cornmeal', 'correct', 'correctly', 'cos', 'cotta', 'cottage', 'couche', 'could', 'coulibiac', 'coulis', 'counter', 'country', 'couple', 'courgette', 'courgettes', 'courgetti', 'couronne', 'course', 'court', 'cous', 'couscous', 'cover', 'covered', 'covering', 'covers', 'cr', 'crab', 'crabcakes', 'crabmeat', 'crack', 'cracked', 'cracker', 'crackers', 'cracking', 'crackle', 'crackled', 'crackling', 'cracks', 'craft', 'cramped', 'cranachan', 'cranachans', 'cranberries', 'cranberry', 'crannies', 'cranny', 'crazy', 'cream', 'creamed', 'creamier', 'creamily', 'creaming', 'creams', 'creamy', 'crease', 'create', 'created', 'creates', 'creating', 'creatures', 'credit', 'creme', 'creole', 'crescent', 'cress', 'crimp', 'crimped', 'crimping', 'crinkle', 'crinkled', 'crinkles', 'crisp', 'crisped', 'crisper', 'crispier', 'crispiness', 'crispness', 'crisps', 'crispy', 'criss', 'cro', 'croquette', 'croquettes', 'cross', 'crossed', 'crosses', 'crosshatch', 'crossing', 'crossways', 'crosswise', 'crostini', 'croutons', 'crowd', 'crowdie', 'crowding', 'crown', 'crumb', 'crumbed', 'crumble', 'crumbled', 'crumbling', 'crumbly', 'crumbs', 'crumpet', 'crumpets', 'crumple', 'crumpled', 'crunch', 'crunchy', 'crush', 'crushed', 'crust', 'crusted', 'crusting', 'crusts', 'crusty', 'crystallise', 'crystallised', 'crystals', 'cube', 'cubed', 'cubes', 'cubesafter', 'cucumber', 'cucumbers', 'cumberland', 'cumin', 'cup', 'cupboard', 'cupboards', 'cupcake', 'cupcakes', 'cupful', 'cupid', 'cups', 'curd', 'curdle', 'curdled', 'curdles', 'curdling', 'cure', 'cured', 'curl', 'curled', 'curling', 'curls', 'curly', 'currant', 'currants', 'curried', 'currry', 'curry', 'curve', 'curved', 'curves', 'curving', 'custard', 'custards', 'cut', 'cutlery', 'cutlet', 'cutlets', 'cuts', 'cutter', 'cutters', 'cutting', 'cycle', 'cyclist', 'cylinder', 'daal', 'dab', 'dabs', 'dacquoise', 'daily', 'dairy', 'daisies', 'daisy', 'dal', 'damaged', 'damp', 'damped', 'dampen', 'dampfnudel', 'dampfnudels', 'damsons', 'dandelion', 'dangerous', 'dangle', 'dare', 'dariole', 'dark', 'darken', 'darkened', 'darkens', 'darker', 'dash', 'dashes', 'dashi', 'date', 'dates', 'dauphinoise', 'day', 'days', 'de', 'dead', 'deal', 'debeard', 'debris', 'decant', 'decent', 'decorate', 'decorated', 'decorating', 'decoration', 'decorations', 'decorative', 'decoratively', 'decrease', 'decreasing', 'deduct', 'deep', 'deeper', 'deeply', 'defined', 'deflates', 'defrost', 'defrosted', 'deglaze', 'deglazed', 'degree', 'degrees', 'delectably', 'delicate', 'delicious', 'deliciously', 'delight', 'demerara', 'demerera', 'dense', 'dent', 'dente', 'depend', 'depending', 'depends', 'depressions', 'depth', 'described', 'description', 'deseed', 'desiccated', 'design', 'designs', 'desire', 'desired', 'dessert', 'desserts', 'dessertspoon', 'dessertspoonful', 'dessertspoonfuls', 'dessertspoons', 'details', 'devein', 'develop', 'dhal', 'diagonal', 'diagonally', 'diameter', 'diamond', 'diamonds', 'dice', 'diced', 'dick', 'die', 'died', 'difference', 'different', 'differently', 'difficult', 'diffuser', 'dig', 'digestive', 'digital', 'dijon', 'dill', 'dilute', 'diluted', 'dim', 'diminish', 'dimples', 'dinner', 'dip', 'dippable', 'dipped', 'dipping', 'dips', 'direct', 'direction', 'directions', 'directly', 'dirt', 'disappear', 'disappeared', 'disc', 'discard', 'discarded', 'discarding', 'disco', 'discolouring', 'discs', 'disguise', 'dish', 'dishes', 'dishwasher', 'disintegrate', 'disk', 'disks', 'disperse', 'displacing', 'disposable', 'dissolve', 'dissolved', 'dissolves', 'distance', 'distinctive', 'distribute', 'distributed', 'distribution', 'disturbing', 'dive', 'divide', 'dividing', 'division', 'diy', 'docker', 'dolcelatte', 'dollop', 'dollops', 'dolly', 'dome', 'domed', 'domes', 'domestic', 'dominating', 'done', 'doneness', 'door', 'doors', 'dot', 'dots', 'dotting', 'double', 'doubled', 'doubles', 'doubt', 'dough', 'doughnut', 'doughnuts', 'doughs', 'doughy', 'dove', 'dowel', 'doweling', 'dowelling', 'downward', 'downwards', 'dozen', 'drafts', 'drag', 'dragging', 'drain', 'drained', 'draining', 'drambuie', 'drape', 'drapes', 'draw', 'drawing', 'drawn', 'draws', 'dream', 'dredge', 'dress', 'dressed', 'dressing', 'dribble', 'dribbles', 'dried', 'dries', 'drink', 'drinking', 'drip', 'dripped', 'dripping', 'drips', 'drive', 'driven', 'drizzle', 'drizzled', 'drizzles', 'drizzling', 'drop', 'dropped', 'dropping', 'drops', 'drum', 'drumstick', 'drumsticks', 'dry', 'drying', 'dublin', 'duck', 'due', 'dukkah', 'dulce', 'dull', 'dump', 'dumpling', 'dumplings', 'dunk', 'duration', 'dusky', 'dust', 'dusted', 'dusting', 'dutch', 'duxelle', 'ear', 'earl', 'earlier', 'early', 'ears', 'earthenware', 'ease', 'easier', 'easiest', 'easily', 'easing', 'easter', 'easy', 'eat', 'eaten', 'eating', 'eccles', 'eclairs', 'ed', 'edamame', 'edge', 'edged', 'edges', 'edible', 'effect', 'effort', 'egg', 'eggs', 'eggwash', 'eggy', 'eight', 'eighth', 'eighths', 'either', 'el', 'elaborate', 'elapsed', 'elastic', 'elasticated', 'elbow', 'elderflower', 'elderflowers', 'electric', 'electrical', 'elegant', 'eleven', 'eliminate', 'else', 'elusive', 'emanates', 'embers', 'emboss', 'emerged', 'emmental', 'empanadas', 'emphasise', 'empty', 'emulsified', 'emulsifies', 'emulsify', 'emulsion', 'en', 'enable', 'enables', 'enamel', 'encase', 'encased', 'enchiladas', 'enclose', 'enclosed', 'enclosing', 'encourage', 'encouraging', 'end', 'ended', 'ending', 'ends', 'english', 'enjoy', 'enlarge', 'enormous', 'enough', 'ensure', 'ensures', 'ensuring', 'entire', 'entirely', 'envelope', 'equal', 'equally', 'equivalent', 'es', 'escalope', 'escalopes', 'escape', 'escapes', 'escaping', 'especially', 'espresso', 'essence', 'essential', 'evaporate', 'evaporated', 'evaporates', 'even', 'evening', 'evenly', 'eventually', 'ever', 'every', 'everyone', 'everything', 'everywhere', 'exact', 'exactly', 'examine', 'excep', 'except', 'exception', 'excess', 'excessive', 'expand', 'expanded', 'expansion', 'expect', 'experience', 'explode', 'expose', 'exposed', 'exposing', 'exterior', 'extra', 'extract', 'extras', 'extreme', 'extremely', 'exuded', 'eye', 'eyebrows', 'eyes', 'fabric', 'fabulously', 'face', 'faces', 'facing', 'factor', 'fade', 'fagioli', 'fail', 'faintly', 'fair', 'fairly', 'fairy', 'falafel', 'falafels', 'fall', 'fallen', 'falling', 'falls', 'family', 'fan', 'fancies', 'fancy', 'fanned', 'far', 'farthest', 'fashions', 'fast', 'fasten', 'faster', 'fastest', 'fat', 'fats', 'fatty', 'favourite', 'fear', 'feather', 'feathered', 'features', 'feed', 'feeder', 'feeding', 'feel', 'feeling', 'feels', 'feet', 'feijoada', 'fence', 'fennel', 'fenugreek', 'ferment', 'fermented', 'ferociously', 'festive', 'feta', 'fettuccine', 'fgas', 'fibres', 'fibrous', 'fideu', 'fifteen', 'fifth', 'fifty', 'fig', 'figs', 'figurines', 'filing', 'fill', 'filled', 'fillet', 'fillets', 'filling', 'fillings', 'fills', 'film', 'filo', 'filter', 'final', 'finally', 'find', 'finds', 'fine', 'finely', 'finest', 'finger', 'fingered', 'fingernails', 'fingerprints', 'fingers', 'fingertip', 'fingertips', 'finish', 'finished', 'finishing', 'fir', 'firm', 'firmed', 'firmer', 'firmly', 'first', 'firstly', 'fish', 'fishcake', 'fishcakes', 'fishmonger', 'fishy', 'fit', 'fita', 'fits', 'fitted', 'fitting', 'five', 'fix', 'fixed', 'fixing', 'fixture', 'fizz', 'fizzes', 'fl', 'flageolet', 'flags', 'flake', 'flaked', 'flakes', 'flakiness', 'flaky', 'flamb', 'flame', 'flameproof', 'flames', 'flaming', 'flammable', 'flan', 'flaounes', 'flap', 'flapjack', 'flapjacks', 'flaps', 'flare', 'flash', 'flat', 'flatbread', 'flatbreads', 'flatleaf', 'flats', 'flatten', 'flattened', 'flattening', 'flattish', 'flavour', 'flavoured', 'flavouring', 'flavourings', 'flavours', 'flavoursome', 'flax', 'fleeces', 'flesh', 'fleshy', 'flexible', 'flick', 'flip', 'flipping', 'float', 'floated', 'floating', 'floats', 'flood', 'flooding', 'floor', 'floppy', 'florentine', 'florentines', 'florets', 'flour', 'floured', 'flouring', 'flours', 'floury', 'flower', 'flowering', 'flowers', 'flowing', 'floz', 'fluff', 'fluffier', 'fluffing', 'fluffly', 'fluffy', 'flute', 'fluted', 'flutes', 'flying', 'foam', 'foaming', 'foams', 'foamy', 'focaccia', 'foil', 'fold', 'folded', 'folding', 'folds', 'follow', 'followed', 'following', 'fondant', 'fondants', 'fondue', 'fontina', 'food', 'foods', 'fool', 'foot', 'football', 'force', 'forcemeat', 'fore', 'forefinger', 'forest', 'forget', 'forgiving', 'fork', 'forks', 'form', 'formed', 'forming', 'forms', 'forth', 'forty', 'forward', 'forwards', 'fougasse', 'found', 'foundation', 'four', 'fourteen', 'fourth', 'fr', 'fra', 'fragile', 'fragrance', 'fragrant', 'fraiche', 'frais', 'fraisier', 'frame', 'frames', 'frangipane', 'free', 'freehand', 'freekeh', 'freestanding', 'freezable', 'freeze', 'freezeable', 'freezer', 'freezing', 'french', 'frequently', 'fresh', 'fresher', 'freshly', 'freshness', 'friache', 'fridge', 'fried', 'friendly', 'friends', 'fries', 'frikadeller', 'frilly', 'fringe', 'fritas', 'frittata', 'fritter', 'fritters', 'fromage', 'fronds', 'front', 'frost', 'frosted', 'frosting', 'froth', 'frothing', 'frothy', 'frozen', 'fruit', 'fruits', 'fruity', 'frutti', 'fry', 'fryer', 'frying', 'fu', 'fudge', 'full', 'fully', 'fun', 'funnel', 'furiously', 'furthest', 'fusilli', 'future', 'galangal', 'galette', 'galettes', 'game', 'gammon', 'ganach

In [48]:
#more cleaning! stemming?
#TFIDF
nmf_10 = NMF(10) 
withphotos_tf_nmf_10 = nmf_10.fit_transform(tokens_tfidf)

#### **NMF topics**

In [49]:
display_topics(nmf_10, tf_vectorizer.get_feature_names(), 20)

Topic  0
cook, heat, simmer, stirring, bring, boil, stock, stir, water, saucepan, rice, onion, sauce, pan, pasta, reduce, tender, lid, garlic, season

Topic  1
chocolate, sugar, whisk, mixture, cream, bowl, egg, set, cool, baking, oven, butter, pour, melted, meringue, place, heat, milk, vanilla, water

Topic  2
pastry, pie, filling, roll, tart, case, egg, brush, oven, edges, tin, cm, beaten, baking, fridge, bake, cut, mixture, line, surface

Topic  3
dough, flour, surface, baking, knead, roll, floured, work, bowl, place, lightly, yeast, leave, tray, onto, oven, mix, together, size, shape

Topic  4
chicken, marinade, breasts, cooked, pieces, thighs, breast, juices, marinate, place, ingredients, clear, cover, stock, skin, sauce, pan, barbecue, rice, run

Topic  5
pepper, salad, olive, place, dressing, season, salt, bowl, lemon, oil, mix, black, drizzle, freshly, juice, fish, ground, well, ingredients, taste

Topic  6
cake, tin, icing, beat, cakes, cool, sugar, cm, skewer, oven, tins, top, grease, mixture, butter, rack, inserted, line, comes, spread

Topic  7
wok, noodles, sauce, stir, fry, soy, rice, spring, lime, chilli, coriander, oil, fish, paste, ginger, onions, heat, sesame, minute, prawns

Topic  8
potatoes, lamb, oven, dish, beef, meat, casserole, roasting, gas, roast, preheat, place, potato, brown, vegetables, tin, mash, tender, pork, hours

Topic  9
pan, heat, fry, frying, oil, cook, medium, brown, golden, hot, side, mushrooms, set, batter, crisp, cooked, aside, salt, high, kitchen

Topics look good!

tfidf+nmf with extended stopwords (minutes, add, remove)

* Topic 0 roast - potatoes, lamb, beef, pork
* Topic 1 dessert - chocolate, meringue
* Topic 2 dessert - pastry, pie, tart
* Topic 3 bread (dough, yeast, knead, roll, shape - no sugar)
* Topic 4 chicken
* Topic 5 salad
* Topic 6 cake
* Topic 7 Asian - curry, rice, stir-fry
* Topic 8 pasta
* Topic 9 pan-fry (european?)

    (Previously, tfidf+ nmf, 10 topics without extended stopwords )
    * Topic 0 rice stir fry
    * Topic 1 dessert - chocolate, meringue
    * Topic 2 dessert - pastry, pie, tart
    * Topic 3 dough, yeast (bread?)
    * Topic 4 chicken
    * Topic 5 salad
    * Topic 6 cake
    * Topic 7 Asian, noodles (wok, fry, soy, seasame) 
    * Topic 8 pasta, spaghetti
    * Topic 9 potatoes, lamb roast, beef, pork

In [50]:
#restarted kernel, order of topics changed? one topic content changed also, the rest were the sam

#next? more cleaning? - topics look good, except for stir and stirring in topic 0, tin and tins in Topic 6, not much need for stemmer
    #can still add stemmer to improve it
    #also, can add minute/minutes/hours to stopwords
    
#cluster on topics? in order to assign new image to cluster - can we expect the clusters to match the topics?

#Clustering - if use Kmeans, need to convert and approx cosine similarity
    #then predict which cluster the image belongs to; 
    # also need to predict/assign cluster to each image in dataset (could be slow)
    # Kmeans assigns one doc to one cluster only, "hard"
    # "Fuzzy Kmeans" gives probability (documentation minimal, run on cmd line?)
#should be able to do this with topics also?
    # topic modelling, each document has topic weights, can assign to max-weighted topic; LDA?

#### Get doc-topic matrix 
to use NMF topics

In [51]:
withphotos.title

1                                          15 minute pasta
2                                             3D biscuits
3                                  2-hour Christmas dinner
7        A classic sponge cake (with passion fruit fill...
18               Albanian baked lamb with rice (Tavë kosi)
                               ...
10574                                   Yorkshire puddings
10576                           Yorkshire ‘tapas’ puddings
10582                                             Yule log
10585                             Za’atar cod with relish
10589                                Zesty tofu cheesecake
Name: title, Length: 2225, dtype: object

##### *Set index to original index - *Not recipe ID!

In [52]:
#index = withphotos.title  #instead of changing index from ID to title, better to use ID, or keep both?
index = withphotos.index
columns = ['topic ' + str(num) for num in range(10)]

In [53]:
#withphotos_tf_nmf_10 = nmf_10.fit_transform(tokens_tfidf) 
doc_topic = pd.DataFrame(withphotos_tf_nmf_10.round(5),index,columns)
doc_topic

,topic 0,topic 1,topic 2,topic 3,topic 4,topic 5,topic 6,topic 7,topic 8,topic 9
1,0.03491,0.00000,0.00000,0.00000,0.00000,0.05341,0.00000,0.00000,0.00000,0.15217
2,0.00000,0.03898,0.00568,0.06684,0.00000,0.00000,0.04154,0.00000,0.02900,0.00000
3,0.05478,0.00824,0.00000,0.02322,0.00574,0.03262,0.00000,0.00000,0.17753,0.01710
7,0.00000,0.06505,0.00689,0.01557,0.00073,0.03536,0.09565,0.00641,0.00000,0.00000
18,0.06629,0.00546,0.00220,0.00000,0.00000,0.00519,0.00000,0.00000,0.16475,0.06193
...,...,...,...,...,...,...,...,...,...,...
10574,0.00000,0.05277,0.00224,0.02373,0.00000,0.00771,0.00681,0.00064,0.08445,0.01913
10576,0.03424,0.05877,0.01129,0.01175,0.05156,0.01469,0.01892,0.01663,0.05066,0.04952
10582,0.00000,0.05960,0.01715,0.02681,0.00000,0.00000,0.15664,0.00000,0.00000,0.00000
10585,0.00000,0.00000,0.00000,0.00647,0.01219,0.08390,0.00000,0.01125,0.00000,0.06765
10589,0.00274,0.04956,0.00213,0.00000,0.00000,0.01208,0.03089,0.02671,0.00000,0.00000

#### *Assign document to topic with highest weight
*alternative is clustering in topic space, documents are points

In [57]:
#numpy.argmax -- Returns the indices of the maximum values along an axis. Default index is into the flattened array (axis=None, works on entire array)
#returns first occurrence if max occurs multiple times
#*may need to reshape?

#test on small df first
test = doc_topic.head()
test

,topic 0,topic 1,topic 2,topic 3,topic 4,topic 5,topic 6,topic 7,topic 8,topic 9
1,0.03491,0.00000,0.00000,0.00000,0.00000,0.05341,0.00000,0.00000,0.00000,0.15217
2,0.00000,0.03898,0.00568,0.06684,0.00000,0.00000,0.04154,0.00000,0.02900,0.00000
3,0.05478,0.00824,0.00000,0.02322,0.00574,0.03262,0.00000,0.00000,0.17753,0.01710
7,0.00000,0.06505,0.00689,0.01557,0.00073,0.03536,0.09565,0.00641,0.00000,0.00000
18,0.06629,0.00546,0.00220,0.00000,0.00000,0.00519,0.00000,0.00000,0.16475,0.06193

In [58]:
np.argmax(np.array(test), axis = 1) #works! #.reshape(5,10) not necessary in this case
#topics changed after changing index from title to ID?

array([9, 3, 8, 6, 8])

In [59]:
test.shape

(5, 10)

In [57]:
for row in test.transpose():
    print(row) #index is ID (prev index =title

1
2
3
7
18

In [60]:
test.transpose().iloc[:,0] #prints first row**
#test.transpose().iloc[0] prints the 0th column!

topic 0    0.03491
topic 1    0.00000
topic 2    0.00000
topic 3    0.00000
topic 4    0.00000
topic 5    0.05341
topic 6    0.00000
topic 7    0.00000
topic 8    0.00000
topic 9    0.15217
Name: 1, dtype: float64

In [61]:
def assign_topic(df):
    '''For each row in df, finds the topic with highest weight, 
    assign that topic label to the row.
    Returns a dataframe''' #df easiest to access, will group recipes and images by labels later
    label_list = []
    for i in range(len(df)): #easier way to do this?
        topic_label = np.argmax(np.array(df.transpose().iloc[:,i]), axis = 0)
        label_list.append(topic_label)
    return pd.DataFrame(label_list, index = index, columns = ['topics'])#columns needs to be a list
    #better if make df outside of function?
    #np.argmax(np.array(test), axis = 1)
#edit ftn before pickling*

#index = withphotos.index

In [62]:
#assign_topic(test)
labelled = assign_topic(doc_topic)
labelled  #is 1 coln df enough? use other data structure? save as sparse matrix instead?**

       topics
1           9
2           3
3           8
7           6
18          8
...       ...
10574       8
10576       1
10582       6
10585       5
10589       1

[2225 rows x 1 columns]

In [69]:
labelled['idx'] = labelled.index  #*not necessary? this id is not the unique recipe ID*!
labelled

       topics    idx
1           9      1
2           3      2
3           8      3
7           6      7
18          8     18
...       ...    ...
10574       8  10574
10576       1  10576
10582       6  10582
10585       5  10585
10589       1  10589

[2225 rows x 2 columns]

In [62]:
#if use this data structure, need to loop through 10 times to save each topic label as a list? to make list of lists?
#instead, just look up topic label from df? (could be slow on app? but dataset not big)

#pseudocode: (more complicated than I expected?)

    #give each topic label a summary (2.3.3, 2-word max?), provide those to the user on app (drop down list? or type in box with drop-down)
    #write ftn that takes that word as input, and returns a list of all recipe titles of that label
    
    #another ftn: *combine labelled sublist with image data - match each recipe with its image 
        #(*what's the fastest way? image title has title with underscore and recipe ID - should keep ID from original data (not a column)?)
        #returns a list of images (titles?), use those to find features

##### **Label names of 10 topics:**

```
* Topic 0 roast - potatoes, lamb, beef, pork
* Topic 1 dessert - chocolate, meringue
* Topic 2 dessert - pastry, pie, tart
* Topic 3 bread 
* Topic 4 chicken
* Topic 5 salad
* Topic 6 cake
* Topic 7 Asian - curry, rice, stir-fry
* Topic 8 pasta
* Topic 9 pan fry
```
(combine the 2 dessert topics?)

In [63]:
idx_coln = withphotos.index
type(idx_coln)

pandas.core.indexes.numeric.Int64Index

#### Find documents of the selected topic

In [70]:
def get_topic_num(name):
    '''For a given label name (out of 10 choices), returns the topic number'''
    label_names_dict = {'roast':0,
                   'dessert (chocolate)':1, 
                   'dessert (pastry, pie)':2, 
                   'bread':3,
                   'chicken':4,
                   'salad':5,
                   'cake':6,
                   'Asian':7,
                   'pasta':8,
                   'pan fry':9} #*change to floats for combined?
    # dictionary --keys=names, values=topic number; match label names with topic number in doc_topic and labelled df
    if name in label_names_dict: #check user input is key in dict
        topic_num = label_names_dict[name]#get matching values(topic number) 
        return topic_num #=6 for cake, works

def get_recipes_by_topic(num, data):
    '''Takes in the topic number (0 to 9),
    returns a list of IDs of all recipe titles assigned to that topic
    (those that have the label as the topic with maximum weight from NMF topic modelling)'''
    docs_same_label = []
    #result = [f(x) for x in df['col']] better and faster than iter ftns
    #result = [f(x, y) for x, y in zip(df['col1'], df['col2'])]
    for topicn, idn in zip(data['topics'], data['idx']):
        if topicn == num:
            docs_same_label.append(idn)
    return docs_same_label
#better to cluster than assigning?

In [65]:
get_topic_num('roast')

0

In [66]:
#check classic sponge cake recipe (topic 6, cake)
labelled.iloc[3] #name is index, can't use loc on it as a regular column?
#iloc[0], expect to get 8 for pasta?

topics    6
Name: 7, dtype: int64

In [71]:
cakes = get_recipes_by_topic(float(6), labelled)
#a list of all recipe ids that are cakes
len(cakes) #restart kernel, length increased?

150

In [73]:
#^^^debug
cakes[40]

2097

#### *Match docs with selected topic to their images

##### Clean image titles to extract IDs

In [68]:
#!problem: ID in image title is not the same as index in recipe? recipe id max at 10589 (10589 text recipes)
#but images have a much larger ID (dep on how many are scraped from website?)
#how to match recipes to image?

#in Cosine_Similarity code, using index in bbc_list (order of images in directory) 
    #In first nb-Feature_Extractor code, also following that order - but not matching because recipes with no images don't exist in features.csv
    #image index in FtExtr 0-2225, but how to get recipe withphotos text index (1,2,3,7,18) to each image?

* clean images and use 4-5 digit number as recipe ID
* add column for URL to text df
* add extract the same recipe ID number as ID column to doc_topic and labelled dfs
* *add recipe ID column to FeatureExtractor code, extract features again (2k, <1hr locally?)*
* join id-topic text df with id-features image df
* can then filter recipe and images by topic!

*allrecipes set has ID as image title, can probably use same code to match those features with recipe text - is it worth it?*

In [74]:
bbcimg_list = !ls '/Users/xinrucheng/Documents/Metis_bootcamp/week_9/project5data/2017_140k/recipe_photos/bbc_photos/pages-photos/'
len(bbcimg_list) #doesn't work if use !ls img_path variable

2225

In [75]:
#example image title: _chicken_chasseur_with_19163_16x9.jpg
def clean_img_title(imglist):
    '''use regex to clean image titles to get unique recipe ID,
    imglist is a list of image title strings
    Returns a dataframe where the column ID is integer IDs, 
    and the column title is the original image title''' 
    import re
    ID_list = []
    title_list = []
    for filename in imglist:
        title_list.append(filename)
        #x = re.split("_", filename)
        ids = re.findall(r"_(\d+)_", str(filename))
        #print(ids)
        ID_list.append(ids)
        
    imgID_df = pd.DataFrame(ID_list, columns=['ID', 'title']) #1 col vs 2 col error* made extra column of None
    imgID_df['title'] = title_list

    return imgID_df

In [76]:
#testpath = '/Users/xinrucheng/Documents/Metis_bootcamp/week_9/metis_passion_project/data/raw/testimages/bbctest'

test_list = !ls '/Users/xinrucheng/Documents/Metis_bootcamp/week_9/metis_passion_project/data/raw/testimages/bbctest'
len(test_list)

12

In [77]:
test_list[0]

'baileysandchocolatec_72293_16x9.jpg'

In [73]:
#clean_img_title(test_list)

In [74]:
#regex notes
#re.findall returns a list of matches (Return an empty list if no match was found), better than re.search (returns a match object)
#regex - () for group it captures and returns! can still keep str structure outside of group to help it search
#https://regex101.com/#python  (regex expr above test str box, colour-coded)

In [78]:
bbcimg_list[0]

'15_minute_pasta_33407_16x9.jpg'

In [79]:
img_ids = clean_img_title(bbcimg_list) #worked for smaller test folder?, not sure where extra column comes from - bbc_list and test_list not the same dimensions
img_ids #column 0 is id, drop col 1 by index but not by name?

         ID                                   title
0     33407          15_minute_pasta_33407_16x9.jpg
1     79341  2_hour_christmas_dinner_79341_16x9.jpg
2     29555              3d_biscuits_29555_16x9.jpg
3     19163   _chicken_chasseur_with_19163_16x9.jpg
4     49934            _schichttorte_49934_16x9.jpg
...     ...                                     ...
2220  93848         yorkshirepudding_93848_16x9.jpg
2221  86010        yorkshirepuddings_86010_16x9.jpg
2222  15656                 yule_log_15656_16x9.jpg
2223  98478   zaatar_cod_with_relish_98478_16x9.jpg
2224  84103    zesty_tofu_cheesecake_84103_16x9.jpg

[2225 rows x 2 columns]

##### Get ID from URL column in text df
extract the same recipe ID number as ID column in 'doc_topic' df and 'labelled' df (2.3.4.1)

In [80]:
withphotos.head() #df with recipes that don't have photos dropped

,chef,chef_id,cooking_time_minutes,description,error,ingredients,instructions,instructions_detailed,photo_url,preparation_time_minutes,program,program_id,serves,time_scraped,title,total_time_minutes,url
1,Mary Berry,mary_berry,0,This is my standby pasta supper as it is so de...,False,"[350g/12oz penne pasta, 2 x 80g/3oz packs Parm...",[Cook the pasta in a pan of boiling salted wat...,"[{'ingredient': 'pasta', 'line': '350g/12oz pe...",http://ichef.bbci.co.uk/food/ic/food_16x9_608/...,30,Mary Berry Cooks,p01s4q10,6,1499227763,15 minute pasta,30,http://bbc.co.uk/food/recipes/15_minute_pasta_...
2,Mari Williams,mari_williams,0,Simple 3D iced biscuits inspired by Bake Off. ...,False,"[200g/7oz unsalted soft butter, 200g/7oz caste...","[To make the basic dough, line a baking tray w...","[{'ingredient': 'butter', 'line': '200g/7oz un...",http://ichef.bbci.co.uk/food/ic/food_16x9_608/...,30,The Great British Bake Off,b013pqnm,0,1499227766,3D biscuits,30,http://bbc.co.uk/food/recipes/3d_biscuits_29555
3,Justine Pattison,justine_pattison,0,This easy turkey crown recipe is served with s...,False,[2.5kg/5lb 8oz turkey crown (fully thawed if f...,"[Preheat the oven to 220C/200C Fan/Gas 7., For...","[{'ingredient': 'turkey', 'line': '2.5kg/5lb 8...",http://ichef.bbci.co.uk/food/ic/food_16x9_608/...,30,None,None,6,1499227765,2-hour Christmas dinner,30,http://bbc.co.uk/food/recipes/2_hour_christmas...
7,Delia Smith,delia_smith,30,Delia shows you how to bake a perfect sponge c...,False,"[175g/6oz self-raising flour, 1 rounded tsp ba...","[Preheat the oven to 170C/325F/Gas 3., Take a ...","[{'ingredient': 'self-raising flour', 'line': ...",http://ichef.bbci.co.uk/food/ic/food_16x9_608/...,30,None,None,8,1499227775,A classic sponge cake (with passion fruit fill...,60,http://bbc.co.uk/food/recipes/aclassicspongeca...
18,Rick Stein,rick_stein,0,"Tavë kosi is a national dish in Albania, but I...",False,"[70g/2½oz butter, 1 tbsp olive oil, 1.2kg/2lb ...","[Preheat the oven to 180C/160C Fan/Gas 4., Hea...","[{'ingredient': 'butter', 'line': '70g/2½oz bu...",http://ichef.bbci.co.uk/food/ic/food_16x9_608/...,30,Rick Stein: From Venice to Istanbul,b0667qf6,8,1499227798,Albanian baked lamb with rice (Tavë kosi),30,http://bbc.co.uk/food/recipes/albanian_baked_l...

In [81]:
withphotos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2225 entries, 1 to 10589
Data columns (total 17 columns):
chef                        2225 non-null object
chef_id                     2225 non-null object
cooking_time_minutes        2225 non-null int64
description                 2225 non-null object
error                       2225 non-null bool
ingredients                 2225 non-null object
instructions                2225 non-null object
instructions_detailed       2225 non-null object
photo_url                   2225 non-null object
preparation_time_minutes    2225 non-null int64
program                     1699 non-null object
program_id                  1699 non-null object
serves                      2225 non-null int64
time_scraped                2225 non-null int64
title                       2225 non-null object
total_time_minutes          2225 non-null int64
url                         2225 non-null object
dtypes: bool(1), int64(5), object(11)
memory usage: 297.7+ KB

In [82]:
url_col = withphotos['url']
url_col

1        http://bbc.co.uk/food/recipes/15_minute_pasta_...
2          http://bbc.co.uk/food/recipes/3d_biscuits_29555
3        http://bbc.co.uk/food/recipes/2_hour_christmas...
7        http://bbc.co.uk/food/recipes/aclassicspongeca...
18       http://bbc.co.uk/food/recipes/albanian_baked_l...
                               ...
10574    http://bbc.co.uk/food/recipes/yorkshirepudding...
10576    http://bbc.co.uk/food/recipes/yorkshire_tapas_...
10582         http://bbc.co.uk/food/recipes/yule_log_15656
10585    http://bbc.co.uk/food/recipes/zaatar_cod_with_...
10589    http://bbc.co.uk/food/recipes/zesty_tofu_chees...
Name: url, Length: 2225, dtype: object

In [83]:
type(url_col)

pandas.core.series.Series

In [84]:
type(url_col.iloc[0])

str

In [85]:
#^^^debug
url_col.iloc[2097]

'http://bbc.co.uk/food/recipes/toms_turkey_roll_with_44115'

In [86]:
#use regex to clean url:
#example url  'http://bbc.co.uk/food/recipes/3d_biscuits_29555'
    # test regex: \W\w+_(\d+) looks into last segment (incl '/' and finds 29555)

def get_id_from_url(col):
    '''use regex to clean urls to get unique recipe ID for text recipes
    imglist is a list of image title strings
    Returns a dataframe where one column is integer IDs
    the other is the corresponding recipe title''' #may not need
    ID_list = []
    recipe_list = [] 
    for url in col:
        ids = re.findall(r"\W\w+_(\d+)", str(url))
        #print(ids)
        ID_list.append(ids)
        recipes = re.findall(r"\W(\w+)_\d+", str(url))
        recipe_list.append(recipes)
        
    imgID_df = pd.DataFrame(ID_list, columns=['id']) #, title_list,, 'title'])
    imgID_df['short_title'] = recipe_list

    return imgID_df

In [87]:
id_title_df = get_id_from_url(url_col)
id_title_df

         id                 short_title
0     33407           [15_minute_pasta]
1     29555               [3d_biscuits]
2     79341   [2_hour_christmas_dinner]
3      9406      [aclassicspongecakewi]
4     92485  [albanian_baked_lamb_with]
...     ...                         ...
2220  86010         [yorkshirepuddings]
2221  93245  [yorkshire_tapas_puddings]
2222  15656                  [yule_log]
2223  98478    [zaatar_cod_with_relish]
2224  84103     [zesty_tofu_cheesecake]

[2225 rows x 2 columns]

------
Dec 6 debugging corrupted data after merge:

In [88]:
id_title_df.dtypes

id             object
short_title    object
dtype: object

In [89]:
#ID = 494 and 1495

id_title_df.loc[id_title_df['id']=='494','short_title'] #Pandas indexing!blog?

Series([], Name: short_title, dtype: object)

In [95]:
#^^^debug
id_title_df.loc[494] #by index, not by ID

id                           79152
short_title    [chocolate_roulade]
Name: 494, dtype: object

In [90]:
#reset index to unique ID to locate corrupted row by ID - need to change dtype before assignment??
id_title_df_newID = id_title_df.set_index(['id']) 
id_title_df_newID

                      short_title
id
33407           [15_minute_pasta]
29555               [3d_biscuits]
79341   [2_hour_christmas_dinner]
9406       [aclassicspongecakewi]
92485  [albanian_baked_lamb_with]
...                           ...
86010         [yorkshirepuddings]
93245  [yorkshire_tapas_puddings]
15656                  [yule_log]
98478    [zaatar_cod_with_relish]
84103     [zesty_tofu_cheesecake]

[2225 rows x 1 columns]

In [96]:
#id_title_df_newID.loc[494]

TypeError: cannot do label indexing on <class 'pandas.core.indexes.base.Index'> with these indexers [494] of <class 'int'>

In [97]:
id_title_df_newID.dtypes

short_title    object
dtype: object

In [98]:
id_title_df_newID.index.astype(int)

Int64Index([33407, 29555, 79341,  9406, 92485, 75464, 12416,  3274, 21317,
            86765,
            ...
            91487, 74830, 20002, 69240, 93848, 86010, 93245, 15656, 98478,
            84103],
           dtype='int64', name='id', length=2225)

In [99]:
id_title_df_newID.dtypes

short_title    object
dtype: object

In [109]:

id_title_df.iloc[494] #still by index, not by ID

id                           79152
short_title    [chocolate_roulade]
Name: 494, dtype: object

In [110]:
id_title_df.loc[494] 
#^^^debug

id                           79152
short_title    [chocolate_roulade]
Name: 494, dtype: object

##### Add IDs to doc_topic and labelled topic df

In [84]:
#from section 2.3.4.1: doc_topic = pd.DataFrame(withphotos_tf_nmf_10.round(5),index,columns)
#index = withphotos.index
#columns = ['topic ' + str(num) for num in range(10)]
doc_topic.head()

,topic 0,topic 1,topic 2,topic 3,topic 4,topic 5,topic 6,topic 7,topic 8,topic 9
1,0.00000,0.00000,0.00000,0.00000,0.00000,0.00372,0.00000,0.00000,0.24902,0.12035
2,0.01707,0.03746,0.00612,0.06794,0.00000,0.00000,0.04312,0.00000,0.00000,0.00000
3,0.13109,0.01019,0.00000,0.02241,0.00662,0.04167,0.00000,0.02045,0.02462,0.02640
7,0.00000,0.06281,0.00652,0.01441,0.00045,0.04389,0.09654,0.00000,0.00000,0.00000
18,0.11935,0.00865,0.00292,0.00000,0.00000,0.00399,0.00000,0.07147,0.00792,0.05999

In [85]:
index_ids = id_title_df['id']

doc_id_topic = pd.DataFrame(withphotos_tf_nmf_10.round(5), index=index_ids, columns=columns)
doc_id_topic.head()

,topic 0,topic 1,topic 2,topic 3,topic 4,topic 5,topic 6,topic 7,topic 8,topic 9
id,,,,,,,,,,
33407,0.00000,0.00000,0.00000,0.00000,0.00000,0.00372,0.00000,0.00000,0.24902,0.12035
29555,0.01707,0.03746,0.00612,0.06794,0.00000,0.00000,0.04312,0.00000,0.00000,0.00000
79341,0.13109,0.01019,0.00000,0.02241,0.00662,0.04167,0.00000,0.02045,0.02462,0.02640
9406,0.00000,0.06281,0.00652,0.01441,0.00045,0.04389,0.09654,0.00000,0.00000,0.00000
92485,0.11935,0.00865,0.00292,0.00000,0.00000,0.00399,0.00000,0.07147,0.00792,0.05999

In [86]:
def assign_topic_new(df):
    '''For each row in df, finds the topic with highest weight, 
    assign that topic label to the row.
    Returns a dataframe''' #df easiest to access, will group recipes and images by labels later
    label_list = []
    for i in range(len(df)): #easier way to do this?
        topic_label = np.argmax(np.array(df.transpose().iloc[:,i]), axis = 0)
        label_list.append(topic_label)
    return pd.DataFrame(label_list, index = index_ids, columns = ['topics'])#columns needs to be a list
    #better if make df outside of function?
    #np.argmax(np.array(test), axis = 1)

In [87]:
id_topic_labelled = assign_topic_new(doc_id_topic)
id_topic_labelled

       topics
id
33407       8
29555       3
79341       0
9406        6
92485       0
...       ...
86010       1
93245       1
15656       6
98478       5
84103       1

[2225 rows x 1 columns]

In [88]:
type(id_topic_labelled)

pandas.core.frame.DataFrame

In [89]:
#Dec 5 - add additional ID column for joining 
id_topic_labelled['ID']=id_topic_labelled.index
id_topic_labelled

       topics     ID
id
33407       8  33407
29555       3  29555
79341       0  79341
9406        6   9406
92485       0  92485
...       ...    ...
86010       1  86010
93245       1  93245
15656       6  15656
98478       5  98478
84103       1  84103

[2225 rows x 2 columns]

##### Add recipe IDs to features.csv

In [90]:
#update Feature_Extractor-Copy1 code: Feature_Extractor_IDs
bbc_ft_id = pd.read_csv('/Users/xinrucheng/Documents/Metis_bootcamp/week_9/metis_passion_project/data/processed/bbc_ft_id.csv')
#Dec 4 10pm updated csv with ID as index

#csv with image features, IDs are assumed to be in the same order as images before feature extraction** 
#(if incorrect, need to extract features again)

In [91]:
bbc_ft_id.head()

,ID,Unnamed: 0,0,1,2,3,4,5,6,7,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
0,33407,0,0.000000,3.509541,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,1.018812,0.000000,2.679488,0.000000
1,79341,1,0.017876,2.738089,0.000000,0.000000,2.499179,0.000000,0.000000,0.000000,...,0.525963,0.000000,0.0,0.0,0.0,3.004055,0.000000,0.000000,4.274214,0.000000
2,29555,2,0.000000,0.000000,0.000000,1.795153,0.000000,1.155841,0.043871,2.865308,...,0.000000,0.000000,0.0,0.0,0.0,0.232908,0.000000,1.179471,0.549198,0.000000
3,19163,3,0.000000,0.468124,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.055124,0.0,0.0,0.0,2.004137,0.000000,0.000000,4.093263,0.000000
4,49934,4,0.000000,0.000000,2.590657,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,3.397941,1.178361,0.598724,2.223511

##### ***Join id_topic (text) and id_features (img) on IDs**

In [92]:
#now both have ID as index, why can't they join?*
#alternative is to add id column for both?

In [93]:
id_topic_labelled.index

Index(['33407', '29555', '79341', '9406', '92485', '75464', '12416', '03274',
       '21317', '86765',
       ...
       '91487', '74830', '20002', '69240', '93848', '86010', '93245', '15656',
       '98478', '84103'],
      dtype='object', name='id', length=2225)

In [94]:
bbc_ft_id.index #not displaying index as above, index or object type not right?

RangeIndex(start=0, stop=2225, step=1)

In [95]:
#bbc_ft_id._set_index('ID') #set index on more time, order slightly different - do they need to be swapped when joining on ID?
#bbc_ft_id.index #should delete ID column by default? still there

In [96]:
bbc_ft_id.head()

,ID,Unnamed: 0,0,1,2,3,4,5,6,7,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
0,33407,0,0.000000,3.509541,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,1.018812,0.000000,2.679488,0.000000
1,79341,1,0.017876,2.738089,0.000000,0.000000,2.499179,0.000000,0.000000,0.000000,...,0.525963,0.000000,0.0,0.0,0.0,3.004055,0.000000,0.000000,4.274214,0.000000
2,29555,2,0.000000,0.000000,0.000000,1.795153,0.000000,1.155841,0.043871,2.865308,...,0.000000,0.000000,0.0,0.0,0.0,0.232908,0.000000,1.179471,0.549198,0.000000
3,19163,3,0.000000,0.468124,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.055124,0.0,0.0,0.0,2.004137,0.000000,0.000000,4.093263,0.000000
4,49934,4,0.000000,0.000000,2.590657,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,3.397941,1.178361,0.598724,2.223511

In [97]:
bbc_ft_id.rename(columns={'Unnamed: 0':'idx'}, inplace=True)#rename column
bbc_ft_id

,ID,idx,0,1,2,3,4,5,6,7,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
0,33407,0,0.000000,3.509541,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,1.018812,0.000000,2.679488,0.000000
1,79341,1,0.017876,2.738089,0.000000,0.000000,2.499179,0.000000,0.000000,0.000000,...,0.525963,0.000000,0.0,0.0,0.0,3.004055,0.000000,0.000000,4.274214,0.000000
2,29555,2,0.000000,0.000000,0.000000,1.795153,0.000000,1.155841,0.043871,2.865308,...,0.000000,0.000000,0.0,0.0,0.0,0.232908,0.000000,1.179471,0.549198,0.000000
3,19163,3,0.000000,0.468124,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.055124,0.0,0.0,0.0,2.004137,0.000000,0.000000,4.093263,0.000000
4,49934,4,0.000000,0.000000,2.590657,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,3.397941,1.178361,0.598724,2.223511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2220,93848,2220,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.831429,0.658973,0.0,0.0,0.0,2.089992,0.000000,0.000000,5.701145,0.000000
2221,86010,2221,0.000000,0.000000,0.080336,0.000000,0.000000,0.000000,2.034029,0.000000,...,0.000000,2.085165,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
2222,15656,2222,0.000000,2.596903,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.511248,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.010338,0.000000,0.000000
2223,98478,2223,1.356347,1.915114,0.181121,1.021998,0.682499,0.000000,0.000000,1.045778,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
2224,84103,2224,0.399728,0.824599,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,5.132298,0.000000,3.680424,4.284847

In [98]:
#bbc_ft_id.drop('idx') #can't drop column after renaming

In [99]:
bbc_ft_id.set_index(['ID'], drop=False)

,ID,idx,0,1,2,3,4,5,6,7,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
ID,,,,,,,,,,,,,,,,,,,,,
33407,33407,0,0.000000,3.509541,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,1.018812,0.000000,2.679488,0.000000
79341,79341,1,0.017876,2.738089,0.000000,0.000000,2.499179,0.000000,0.000000,0.000000,...,0.525963,0.000000,0.0,0.0,0.0,3.004055,0.000000,0.000000,4.274214,0.000000
29555,29555,2,0.000000,0.000000,0.000000,1.795153,0.000000,1.155841,0.043871,2.865308,...,0.000000,0.000000,0.0,0.0,0.0,0.232908,0.000000,1.179471,0.549198,0.000000
19163,19163,3,0.000000,0.468124,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.055124,0.0,0.0,0.0,2.004137,0.000000,0.000000,4.093263,0.000000
49934,49934,4,0.000000,0.000000,2.590657,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,3.397941,1.178361,0.598724,2.223511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93848,93848,2220,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.831429,0.658973,0.0,0.0,0.0,2.089992,0.000000,0.000000,5.701145,0.000000
86010,86010,2221,0.000000,0.000000,0.080336,0.000000,0.000000,0.000000,2.034029,0.000000,...,0.000000,2.085165,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
15656,15656,2222,0.000000,2.596903,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.511248,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.010338,0.000000,0.000000
98478,98478,2223,1.356347,1.915114,0.181121,1.021998,0.682499,0.000000,0.000000,1.045778,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
84103,84103,2224,0.399728,0.824599,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.000000,5.132298,0.000000,3.680424,4.284847

In [100]:
#pd.merge(id_topic_labelled, bbc_ft_id, on='ID', how='right')
#ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

In [101]:
#bbc_ft_id.rename(columns={'ID':'id'}, inplace=True)#rename column
#bbc_ft_id

In [102]:
id_topic_labelled.dtypes

topics     int64
ID        object
dtype: object

In [103]:
bbc_ft_id.dtypes

ID        int64
idx       int64
0       float64
1       float64
2       float64
         ...
4091    float64
4092    float64
4093    float64
4094    float64
4095    float64
Length: 4098, dtype: object

In [104]:
#id_topic_int = id_topic_labelled.astype(int)

In [105]:
#id_topic_int.join(bbc_ft_id, on='ID', how='left', lsuffix='_left', rsuffix='_right') #Join columns with other DataFrame either on index or on a key column.
#join index-on-index by default, ordering? sort? by default=True
#why still NaN? should now share index

In [106]:
#pd.merge(id_topic_labelled.astype(float),bbc_ft_id.astype(float),left_index=True, right_index=True,how='outer') #how='inner' by default
#MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False
#astype didn't help? stuck
#when set index = True, how=inner, no overlap (get empty df)

###### Problematic line

In [107]:
#this line with merging caused corrupted rows! **get 2270 when should have 2225
#*debug by trying to join 2 smaller dfs (5rows each) to see what's happening
combined = pd.merge(id_topic_labelled.astype(int), bbc_ft_id, on='ID', how='inner') #expect inner join to give fewer rows?
combined

#start by separating as type and merge*

,topics,ID,idx,0,1,2,3,4,5,6,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
0,8,33407,0,0.000000,3.509541,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.00000,0.0,0.000000,1.018812,0.000000,2.679488,0.000000
1,3,29555,2,0.000000,0.000000,0.000000,1.795153,0.000000,1.155841,0.043871,...,0.000000,0.000000,0.0,0.00000,0.0,0.232908,0.000000,1.179471,0.549198,0.000000
2,0,79341,1,0.017876,2.738089,0.000000,0.000000,2.499179,0.000000,0.000000,...,0.525963,0.000000,0.0,0.00000,0.0,3.004055,0.000000,0.000000,4.274214,0.000000
3,6,9406,5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.492087,...,0.239919,3.340010,0.0,2.14826,0.0,0.000000,2.192654,0.000000,0.489918,0.000000
4,0,92485,6,0.000000,1.017035,0.000000,0.000000,0.510078,0.000000,0.000000,...,0.000000,0.000000,0.0,0.00000,0.0,2.544566,0.000000,0.000000,4.973426,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2265,1,86010,2221,0.000000,0.000000,0.080336,0.000000,0.000000,0.000000,2.034029,...,0.000000,2.085165,0.0,0.00000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
2266,1,93245,2219,0.000000,4.411434,0.000000,0.000000,1.053507,0.000000,0.605391,...,2.162922,0.000000,0.0,0.00000,0.0,2.092675,0.000000,0.000000,1.310158,0.000000
2267,6,15656,2222,0.000000,2.596903,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.511248,0.000000,0.0,0.00000,0.0,0.000000,0.000000,0.010338,0.000000,0.000000
2268,5,98478,2223,1.356347,1.915114,0.181121,1.021998,0.682499,0.000000,0.000000,...,0.000000,0.000000,0.0,0.00000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
2269,1,84103,2224,0.399728,0.824599,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.00000,0.0,0.000000,5.132298,0.000000,3.680424,4.284847

In [108]:
id_topic_labelled['ID'] = id_topic_labelled['ID'].astype(int)
id_topic_labelled

       topics     ID
id
33407       8  33407
29555       3  29555
79341       0  79341
9406        6   9406
92485       0  92485
...       ...    ...
86010       1  86010
93245       1  93245
15656       6  15656
98478       5  98478
84103       1  84103

[2225 rows x 2 columns]

In [109]:
debug_merged = pd.merge(id_topic_labelled, bbc_ft_id, on='ID', how='inner') #expect inner join to give fewer rows?
debug_merged

,topics,ID,idx,0,1,2,3,4,5,6,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
0,8,33407,0,0.000000,3.509541,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.00000,0.0,0.000000,1.018812,0.000000,2.679488,0.000000
1,3,29555,2,0.000000,0.000000,0.000000,1.795153,0.000000,1.155841,0.043871,...,0.000000,0.000000,0.0,0.00000,0.0,0.232908,0.000000,1.179471,0.549198,0.000000
2,0,79341,1,0.017876,2.738089,0.000000,0.000000,2.499179,0.000000,0.000000,...,0.525963,0.000000,0.0,0.00000,0.0,3.004055,0.000000,0.000000,4.274214,0.000000
3,6,9406,5,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.492087,...,0.239919,3.340010,0.0,2.14826,0.0,0.000000,2.192654,0.000000,0.489918,0.000000
4,0,92485,6,0.000000,1.017035,0.000000,0.000000,0.510078,0.000000,0.000000,...,0.000000,0.000000,0.0,0.00000,0.0,2.544566,0.000000,0.000000,4.973426,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2265,1,86010,2221,0.000000,0.000000,0.080336,0.000000,0.000000,0.000000,2.034029,...,0.000000,2.085165,0.0,0.00000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
2266,1,93245,2219,0.000000,4.411434,0.000000,0.000000,1.053507,0.000000,0.605391,...,2.162922,0.000000,0.0,0.00000,0.0,2.092675,0.000000,0.000000,1.310158,0.000000
2267,6,15656,2222,0.000000,2.596903,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.511248,0.000000,0.0,0.00000,0.0,0.000000,0.000000,0.010338,0.000000,0.000000
2268,5,98478,2223,1.356347,1.915114,0.181121,1.021998,0.682499,0.000000,0.000000,...,0.000000,0.000000,0.0,0.00000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
2269,1,84103,2224,0.399728,0.824599,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.00000,0.0,0.000000,5.132298,0.000000,3.680424,4.284847

In [116]:
dbg=pd.merge(id_topic_labelled, bbc_ft_id, on='ID', how='inner',left_index=False, right_index=False) 
dbg.dtypes

topics      int64
ID          int64
idx         int64
0         float64
1         float64
           ...
4091      float64
4092      float64
4093      float64
4094      float64
4095      float64
Length: 4099, dtype: object

In [117]:
dbg.shape

(2270, 4099)

In [ ]:
#If `on` is None and not merging on indexes then this defaults to the intersection of the columns in both DataFrames.
#only intersecting column should be ID?

^debug

-------

In [108]:
#convert topics and id back to int?
#combined['topic_int'] = combined.topics.astype(int)
#combined['id'] = combined.id.astype(int)
#combined.head()

In [109]:
combined.drop(['idx'],axis=1) #why is idx 6? thought that recipe had no image*

,topics,ID,0,1,2,3,4,5,6,7,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
0,0.0,33407.0,0.000000,3.509541,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.00000,0.0,0.000000,1.018812,0.000000,2.679488,0.000000
1,3.0,29555.0,0.000000,0.000000,0.000000,1.795153,0.000000,1.155841,0.043871,2.865308,...,0.000000,0.000000,0.0,0.00000,0.0,0.232908,0.000000,1.179471,0.549198,0.000000
2,7.0,79341.0,0.017876,2.738089,0.000000,0.000000,2.499179,0.000000,0.000000,0.000000,...,0.525963,0.000000,0.0,0.00000,0.0,3.004055,0.000000,0.000000,4.274214,0.000000
3,6.0,9406.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.492087,0.000000,...,0.239919,3.340010,0.0,2.14826,0.0,0.000000,2.192654,0.000000,0.489918,0.000000
4,7.0,92485.0,0.000000,1.017035,0.000000,0.000000,0.510078,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.00000,0.0,2.544566,0.000000,0.000000,4.973426,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2265,7.0,86010.0,0.000000,0.000000,0.080336,0.000000,0.000000,0.000000,2.034029,0.000000,...,0.000000,2.085165,0.0,0.00000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
2266,1.0,93245.0,0.000000,4.411434,0.000000,0.000000,1.053507,0.000000,0.605391,0.000000,...,2.162922,0.000000,0.0,0.00000,0.0,2.092675,0.000000,0.000000,1.310158,0.000000
2267,6.0,15656.0,0.000000,2.596903,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.511248,0.000000,0.0,0.00000,0.0,0.000000,0.000000,0.010338,0.000000,0.000000
2268,5.0,98478.0,1.356347,1.915114,0.181121,1.021998,0.682499,0.000000,0.000000,1.045778,...,0.000000,0.000000,0.0,0.00000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
2269,1.0,84103.0,0.399728,0.824599,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.00000,0.0,0.000000,5.132298,0.000000,3.680424,4.284847

In [ ]:
#keep as float, usable?*
#how to index by ID? reset index of combined again?

In [ ]:
#pd.merge(df_a, df_b, on='subject_id', how='left') #if no match to a in b, output null in that cell
#pd.merge(bbc_ft_id, id_topic_labelled, on='id', how='left')

In [ ]:
#pd.concat([id_topic_labelled, bbc_ft_id], axis=1)

In [ ]:
#id_topic_labelled.join(bbc_ft_id, how='inner')#join using indexes
#default how = left, join using topic frame's index (default)

#### Check matched IDs make sense for a few random recipes

In [110]:
combined.iloc[-1]

topics        1.000000
ID        84103.000000
idx        2224.000000
0             0.399728
1             0.824599
              ...
4091          0.000000
4092          5.132298
4093          0.000000
4094          3.680424
4095          4.284847
Name: 2269, Length: 4099, dtype: float64

From 2.3.5.1, 10 topics


```
* Topic 0 roast - potatoes, lamb, beef, pork
* Topic 1 dessert - chocolate, meringue
* Topic 2 dessert - pastry, pie, tart
* Topic 3 bread 
* Topic 4 chicken
* Topic 5 salad
* Topic 6 cake
* Topic 7 Asian - curry, rice, stir-fry
* Topic 8 pasta
* Topic 9 pan fry
```

Recipe ID 84103 is zesty_tofu_cheesecake_84103_16x9.jpg

    - should be dessert or cake (1,2,6)
    
 Assigned to topic 1, ok?

In [111]:
combined.iloc[4]

topics        7.000000
ID        92485.000000
idx           6.000000
0             0.000000
1             1.017035
              ...
4091          2.544566
4092          0.000000
4093          0.000000
4094          4.973426
4095          0.000000
Name: 4, Length: 4099, dtype: float64

Albanian baked lamb classified as topic 8 which is pasta, not great, but could be due to not having enough topics
(pasta could be baked?)

Compare match results from 2 dataframes with just ID and title:

img_ids  and id_title_df

In [112]:
#automate check?
img_ids.head()

      ID                                   title
0  33407          15_minute_pasta_33407_16x9.jpg
1  79341  2_hour_christmas_dinner_79341_16x9.jpg
2  29555              3d_biscuits_29555_16x9.jpg
3  19163   _chicken_chasseur_with_19163_16x9.jpg
4  49934            _schichttorte_49934_16x9.jpg

In [113]:
id_title_df.head() #from 2.3.7.2, ids and titles extracted from text url

      id                 short_title
0  33407           [15_minute_pasta]
1  29555               [3d_biscuits]
2  79341   [2_hour_christmas_dinner]
3   9406      [aclassicspongecakewi]
4  92485  [albanian_baked_lamb_with]

IDs 33407 and 29555 seem to match, good

Also searched in image directory and 92485 is indeed albanian_baked_lamb, consistent with id_title_df from url

Can automate this check for larger dataset (later)

In [114]:
combined.iloc[2267]

topics        6.000000
ID        15656.000000
idx        2222.000000
0             0.000000
1             2.596903
              ...
4091          0.000000
4092          0.000000
4093          0.010338
4094          0.000000
4095          0.000000
Name: 2267, Length: 4099, dtype: float64

In [115]:
#are indices idx consistent? idx from image df, can use to check  (if write separate ftn)
img_ids.iloc[2222]  #same ID, good!

ID                         15656
title    yule_log_15656_16x9.jpg
Name: 2222, dtype: object

Yule log is a cake, classified as topic 6, good!

#### Get images from selected topic category

In [119]:
def get_recipes_by_topic_ID(num, data):
    '''Takes in the topic number (0 to 9),
    returns a list of IDs of all recipe titles assigned to that topic
    (those that have the label as the topic with maximum weight from NMF topic modelling)'''
    docs_same_label = []
    #result = [f(x) for x in df['col']] better and faster than iter ftns
    #result = [f(x, y) for x, y in zip(df['col1'], df['col2'])]
    for topicn, idn in zip(data['topics'], data['ID']): #change id to ID 
        if topicn == num:
            docs_same_label.append(idn)
    return docs_same_label

In [168]:
cakes_list = get_recipes_by_topic(6.0, combined)
#a list of all recipes IDs that are cakes
len(cakes) #still 150 here, where did 150->153 happen?

150

In [121]:
cakes_list[0]

9406.0

In [123]:
combined_ididx = combined.set_index(['ID'])
combined_ididx #2270 rows! expecting 2225

,topics,idx,0,1,2,3,4,5,6,7,...,4086,4087,4088,4089,4090,4091,4092,4093,4094,4095
ID,,,,,,,,,,,,,,,,,,,,,
33407.0,0.0,0.0,0.000000,3.509541,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.00000,0.0,0.000000,1.018812,0.000000,2.679488,0.000000
29555.0,3.0,2.0,0.000000,0.000000,0.000000,1.795153,0.000000,1.155841,0.043871,2.865308,...,0.000000,0.000000,0.0,0.00000,0.0,0.232908,0.000000,1.179471,0.549198,0.000000
79341.0,7.0,1.0,0.017876,2.738089,0.000000,0.000000,2.499179,0.000000,0.000000,0.000000,...,0.525963,0.000000,0.0,0.00000,0.0,3.004055,0.000000,0.000000,4.274214,0.000000
9406.0,6.0,5.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.492087,0.000000,...,0.239919,3.340010,0.0,2.14826,0.0,0.000000,2.192654,0.000000,0.489918,0.000000
92485.0,7.0,6.0,0.000000,1.017035,0.000000,0.000000,0.510078,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.00000,0.0,2.544566,0.000000,0.000000,4.973426,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86010.0,7.0,2221.0,0.000000,0.000000,0.080336,0.000000,0.000000,0.000000,2.034029,0.000000,...,0.000000,2.085165,0.0,0.00000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
93245.0,1.0,2219.0,0.000000,4.411434,0.000000,0.000000,1.053507,0.000000,0.605391,0.000000,...,2.162922,0.000000,0.0,0.00000,0.0,2.092675,0.000000,0.000000,1.310158,0.000000
15656.0,6.0,2222.0,0.000000,2.596903,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.511248,0.000000,0.0,0.00000,0.0,0.000000,0.000000,0.010338,0.000000,0.000000
98478.0,5.0,2223.0,1.356347,1.915114,0.181121,1.021998,0.682499,0.000000,0.000000,1.045778,...,0.000000,0.000000,0.0,0.00000,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
84103.0,1.0,2224.0,0.399728,0.824599,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.00000,0.0,0.000000,5.132298,0.000000,3.680424,4.284847

In [125]:
testrow0 = combined_ididx.loc[33407] #use loc for index here (by value) instead of iloc
testrow0

topics    0.000000
idx       0.000000
0         0.000000
1         3.509541
2         0.000000
            ...
4091      0.000000
4092      1.018812
4093      0.000000
4094      2.679488
4095      0.000000
Name: 33407.0, Length: 4098, dtype: float64

In [126]:
type(testrow0)  #pasta classified as roast (topic 0), might be a case where clustering would help?*

pandas.core.series.Series

In [127]:
testrow3 = combined_ididx.loc[9406] #use loc for index here instead of iloc
testrow3

topics    6.000000
idx       5.000000
0         0.000000
1         0.000000
2         0.000000
            ...
4091      0.000000
4092      2.192654
4093      0.000000
4094      0.489918
4095      0.000000
Name: 9406.0, Length: 4098, dtype: float64

In [128]:
#cake classified as cake still (topic 6), good

In [ ]:
#need to put all the ftns together in main pipeline

In [129]:
#need to write another ftn to get entire row with features in df, not just ID list?

#find all the cakes
def features_by_topic(idlist, combineddf):
    '''Takes in an id list from get_recipes_by_topic,
    finds the features of images in that list, save in a dataframe'''
    ftgroup = []
    for recipeid in idlist:
        ftrow = np.array(combineddf.loc[recipeid])
        ftgroup.append(ftrow)
    return pd.DataFrame(ftgroup)

cake_features_df = features_by_topic(cakes_list, combined_ididx) 
cake_features_df

,0,1,2,3,4,5,6,7,8,9,...,4088,4089,4090,4091,4092,4093,4094,4095,4096,4097
0,6,5,0,0,0.000000,0.0,0.000000,0.000000,2.492087,0.000000,...,0.239919,3.340010,0.0,2.148260,0.000000,0.000000,2.192654,0.000000,0.489918,0.0
1,6,9,0,0.274039,0.000000,0.0,0.000000,0.000000,1.724523,0.000000,...,0.000000,0.000000,0.0,0.938444,0.000000,0.979124,1.231072,0.034272,0.000000,0.0
2,6,10,0,0,0.000000,0.0,0.000000,0.000000,0.488151,0.192400,...,0.000000,1.431639,0.0,0.573350,0.000000,0.000000,0.000000,0.000000,1.317004,0.0
3,6,17,0,0,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,0.000000,3.772132,0.0,1.373650,0.000000,0.489011,0.000000,0.000000,0.179028,0.0
4,6,19,0,1.63672,0.000000,0.0,0.101847,0.000000,0.396604,0.000000,...,0.000000,0.000000,0.0,0.000000,0.992393,0.000000,0.000000,0.000000,2.321203,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
148,6,2169,0,0,0.000000,0.0,0.000000,0.000000,0.000000,3.245846,...,0.000000,2.356380,0.0,0.266896,0.000000,0.000000,0.000000,0.000000,1.831635,0.0
149,6,2172,0,0.82622,0.000000,0.0,0.000000,0.000000,0.438433,0.000000,...,0.202663,0.903240,0.0,4.131788,0.000000,0.000000,1.666926,0.000000,2.423386,0.0
150,6,2194,0,0,0.370191,0.0,0.514775,1.910061,4.864564,0.000000,...,2.072880,1.667925,0.0,0.000000,0.000000,0.000000,5.029452,0.041010,0.000000,0.0
151,6,2191,0,0.0116296,0.446989,0.0,0.294821,2.410504,0.849241,0.000000,...,0.000000,0.000000,0.0,0.000000,0.000000,1.202494,0.000000,2.293362,0.000000,0.0
152,6,2222,0,2.5969,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,...,1.511248,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.010338,0.000000,0.0

#### Find cosine similarity within topic

In [ ]:
#def cos_sim_by_topic(imgft, topicft):
    '''Takes in features for one image (row in df), 
    and a df of all images in the same topic group
    return the cosine similarity (one vs all) as an array'''
#can use prev ftn?

In [130]:
#from cosine_similarity notebook:
def cos_sim_vs_all(imageft, datasetft):
    '''Find the pairwise cosine similarity between features of the chosen image and all the images in the dataset'''
    sim_list = []
    for i in range(len(datasetft)):
        cos_sim = cosine_similarity(imageft, datasetft.iloc[i].values.reshape(1,-1)) #output of cosine_sim is already an array here
        sim_list.append(cos_sim)
        #print(np.stack(sim_list, axis=0).shape)
    #return sim_list
    return np.stack(sim_list, axis=0) #use stack to convert a list of arrays to one array
#convert ft df to matrix?*

#get error when using np.array to convert output to array: https://stackoverflow.com/questions/4674473/valueerror-setting-an-array-element-with-a-sequence

In [131]:
#compare first cake with the rest of the cakes

cos_sim_vs_all(cake_features_df.iloc[0].values.reshape(1,-1), cake_features_df.head())  #use iloc for df indices!

array([[[1.        ]],

       [[0.5753688 ]],

       [[0.50661623]],

       [[0.46837556]],

       [[0.41748737]]])

In [142]:
sim_cake0 = cos_sim_vs_all(cake_features_df.iloc[0].values.reshape(1,-1), cake_features_df.head(40)) 
#get old error on larger df? fixed for small dataset

#problem with cake_features_df, before cosine similarity
#*debug--by going through different number of rows, see where it crashes, good up to row 40 in cake_features, row 41 corrupted?

In [145]:
cake_features_df.iloc[39]

0             6
1           465
2             0
3       2.72996
4             0
         ...
4093          0
4094    3.06167
4095          0
4096    1.37959
4097          0
Name: 39, Length: 4098, dtype: object

In [146]:
cake_features_df.iloc[0]

0              6
1              5
2              0
3              0
4              0
          ...
4093           0
4094     2.19265
4095           0
4096    0.489918
4097           0
Name: 0, Length: 4098, dtype: object

In [147]:
cake_features_df.iloc[150]

0               6
1            2194
2               0
3               0
4        0.370191
          ...
4093            0
4094      5.02945
4095    0.0410097
4096            0
4097            0
Name: 150, Length: 4098, dtype: object

In [143]:
cake_features_df.iloc[40] #index mismatch after this? could be hard to fix

0       [6.0, 494.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.8...
1       [6.0, 1495.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.14146...
2       [5.0, 494.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.8...
3       [5.0, 1495.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.14146...
4                                                     NaN
                              ...
4093                                                  NaN
4094                                                  NaN
4095                                                  NaN
4096                                                  NaN
4097                                                  NaN
Name: 40, Length: 4098, dtype: object

In [144]:
cake_features_df.iloc[41] #just these 2 rows? transposed? recipe ID 494 and 1495, check in feature matrix?

0       [6.0, 494.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.8...
1       [6.0, 1495.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.14146...
2       [5.0, 494.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.8...
3       [5.0, 1495.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.14146...
4                                                     NaN
                              ...
4093                                                  NaN
4094                                                  NaN
4095                                                  NaN
4096                                                  NaN
4097                                                  NaN
Name: 41, Length: 4098, dtype: object

In [150]:
cake_features_df.iloc[42]

0               6
1             495
2               0
3               0
4        0.436465
          ...
4093     0.697132
4094     0.101824
4095            0
4096    0.0972521
4097     0.126291
Name: 42, Length: 4098, dtype: object

In [148]:
cake_features_df.iloc[149]

0             6
1          2172
2             0
3       0.82622
4             0
         ...
4093          0
4094    1.66693
4095          0
4096    2.42339
4097          0
Name: 149, Length: 4098, dtype: object

In [149]:
cake_features_df.iloc[140]

0             6
1          2086
2             0
3             0
4             0
         ...
4093          0
4094    2.26688
4095          0
4096          0
4097          0
Name: 140, Length: 4098, dtype: object

In [156]:
#check large df of features for all images, how many NaNs?
cake_features_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Columns: 4098 entries, 0 to 4097
dtypes: float64(4094), object(4)
memory usage: 4.8+ MB

In [158]:
cake_features_df.describe()

,4,5,6,7,8,9,10,11,12,13,...,4088,4089,4090,4091,4092,4093,4094,4095,4096,4097
count,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,...,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000,147.000000
mean,0.138306,0.196955,0.306323,0.278115,1.271333,0.453859,0.310347,0.855819,0.014650,0.126931,...,0.785164,1.054000,0.041524,0.817231,0.199240,0.223808,0.792708,0.214912,0.942807,0.400255
std,0.493999,0.627865,0.690406,0.768469,1.486258,0.937399,0.757086,1.539012,0.148727,0.413419,...,1.192526,1.447391,0.225336,1.244994,0.512637,0.527468,1.273527,0.530906,1.339174,0.787239
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.666706,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.128557,0.394728,0.000000,0.000000,0.000000,0.000000,0.022898,0.000000,0.271816,0.000000
75%,0.000000,0.000000,0.166531,0.000000,2.127231,0.331795,0.065030,1.144676,0.000000,0.000000,...,1.273832,1.687366,0.000000,1.101956,0.000000,0.000000,1.186786,0.000000,1.343614,0.310251
max,3.222694,5.178796,4.264771,4.579515,6.595136,5.218029,5.473833,7.591406,1.763126,2.885091,...,6.635208,6.637444,1.455257,5.639992,2.634250,2.496529,6.256621,3.081371,6.430125,4.297850

In [155]:
#only 147 rows with values, 3 rows corrupted? 41 42 and which one?
len(cake_features_df) #also after rerunning kernel, len 153 instead of 150, so now 6 bad rows?

153

In [166]:
for row in cake_features_df:
    if cake_features_df.iloc[row].isnull().any()==True:
        print(row) #maybe instead of returning old idx, want ID? if not a single int or float, corrupted (like in idx 40 above)

40
41
96
97
102
103

IndexError: single positional indexer is out-of-bounds

In [ ]:
#3 pairs of consecutive rows are corrupted - how? how to fix? might have more in other topics
#problem seems to be with large df after combining and resetting index?

In [169]:
combined_ididx.info()

<class 'pandas.core.frame.DataFrame'>
Float64Index: 2270 entries, 33407.0 to 84103.0
Columns: 4098 entries, topics to 4095
dtypes: float64(4098)
memory usage: 71.1 MB

In [172]:
bad_list = []
for i in combined_ididx.iloc['idx']:
    if combined_ididx.iloc[i].isnull().any()==True:
        bad_list.append(i)
bad_list

TypeError: Cannot index by location index with a non-integer key

In [ ]:
#bug before cos sim, Join_on_IDs_debug.ipynb

In [160]:
np.array(cake_features_df.iloc[40]).transpose()

array([array([6.00000000e+00, 4.94000000e+02, 0.00000000e+00, ...,
       0.00000000e+00, 3.29863286e+00, 6.16847277e-02]),
       array([   6., 1495.,    0., ...,    0.,    0.,    0.]),
       array([5.00000000e+00, 4.94000000e+02, 0.00000000e+00, ...,
       0.00000000e+00, 3.29863286e+00, 6.16847277e-02]),
       ..., nan, nan, nan], dtype=object)

----

*If after filtering by topic, cos similarity results not good, consider going back to doc-topic matrix and perform clustering instead of argmax

-----

### Topic modelling with LDA -- skip

In [169]:
#https://www.analyticsvidhya.com/blog/2016/08/beginners-guide-to-topic-modeling-in-python/
#also, LDA exercise lecture notebook

In [170]:
import gensim
from gensim import corpora, models, similarities, matutils
from nltk.corpus import stopwords
from nltk.stem.wordnet import WordNetLemmatizer
import string

#### Text cleaning and preprocessing

In [171]:
# stop = set(stopwords.words('english'))
# exclude = set(string.punctuation)
# lemma = WordNetLemmatizer()
# def clean(doc):
#     stop_free = " ".join([i for i in doc.lower().split() if i not in stop])
#     punc_free = ''.join(ch for ch in stop_free if ch not in exclude)
#     normalized = " ".join(lemma.lemmatize(word) for word in punc_free.split())
#     return normalized

# doc_clean = [clean(doc).split() for doc in doc_complete]

In [172]:
# #create a Gensim dictionary from the texts
# dictionary = corpora.Dictionary(texts)

# #remove extremes (similar to the min/max df step used when creating the tf-idf matrix)
# dictionary.filter_extremes(no_below=1, no_above=0.8)

# #convert the dictionary to a bag of words corpus for reference
# corpus = [dictionary.doc2bow(text) for text in texts]

##### stopwords

In [173]:
#use nltk stopwords
nltkstopwords = stopwords.words('english')
len(nltkstopwords)

179

In [174]:
#custom stop_words
nltkstopwords.extend(['minutes','add','remove'])
len(nltkstopwords)

182

In [175]:
#follow lecture notebook, use countvectorizer, then convert to Gensim
#analyzer=word: Tokenize by word
#ngram_range=(1,2): Keep all 1 and 2-word grams
#stop_words=english: Remove all English stop words
#token_pattern=\\b[a-z][a-z]+\\b: Match all tokens with 2 or more (strictly) alphabet characters


#Create a CountVectorizer for parsing/counting words
count_vectorizer = CountVectorizer(ngram_range=(1, 2),  
                                   stop_words=nltkstopwords, token_pattern="\\b[a-z][a-z]+\\b")

In [176]:
count_vectorizer.fit(cld_withphotos)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 2), preprocessor=None,
                stop_words=['i', 'me', 'my', 'myself', 'we', 'our', 'ours',
                            'ourselves', 'you', "you're", "you've", "you'll",
                            "you'd", 'your', 'yours', 'yourself', 'yourselves',
                            'he', 'him', 'his', 'himself', 'she', "she's",
                            'her', 'hers', 'herself', 'it', "it's", 'its',
                            'itself', ...],
                strip_accents=None, token_pattern='\\b[a-z][a-z]+\\b',
                tokenizer=None, vocabulary=None)

In [177]:
# Create the term-document matrix
# Transpose it so the terms are the rows(for gensim?)
doc_word = count_vectorizer.transform(cld_withphotos).transpose()
doc_word.shape #without transpose, document-term

(101747, 2225)

In [178]:
pd.DataFrame(doc_word.toarray(), count_vectorizer.get_feature_names()).head()

,0,1,2,3,4,5,6,7,8,9,...,2215,2216,2217,2218,2219,2220,2221,2222,2223,2224
abd,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
abd boiled,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
able,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
able cover,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
able hold,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [179]:
#convert SciPy matrix to Gensim friendly corpus:
corpus = matutils.Sparse2Corpus(doc_word)

Map matrix rows to words (tokens)

save a mapping (dict) of row id to word (token) for later use by gensim:

In [180]:
id2word = dict((v, k) for k, v in count_vectorizer.vocabulary_.items())
len(id2word)

101747

#### Creating an LDA model
It requires our corpus of word counts, mapping of row ids to words, and the number of topics (3).

In [181]:
#without additional custom stopwords, LDA topics not as distinct as NMF ones, also have some strange phrases
#went back to edit stopwords, to remove minutes, add, remove

#also try TF-IDF vectorization?

In [182]:
lda = models.LdaModel(corpus=corpus, num_topics=20, id2word=id2word, passes=5) #slow? ~1min

In [183]:
lda.print_topics()
#10 most important words for 20 topics, 5 passes

[(0,
  '0.005*"jars" + 0.003*"brandy rum" + 0.002*"sauce little" + 0.002*"sterilised" + 0.002*"sterilised jars" + 0.001*"zester" + 0.001*"based saucepan" + 0.001*"pan leaves" + 0.001*"base pan" + 0.001*"sterilise"'),
 (1,
  '0.017*"dough" + 0.009*"bowl" + 0.009*"icing" + 0.008*"baking" + 0.007*"sugar" + 0.007*"place" + 0.006*"chocolate" + 0.006*"surface" + 0.006*"roll" + 0.006*"mixture"'),
 (2,
  '0.002*"leave chicken" + 0.001*"vanilla pods" + 0.001*"chop butter" + 0.001*"large dish" + 0.001*"dust cocoa" + 0.001*"processor whiz" + 0.001*"whiz smooth" + 0.001*"carefully hot" + 0.001*"half biscuits" + 0.001*"job taste"'),
 (3,
  '0.011*"pastry" + 0.011*"pudding" + 0.008*"basin" + 0.008*"job" + 0.007*"water" + 0.005*"flour" + 0.005*"foil" + 0.005*"dough" + 0.005*"kid" + 0.005*"kid job"'),
 (4,
  '0.003*"stock absorbed" + 0.002*"ladleful" + 0.002*"ladleful stock" + 0.001*"little freshly" + 0.001*"flour cover" + 0.001*"soft rice" + 0.001*"everything coated" + 0.001*"walnut oil" + 0.001*"another ladleful" + 0.001*"bowl another"'),
 (5,
  '0.003*"syrup" + 0.002*"heat" + 0.002*"blended" + 0.002*"whisking" + 0.002*"chocolate butter" + 0.002*"cream" + 0.001*"continue" + 0.001*"oven stir" + 0.001*"cheese stir" + 0.001*"minute place"'),
 (6,
  '0.001*"place bulgur" + 0.001*"spelt" + 0.000*"rum babas" + 0.000*"ale" + 0.000*"spelt mixture" + 0.000*"oz ale" + 0.000*"lettuce halves" + 0.000*"cabbage mixture" + 0.000*"lettuces" + 0.000*"browned crispy"'),
 (7,
  '0.008*"trout" + 0.007*"croquettes" + 0.005*"bread" + 0.003*"well" + 0.003*"place" + 0.003*"together" + 0.003*"lemon" + 0.003*"leaves" + 0.003*"cheesecakes" + 0.003*"croquette"'),
 (8,
  '0.002*"warm milk" + 0.002*"paste small" + 0.002*"cook gentle" + 0.001*"gentle heat" + 0.001*"smooth whisk" + 0.001*"continuously whisk" + 0.001*"biscuits plastic" + 0.001*"butter bring" + 0.001*"heat" + 0.001*"crush rolling"'),
 (9,
  '0.029*"cake" + 0.011*"cm" + 0.009*"top" + 0.009*"icing" + 0.008*"sugar" + 0.006*"tin" + 0.005*"mixture" + 0.005*"bowl" + 0.005*"cream" + 0.005*"cm cake"'),
 (10,
  '0.009*"water" + 0.009*"chicken" + 0.009*"place" + 0.007*"oil" + 0.007*"coriander" + 0.007*"heat" + 0.007*"lime" + 0.007*"fish" + 0.006*"juice" + 0.006*"serve"'),
 (11,
  '0.012*"oven" + 0.009*"mixture" + 0.009*"pastry" + 0.007*"place" + 0.007*"bowl" + 0.007*"tin" + 0.006*"butter" + 0.006*"top" + 0.006*"sugar" + 0.005*"heat"'),
 (12,
  '0.017*"stir" + 0.017*"heat" + 0.012*"fry" + 0.009*"pan" + 0.008*"rice" + 0.008*"cook" + 0.007*"oil" + 0.007*"lentils" + 0.006*"stir fry" + 0.006*"simmer"'),
 (13,
  '0.002*"jam hot" + 0.002*"pods" + 0.002*"freezer" + 0.002*"whisk" + 0.002*"pour mixture" + 0.002*"slowly whisk" + 0.001*"meanwhile whisk" + 0.001*"container freeze" + 0.001*"freezer proof" + 0.001*"hot cream"'),
 (14,
  '0.010*"dough" + 0.009*"place" + 0.007*"bowl" + 0.007*"mix" + 0.006*"oven" + 0.006*"oil" + 0.005*"side" + 0.004*"leave" + 0.004*"onto" + 0.003*"large"'),
 (15,
  '0.017*"heat" + 0.015*"pan" + 0.011*"oil" + 0.011*"cook" + 0.009*"salt" + 0.009*"pepper" + 0.007*"season" + 0.007*"stir" + 0.007*"sauce" + 0.007*"fry"'),
 (16,
  '0.001*"form even" + 0.001*"lidded jar" + 0.001*"store tightly" + 0.001*"away heat" + 0.001*"arrange sliced" + 0.001*"heat sunlight" + 0.001*"possible store" + 0.001*"jar away" + 0.001*"tightly lidded" + 0.001*"sunlight"'),
 (17,
  '0.001*"crushed dried" + 0.001*"dressing sprinkle" + 0.001*"teriyaki sauce" + 0.001*"teriyaki" + 0.001*"beef middle" + 0.001*"tofu stir" + 0.001*"paste thick" + 0.001*"move much" + 0.001*"teaspoon vegetable" + 0.001*"together light"'),
 (18,
  '0.011*"mixture" + 0.007*"cream" + 0.007*"whisk" + 0.007*"spoon" + 0.005*"mascarpone" + 0.005*"egg" + 0.005*"fold" + 0.004*"bowl" + 0.004*"sugar" + 0.004*"sugar together"'),
 (19,
  '0.017*"turkey" + 0.014*"juices" + 0.010*"roasting" + 0.007*"gammon" + 0.007*"gravy" + 0.007*"tray" + 0.006*"roasting tray" + 0.006*"skin" + 0.005*"juices run" + 0.005*"chicken"')]

20 topics, 5 passes

0. dessert - pastry
1. dessert - cake
2. dessert - cream, mascarpone
3. chicken salad
4. ? pan, heat, sugar
5. beef, yorkshire pudding
6. ? sieving flour
7. dessert - pudding
8. fishcakes
9. fish chowder
10. fish fillets
11. rice and chicken stir fry
12. ? veg and fish
13. ? lentils and fish
14. ? eggs and stock
15. savoury tart? bacon and onions
16. ? pan, heat, oil
17. baked chicken, fish
18. soy, icing? dessert?
19. ? japanese mayo and mulled wine

**LDA is stochastic! will get different topics each time we run it!** -- problematic for assigning documents to topics

In [184]:
lda20_10passes = models.LdaModel(corpus=corpus, num_topics=20, id2word=id2word, passes=10)
#compare 10 passes with 5 passes above, do more passes give better topics?
lda20_10passes.print_topics()

[(0,
  '0.001*"sauce spaghetti" + 0.001*"duck legs" + 0.001*"duck fat" + 0.000*"hot enough" + 0.000*"reserved duck" + 0.000*"duck meat" + 0.000*"beans spinach" + 0.000*"parfait" + 0.000*"check oil" + 0.000*"give batter"'),
 (1,
  '0.017*"oil" + 0.014*"pan" + 0.012*"heat" + 0.008*"fry" + 0.006*"cook" + 0.006*"bowl" + 0.006*"salt" + 0.005*"frying" + 0.005*"frying pan" + 0.005*"drain"'),
 (2,
  '0.013*"place" + 0.012*"oven" + 0.008*"salt" + 0.007*"oil" + 0.007*"bowl" + 0.007*"mix" + 0.007*"pepper" + 0.007*"chicken" + 0.005*"serve" + 0.005*"season"'),
 (3,
  '0.003*"spoon yoghurt" + 0.001*"bruise" + 0.001*"almond milk" + 0.001*"browned put" + 0.001*"make vinaigrette" + 0.001*"pour top" + 0.001*"squeeze fresh" + 0.000*"clam" + 0.000*"help create" + 0.000*"soup mixture"'),
 (4,
  '0.032*"cake" + 0.023*"cm" + 0.011*"cm cake" + 0.010*"icing" + 0.009*"board" + 0.008*"cake board" + 0.008*"top" + 0.006*"cakes" + 0.005*"repeat" + 0.005*"around"'),
 (5,
  '0.015*"lime" + 0.013*"stir fry" + 0.011*"wok" + 0.011*"soy" + 0.010*"soy sauce" + 0.010*"sauce" + 0.008*"chicken" + 0.008*"paste" + 0.007*"curry" + 0.007*"lime juice"'),
 (6,
  '0.006*"dressing" + 0.005*"noodles" + 0.004*"churros" + 0.004*"fillets" + 0.004*"steamer" + 0.003*"coconut" + 0.003*"put" + 0.003*"fruit" + 0.003*"fillets top" + 0.003*"sea bass"'),
 (7,
  '0.001*"lengthways scrape" + 0.001*"mix feta" + 0.001*"granita" + 0.000*"vinegar reduce" + 0.000*"anchovies" + 0.000*"bring liquid" + 0.000*"celery softened" + 0.000*"chilli continue" + 0.000*"lamb chunks" + 0.000*"serve granita"'),
 (8,
  '0.008*"job" + 0.007*"base" + 0.007*"chocolate" + 0.006*"cheesecake" + 0.006*"cream" + 0.006*"place" + 0.005*"mixture" + 0.005*"bowl" + 0.005*"kid" + 0.005*"kid job"'),
 (9,
  '0.007*"fish" + 0.006*"fillets" + 0.003*"salmon" + 0.003*"haddock" + 0.003*"blanc" + 0.003*"beurre blanc" + 0.003*"eggs" + 0.003*"boiling" + 0.002*"steamer" + 0.002*"chowder"'),
 (10,
  '0.004*"tin base" + 0.002*"syrup" + 0.002*"whisk" + 0.002*"tin lay" + 0.002*"way place" + 0.002*"rest filling" + 0.002*"surface gather" + 0.002*"blended" + 0.002*"whisking" + 0.002*"leave mixture"'),
 (11,
  '0.001*"watermelon" + 0.001*"lolly" + 0.001*"freezer overnight" + 0.001*"lolly moulds" + 0.001*"ice lolly" + 0.001*"dissolves heat" + 0.001*"dissolves" + 0.001*"sugar dissolves" + 0.000*"moulds place" + 0.000*"knots"'),
 (12,
  '0.023*"heat" + 0.018*"pan" + 0.013*"cook" + 0.012*"stir" + 0.008*"water" + 0.008*"simmer" + 0.008*"fry" + 0.008*"sauce" + 0.007*"bring" + 0.007*"oil"'),
 (13,
  '0.001*"chop vegetables" + 0.001*"pur pan" + 0.001*"remaining garlic" + 0.001*"processor whiz" + 0.001*"whiz smooth" + 0.001*"along herbs" + 0.001*"mushrooms carrots" + 0.001*"shape patties" + 0.001*"whiz" + 0.001*"herbs spices"'),
 (14,
  '0.001*"mussels" + 0.001*"cheeks" + 0.001*"tartlet" + 0.000*"chickens" + 0.000*"ox cheeks" + 0.000*"ox" + 0.000*"gooseberries" + 0.000*"discard open" + 0.000*"gooseberry" + 0.000*"beards"'),
 (15,
  '0.024*"dough" + 0.009*"roll" + 0.009*"place" + 0.008*"flour" + 0.006*"pastry" + 0.006*"water" + 0.006*"surface" + 0.006*"bowl" + 0.006*"oven" + 0.005*"baking"'),
 (16,
  '0.004*"lime leaves" + 0.004*"thai" + 0.003*"milk fish" + 0.003*"curry paste" + 0.002*"chicken browned" + 0.002*"sugar snap" + 0.002*"snap peas" + 0.002*"snap" + 0.002*"sweet sour" + 0.002*"lime"'),
 (17,
  '0.015*"oven" + 0.008*"batter" + 0.007*"tin" + 0.005*"muffin" + 0.005*"flour" + 0.005*"pudding" + 0.004*"beef" + 0.004*"yorkshire" + 0.004*"fat" + 0.004*"milk"'),
 (18,
  '0.012*"mixture" + 0.011*"sugar" + 0.010*"bowl" + 0.010*"cake" + 0.007*"tin" + 0.007*"icing" + 0.007*"oven" + 0.007*"cool" + 0.006*"cream" + 0.006*"whisk"'),
 (19,
  '0.027*"pastry" + 0.010*"oven" + 0.008*"together" + 0.008*"mixture" + 0.008*"tin" + 0.007*"baking" + 0.007*"egg" + 0.006*"sugar" + 0.006*"butter" + 0.006*"bake"')]

20 topics, 10 passes - might be too many? But topic #17 is roast chicken and turkey!

0. hamburger (assemble with kids)
1. ?
2. beef, egg batter
3. dessert - butter, yogurt, fruit and jam
4. indian
5. dessert - cake
6. ?
7. dessert - pastry
8. salad/dessert
9. grill/bbq
10. chips and dip
11. tacos?
12. thai noodles
13. ? corn and stevia
14. baking
15. ? boiled
16. ? pickles
17. roast turkey and chicken!
18. ?
19. ? similar to 18

In [185]:
lda20_15passes = models.LdaModel(corpus=corpus, num_topics=20, id2word=id2word, passes=15) #very slow, stuck?
#do more passes give better topics?
lda20_15passes.print_topics()

[(0,
  '0.038*"cake" + 0.019*"icing" + 0.013*"cm" + 0.009*"sugar" + 0.009*"tin" + 0.009*"top" + 0.007*"chocolate" + 0.007*"beat" + 0.006*"using" + 0.006*"cakes"'),
 (1,
  '0.004*"pancakes" + 0.003*"pancake" + 0.002*"cook golden" + 0.001*"cm non" + 0.001*"pancakes warm" + 0.001*"milk food" + 0.001*"remaining batter" + 0.001*"repeat remaining" + 0.001*"pancake cook" + 0.001*"keep cooked"'),
 (2,
  '0.002*"spoon yoghurt" + 0.001*"smooth alternatively" + 0.001*"onion chopped" + 0.001*"lard large" + 0.001*"sprinkle fresh" + 0.001*"curry sprinkle" + 0.001*"blitz smooth" + 0.001*"dark rye" + 0.001*"stir coated" + 0.001*"lentils saucepan"'),
 (3,
  '0.000*"ml floz" + 0.000*"floz" + 0.000*"version" + 0.000*"torn" + 0.000*"salady" + 0.000*"seedless delectably" + 0.000*"chopped tending" + 0.000*"quarters chunky" + 0.000*"tending towards" + 0.000*"black olives"'),
 (4,
  '0.004*"griddle" + 0.003*"iron" + 0.003*"cakes" + 0.003*"iron griddle" + 0.003*"splash milk" + 0.002*"welsh cakes" + 0.002*"welsh" + 0.002*"side lightly" + 0.002*"parts spring" + 0.002*"three side"'),
 (5,
  '0.002*"together vinegar" + 0.001*"pasta machine" + 0.001*"ingredients serve" + 0.001*"onions cucumber" + 0.001*"lobster" + 0.001*"coats salad" + 0.001*"vinegar honey" + 0.001*"herbs like" + 0.001*"meanwhile pan" + 0.001*"small oven"'),
 (6,
  '0.027*"chicken" + 0.008*"marinade" + 0.008*"place" + 0.006*"mix" + 0.005*"cooked" + 0.005*"pieces" + 0.005*"bowl" + 0.005*"ingredients" + 0.005*"oven" + 0.005*"juices"'),
 (7,
  '0.003*"bamboo skewers" + 0.002*"chilli cumin" + 0.001*"large griddle" + 0.001*"brown griddle" + 0.001*"thread chicken" + 0.001*"occasionally browned" + 0.001*"marinade stir" + 0.001*"combine leave" + 0.001*"pre soaked" + 0.001*"shapes around"'),
 (8,
  '0.003*"burgers" + 0.003*"dip" + 0.003*"lemon" + 0.003*"cucumber" + 0.002*"juice olive" + 0.002*"place tomatoes" + 0.002*"tahini" + 0.002*"oil thyme" + 0.002*"pastry needs" + 0.002*"grater"'),
 (9,
  '0.012*"heat" + 0.012*"mixture" + 0.010*"pan" + 0.009*"sugar" + 0.008*"set" + 0.008*"water" + 0.007*"bowl" + 0.007*"place" + 0.007*"stir" + 0.006*"cream"'),
 (10,
  '0.022*"job" + 0.014*"kid job" + 0.014*"kid" + 0.009*"adult" + 0.008*"adult job" + 0.004*"vegetables" + 0.003*"want" + 0.003*"jars" + 0.003*"like" + 0.003*"kids"'),
 (11,
  '0.001*"glass garnish" + 0.000*"cocktail shaker" + 0.000*"shaker" + 0.000*"martini glass" + 0.000*"shaker shake" + 0.000*"lemon orange" + 0.000*"chop herbs" + 0.000*"hot knife" + 0.000*"herbs finely" + 0.000*"mixture martini"'),
 (12,
  '0.002*"tomatoes garlic" + 0.002*"blended together" + 0.002*"juices released" + 0.001*"greek style" + 0.001*"style yoghurt" + 0.001*"marrow" + 0.001*"mince mixture" + 0.001*"place tomatoes" + 0.001*"pepper garlic" + 0.001*"scrambled"'),
 (13,
  '0.007*"chops" + 0.004*"fishcakes" + 0.003*"pork chops" + 0.003*"brandy rum" + 0.002*"sausage rolls" + 0.002*"tabasco sauce" + 0.002*"tuna" + 0.002*"top potatoes" + 0.002*"remaining dressing" + 0.002*"dried fruits"'),
 (14,
  '0.019*"oven" + 0.011*"place" + 0.008*"tin" + 0.007*"gas" + 0.007*"top" + 0.007*"butter" + 0.006*"bowl" + 0.006*"pan" + 0.006*"mixture" + 0.006*"preheat oven"'),
 (15,
  '0.005*"brownies" + 0.003*"basket" + 0.002*"soaks" + 0.002*"tofu" + 0.002*"brownie" + 0.002*"vanilla essence" + 0.002*"essence" + 0.002*"xx" + 0.002*"smooth well" + 0.001*"fold mixture"'),
 (16,
  '0.016*"whisk" + 0.014*"egg" + 0.010*"mixture" + 0.009*"cream" + 0.007*"egg whites" + 0.007*"whites" + 0.006*"bowl" + 0.006*"mascarpone" + 0.005*"whisk egg" + 0.005*"peaks"'),
 (17,
  '0.017*"heat" + 0.014*"pan" + 0.013*"oil" + 0.011*"cook" + 0.010*"salt" + 0.010*"pepper" + 0.009*"stir" + 0.008*"season" + 0.008*"fry" + 0.007*"sauce"'),
 (18,
  '0.011*"baking" + 0.009*"oven" + 0.009*"flour" + 0.008*"dough" + 0.007*"together" + 0.007*"mix" + 0.007*"bowl" + 0.007*"tray" + 0.006*"butter" + 0.006*"milk"'),
 (19,
  '0.017*"pastry" + 0.012*"dough" + 0.009*"oven" + 0.007*"baking" + 0.007*"place" + 0.007*"roll" + 0.007*"bowl" + 0.006*"egg" + 0.006*"together" + 0.006*"flour"')]

In [186]:
lda_10 = models.LdaModel(corpus=corpus, num_topics=10, id2word=id2word, passes=20)

In [187]:
lda_10.print_topics()#20 most important words for 10 topics

[(0,
  '0.003*"duck" + 0.002*"dripping" + 0.001*"parts" + 0.001*"beef dripping" + 0.001*"pancakes" + 0.001*"red onions" + 0.001*"parts spring" + 0.001*"onions potatoes" + 0.001*"pour tall" + 0.001*"tomatoes olives"'),
 (1,
  '0.009*"job" + 0.006*"kid job" + 0.006*"kid" + 0.004*"adult" + 0.003*"adult job" + 0.002*"vegetables" + 0.002*"lemon" + 0.002*"want" + 0.002*"like" + 0.002*"crumble"'),
 (2,
  '0.003*"jars" + 0.002*"jam" + 0.001*"place ribs" + 0.001*"boil" + 0.001*"sugar" + 0.001*"boil cook" + 0.001*"evaporated" + 0.001*"almost evaporated" + 0.001*"almost" + 0.001*"hot"'),
 (3,
  '0.004*"croquettes" + 0.001*"croquette" + 0.001*"top frying" + 0.001*"flour milk" + 0.001*"pasta broccoli" + 0.001*"top grated" + 0.001*"tomatoes using" + 0.001*"whiz" + 0.001*"cheese place" + 0.001*"melted season"'),
 (4,
  '0.013*"heat" + 0.012*"pan" + 0.010*"oil" + 0.009*"cook" + 0.007*"salt" + 0.007*"stir" + 0.007*"pepper" + 0.006*"water" + 0.006*"fry" + 0.006*"serve"'),
 (5,
  '0.007*"pasta" + 0.002*"machine" + 0.002*"flour" + 0.002*"ready" + 0.001*"oranges" + 0.001*"sieve" + 0.001*"use" + 0.001*"strip" + 0.001*"frozen" + 0.001*"blended"'),
 (6,
  '0.007*"lemon" + 0.004*"juice" + 0.003*"peel" + 0.003*"finely" + 0.003*"chop" + 0.003*"half" + 0.002*"cut" + 0.002*"place" + 0.002*"finely chop" + 0.002*"ingredients"'),
 (7,
  '0.008*"oven" + 0.006*"place" + 0.005*"water" + 0.005*"foil" + 0.004*"pudding" + 0.004*"top" + 0.004*"chicken" + 0.004*"cover" + 0.004*"turkey" + 0.003*"roasting"'),
 (8,
  '0.011*"mixture" + 0.008*"sugar" + 0.008*"bowl" + 0.007*"oven" + 0.007*"place" + 0.006*"heat" + 0.006*"cream" + 0.006*"butter" + 0.005*"tin" + 0.005*"cool"'),
 (9,
  '0.011*"pastry" + 0.010*"cake" + 0.009*"dough" + 0.007*"icing" + 0.007*"cm" + 0.007*"oven" + 0.005*"baking" + 0.005*"bowl" + 0.005*"roll" + 0.005*"together"')]

Not many repeated words across 10 topics which is good. Can probably have more topics? 

Topics: (*get different topics for diff number of passes - when does it converge?)

0. ? cocktail (crepes? special char not english)
1. kid-friendly
2. ice lolly
3. dessert - pastry
4. dessert - pastry
5. dessert - chocolate, meringue
6. teriyaki
7. ? pan
8. dessert - cake
9. ? corn and game meat?

20 topics seem better than 10, use lda above

In [188]:
#* can set a large number (50 or 100) to make sure it converges, then compare 20 with 10 topics!

##### 20 topics, 100 passes

*Gensim can run in parallel? 100 and 50 passes both >5min30s, converged

In [189]:
lda20_100passes = models.LdaModel(corpus=corpus, num_topics=20, id2word=id2word, passes=100) #very slow, stuck?
lda20_100passes.print_topics() #compare with 5,10,15 passes above?

[(0,
  '0.012*"pan" + 0.011*"heat" + 0.011*"pasta" + 0.011*"cook" + 0.007*"sauce" + 0.006*"stir" + 0.005*"large" + 0.005*"gently" + 0.005*"put" + 0.004*"frying"'),
 (1,
  '0.007*"fillets" + 0.004*"beurre" + 0.004*"haddock" + 0.003*"blanc" + 0.003*"beurre blanc" + 0.003*"smoked haddock" + 0.003*"walnuts" + 0.003*"chowder" + 0.002*"haddock fillets" + 0.002*"lamb"'),
 (2,
  '0.014*"mixture" + 0.011*"sugar" + 0.010*"pastry" + 0.008*"oven" + 0.008*"bowl" + 0.007*"tin" + 0.007*"cream" + 0.007*"egg" + 0.007*"whisk" + 0.006*"together"'),
 (3,
  '0.013*"place" + 0.013*"oven" + 0.010*"salt" + 0.009*"pepper" + 0.008*"oil" + 0.008*"bowl" + 0.007*"mix" + 0.007*"season" + 0.006*"well" + 0.006*"preheat"'),
 (4,
  '0.002*"topping ingredients" + 0.002*"remaining fruit" + 0.002*"slice bread" + 0.001*"back cling" + 0.001*"another slice" + 0.001*"evaporated sugar" + 0.001*"peel back" + 0.001*"beans top" + 0.001*"eggs using" + 0.001*"boil cook"'),
 (5,
  '0.000*"matchstick" + 0.000*"matchstick potatoes" + 0.000*"pork pan" + 0.000*"another teaspoon" + 0.000*"lovage" + 0.000*"high cut" + 0.000*"juices pour" + 0.000*"instead olives" + 0.000*"sides fit" + 0.000*"squashy releasing"'),
 (6,
  '0.006*"pancakes" + 0.006*"pancake" + 0.002*"remaining batter" + 0.001*"pancakes warm" + 0.001*"cm non" + 0.001*"low temperature" + 0.001*"pancake cook" + 0.001*"wrapping" + 0.001*"keep cooked" + 0.001*"temperature oven"'),
 (7,
  '0.016*"cake" + 0.009*"icing" + 0.009*"sugar" + 0.008*"top" + 0.008*"mixture" + 0.008*"tin" + 0.008*"bowl" + 0.008*"cm" + 0.007*"oven" + 0.007*"cool"'),
 (8,
  '0.014*"chicken" + 0.010*"job" + 0.010*"turkey" + 0.010*"oven" + 0.008*"roasting" + 0.008*"pork" + 0.007*"juices" + 0.007*"marinade" + 0.006*"kid" + 0.006*"kid job"'),
 (9,
  '0.002*"sides deep" + 0.002*"dish generously" + 0.001*"cook prawns" + 0.001*"pie place" + 0.001*"cream stiff" + 0.001*"sugar medium" + 0.001*"top hot" + 0.001*"sugar necessary" + 0.001*"zest blend" + 0.001*"wilted spinach"'),
 (10,
  '0.001*"skewers cook" + 0.001*"marinade stir" + 0.001*"lobster" + 0.000*"heat ridged" + 0.000*"grill pan" + 0.000*"pork wok" + 0.000*"cleaver" + 0.000*"ridged grill" + 0.000*"marinate chicken" + 0.000*"lobster heat"'),
 (11,
  '0.002*"water tender" + 0.002*"cod" + 0.002*"omelette" + 0.002*"well refresh" + 0.002*"fish roasting" + 0.002*"chilli cumin" + 0.002*"dish fill" + 0.002*"lumps flour" + 0.002*"lime leaves" + 0.002*"beans pan"'),
 (12,
  '0.005*"slice" + 0.004*"bread" + 0.003*"berries" + 0.003*"inside" + 0.003*"grated chocolate" + 0.002*"cling film" + 0.002*"cling" + 0.002*"film" + 0.002*"slices" + 0.002*"end"'),
 (13,
  '0.000*"roughened" + 0.000*"anchovy fillets" + 0.000*"fillets help" + 0.000*"flowers basil" + 0.000*"courgette flowers" + 0.000*"dissolve anchovy" + 0.000*"followed courgette" + 0.000*"immediately individual" + 0.000*"stage ladles" + 0.000*"pan sweat"'),
 (14,
  '0.002*"cut eggs" + 0.002*"bring room" + 0.001*"tabbouleh" + 0.001*"tablespoons fat" + 0.001*"bread serve" + 0.001*"piri" + 0.001*"tomato half" + 0.001*"lemon balm" + 0.001*"balm" + 0.001*"juices cook"'),
 (15,
  '0.003*"dripping" + 0.002*"beef" + 0.002*"cm beef" + 0.002*"beef dripping" + 0.002*"place cm" + 0.002*"batter leave" + 0.002*"roasting tray" + 0.002*"batter" + 0.002*"bottom" + 0.002*"flour pinch"'),
 (16,
  '0.020*"dough" + 0.013*"pastry" + 0.009*"roll" + 0.008*"flour" + 0.007*"place" + 0.007*"oven" + 0.007*"bowl" + 0.006*"surface" + 0.006*"baking" + 0.006*"egg"'),
 (17,
  '0.001*"muffin holes" + 0.001*"eight holes" + 0.001*"peelings" + 0.000*"simmer cooked" + 0.000*"nog" + 0.000*"egg nog" + 0.000*"sundae" + 0.000*"sundae glasses" + 0.000*"lollies" + 0.000*"cut equal"'),
 (18,
  '0.022*"heat" + 0.019*"pan" + 0.012*"cook" + 0.011*"stir" + 0.011*"oil" + 0.010*"fry" + 0.009*"water" + 0.008*"sauce" + 0.007*"simmer" + 0.006*"serve"'),
 (19,
  '0.002*"syrup" + 0.002*"blended" + 0.001*"whisking" + 0.001*"cream machine" + 0.001*"machine" + 0.001*"minute place" + 0.001*"begin whisking" + 0.001*"thread" + 0.001*"machine churn" + 0.001*"heat dissolve"')]

##### 10 topics, 100 passes

In [ ]:
lda10_100passes = models.LdaModel(corpus=corpus, num_topics=10, id2word=id2word, passes=100) #very slow, stuck?
lda10_100passes.print_topics()

In [ ]:
#LDA is problematic because topics change each time the code is run; go back to use NMF topics to assign labels to recipes

#### Map documents to Topic space, using LDA Transformer

In [ ]:
# Transform the docs from the word space to the topic space (like "transform" in sklearn)
#lda_corpus = lda[corpus]
#lda_corpus

In [ ]:
# Store the documents' topic vectors in a list
#lda_docs = [doc for doc in lda_corpus]

In [ ]:
#document vectors in the topic space -- measures of the component of each document along each topic
# Check out the document vectors in the topic space for the first 5 documents 
#(out of 20 topics, expect most will have fewer than 3)  #10 passes
#lda_docs[0:5]

In this case, first document is 19 or 18 (they have similar words), 2nd is most similar to topic 5, 3rd is topic 18, 4th is topic 5, 5th is topic 19

In [192]:
#check actual documents to see if results make sense
cld_withphotos.head()#just instructions

1       cook the pasta in a pan of boiling salted wa...
2       to make the basic dough  line a baking tray ...
3       preheat the oven to c c fan gas      for the...
7       preheat the oven to c f gas      take a very...
18      preheat the oven to c c fan gas      heat g ...
Name: instructions, dtype: object

In [193]:
withphotos.title.head()

1                                       15 minute pasta
2                                          3D biscuits
3                               2-hour Christmas dinner
7     A classic sponge cake (with passion fruit fill...
18            Albanian baked lamb with rice (Tavë kosi)
Name: title, dtype: object

the 2nd and 4th recipe in the subset with photos are indeed desserts (topic 5) (20 topics, 10 passes?)

In [199]:
withphotos.title

1                                          15 minute pasta
2                                             3D biscuits
3                                  2-hour Christmas dinner
7        A classic sponge cake (with passion fruit fill...
18               Albanian baked lamb with rice (Tavë kosi)
                               ...
10574                                   Yorkshire puddings
10576                           Yorkshire ‘tapas’ puddings
10582                                             Yule log
10585                             Za’atar cod with relish
10589                                Zesty tofu cheesecake
Name: title, Length: 2225, dtype: object

----

### Clustering on topics - Assign image to topics/cluster?

Dec. 3
*Roberto: after getting document-topic matrix, can either assign document to topic with highest weight, or cluster in topic space (documents are points in that space)!

In [ ]:
#kmeans clustering:
# from sklearn.externals import joblib

# #uncomment the below to save your model 
# #since I've already run my model I am loading from the pickle

# #joblib.dump(km,  'doc_cluster.pkl')

# km = joblib.load('doc_cluster.pkl')
# clusters = km.labels_.tolist()
#http://brandonrose.org/clustering - also has LDA example

    #for clustering on topics, may need cos sim/euc dist of topics first?

In [ ]:
#try kmeans (or DBSCAN?) on local or AWS - separate from topic results? ask
    #assign each image to cluster, then find cluster of test image, find cosine similarity (0.5-1day?)
    #pickle and move to Flask

also:
https://datascience.stackexchange.com/questions/19991/cluster-documents-based-on-topic-similarity/19999?noredirect=1#comment23532_19999
> Topics are clusters
> There is next to no difference between subspace clustering and topic modeling, except maybe that text is sparse and integer while subspace clusterers usually assume dense and continuous data.
So rather than trying to cluster again, just use your topics.
Yes, documents can belong to multiple topics. That is because text usually is this way, and forcing everything to have a unique label reduces the quality, because it cannot reflect reality anymore.
 If you insist every document should have a unique cluster, just use argmax(topic weights).

> (why topic modelling is not used for classification) Topic modeling produces a number of topics for tokens in your text. Overall, you end up with a number of different topics (even per sentence) and in lots of texts there will be multiple prominent topic with high scores. That doesn't help you determine which class the text belongs to overall.
https://www.quora.com/Why-isnt-topic-modelling-used-more-for-document-classification

topic modelling with LDA example https://www.analyticsvidhya.com/blog/2016/08/beginners-guide-to-topic-modeling-in-python/ *

In [ ]:
#argmax(topic weights) - from topic modelling output? get topic weights for new image, then cos sim
    #would need to assign each of the 2k images to its top topic
#also under topic modelling lecture: LDA+gensim example notebook

#if use topic modelling and LDA, don't actually make use of the 10 topics I already have (repeating work?)
    #didn't use them for prediction in project4 either, want to improve on that

In [ ]:
#(Also, how to incorporate this with user uploaded info (ingredient or cuisine type?)--may not need that if sep into topics/clusters?)